%map{ :version => '1', :lang => 'es' }
  %concept
    %names edad-moderna
    %context orígenes, estado
    %tags periodo, tiempo, siglo, XV, XVIII
    %text Periodo de tiempo histórico que comienza en el siglo XV y se prolonga hasta el siglo XVIII.
    %text Es un periodo de tiempo donde la forma de estado es la monarquía autoritaria.
    %text Es un periodo de tiempo donde se sientan las bases del capitalismo comercial.

  %concept
    %names monarquía-autoritaria
    %context orígenes, estado 
    %tags edad-moderna, forma, estado, sistema, político
    %text [*] es la consolidación del poder del rey frente a los señores feudales.
    %text [*] significa los mismo que monarquía absoluta.
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col Señores feudales
        %col sometidos al rey.

  %concept
    %names capitalismo
    %context orígenes, estado 
    %tags edad-moderna, forma, estado, sistema, político
    %text [*] es un sistema económico cuyas bases ideológicas están en A. Smith que defiende la no intervención del estado en la economía.
    %text [*] igual a economía de libre mercado.
    %text [*] es igual a liberalismo económico.
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col Periodo de desarrollo
        %col entre el siglo XV y principio del siglo XX
      %row
        %col Se basa en el término económico
        %col Ley de oferta y demanda.
    
  %concept
    %names capitalismo-comercial
    %context orígenes, estado 
    %tags edad-moderna, forma, estado, sistema, político
    %text [*] es el libre intercambio de mercancías entre estados.

  %concept
    %names humanismo
    %context orígenes, estado 
    %tags edad-moderna, forma, estado, sistema, político
    %text [*] corriente cultural difundida por Europa en el siglo XV.
    %table{ :fields => 'ideas, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col El hombre nuevo
        %col El hombre es un reflejo de Dios.
      %row
        %col La libertad y la razón
        %col Dios ha creado al hombre libre. El hombre busca la verdad a través de la investigación científica.
