%map{ :lang => 'es', :context => 'personaje, starwars', :version => '1'}

  %concept
    %names obiwan, obi-wan
    %tags maestro, jedi, profesor, anakin, skywalker, alumno, quigon-jinn
    %def Jedi, maestro de Anakin Skywalker
    %def Jedi, alumno de Quigon-Jinn
    %def Vive en Tatooine, cerca de la casa de Luke Skywalker
    %def{:type => 'image_url'} https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQgYLLr0mmBtdMoqqzxWT6OGWKeBBeTqGAQPgEkmVGIIKNKb8Yv
    %table{ :fields => 'atributo, valor' }
      %row
        %col raza
        %col humano
      %row
        %col color sable laser
        %col verde
      %row
        %col color del pelo
        %col pelirojo

  %concept
    %names yoda
    %tags maestro, jedi
    %def Jedi, maestro de todos los jedis
    %def Fue el Gran Maestro de la Orden Jedi y uno de los miembros más importantes del Alto Consejo Jedi en los últimos días de la República Galáctica.
    %def Tenía habilidades excepcionales en el combate con sables de luz, empleando técnicas acrobáticas del Ataru.
    %def Era un maestro en todas las formas del combate con sables de luz y era considerado por muchos como un Maestro de Espadas.
    %def{:type=>'image_url'}https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcR3UZKfQH3kY7HUgPJyV5B2h4YgCfg338QXJbvPtAkQ4JdTxWFUlQ
    %table{ :fields => 'atributo, valor' }
      %row
        %col color sable laser
        %col verde
      %row
        %col color del pelo
        %col blanco
      %row
        %col color de piel
        %col verde
      %row
        %col altura
        %col 65 centímetros
