%map{ :lang => 'en', :context => 'character, starwars', :version => '1'}

  %concept
    %names obiwan
    %tags jedi, teacher, annakin, skywalker, pupil, quigon-jinn
    %def Jedi, teacher of Annakin  Skywalker
    %def Jedi, pupil of Quigon-Jinn
    %table{ :fields => 'attribute, value' }
      %row
        %col race
        %col human
      %row
        %col laser_sabel_color
        %col green
      %row
        %col hair_color
        %col red

  %concept
    %names yoda
    %tags teacher, jedi
    %def Jedi, teacher of all jedis
    %def The Main Teacher of Jedi and one of the most important members of the Main Jedi Council, in the last days of Star Republic.
    %def He has exceptional combat abilities with light sable, using acrobatics tecnics from Ataru.
    %def He was master of all light sable combat styles and was considered during years as a Sword Master.    
    %table{ :fields => 'attribute, value' }
      %row
        %col color_laser_sabel
        %col green
      %row
        %col hair_color
        %col white
      %row
        %col skin_color
        %col green
      %row
        %col high
        %col 65 centimetres
