// Asker example about furniture
%map{ lang: 'en', context: 'furniture, home', version: '1'}

  // Concept: chair
  %concept
    %names chair
    %tags single, seat, leg, backrest
    %def Single seat with legs and backrest
    %def Furniture that is placed around the table to sit
    %def{ type: 'file' } https://www.portobellostreet.es/imagenes_muebles/Muebles-Silla-colonial-Fusta-Bora-Bora.jpg

  // Concept: couch
  %concept
    %names couch
    %tags furniture, seat, two, three, people, bench, armrest

  // Concept: table
  %concept
    %names table
    %tags furniture, flat, top, leg, surface, work, eat

  // Concept: bed
  %concept
    %names bed
    %tags furniture, place, sleep, relax
