%map{ :lang => 'es', :context => 'personajes, starwars', :version => '1'}

  %concept
    %names obiwan
    %tags maestro, jedi, profesor, anakin, skywalker, alumno, quigon-jinn
    %def Jedi, maestro de Anakin Skywalker

