%map{ lang: 'en', context: 'math', version: '1'}

  %problem
    %varnames A, B
    %cases
      %case 1, 3
      %case 2, 4
    %description Mathematical operations
    %step
      %text Find the sum of A and B
      %formula A + B
      %varname S1
      %feedback The result is S1
