%map{ lang: 'en', context: 'arithmetic,math,problems', version: '1'}

  %problem
    %cases{ varnames: 'N1, N2, RES1, RES2, RES3' }
      %case 3, 2, 5, 1, 0
      %case 7, 4, 11, 3, 2
      %case 13, 11, 24, 2, -7
      %case 4, 4, 8, 0, -4
    %desc Mathematical operations with integers.
    %ask
      %text Calculate N1 + N2
      %answer RES1
    %ask
      %text Calculate N1 - N2
      %answer RES2
    %ask
      %text Calculate 2*N1-3*N2
      %answer RES3

  %problem
    %cases{ varnames: 'X' }
      %case x
      %case y
      %case z
    %desc Solve the following equation 2X -4 = 6
    %ask
      %text Solving the problem
      %step 2X -4 = 6
      %step 2X = 6 +4
      %step 2X = 10
      %step X = 10 / 2
      %step X = 5
    %ask
      %text What is the value of the variable X
      %answer 5
