%map{ lang: 'en', context: 'arithmetic,math,problems', version: '1'}

  %problem
    %cases{ varnames: 'N1, N2, SUM, SUB' }
      %case 3, 2, 5, 1
      %case 7, 4, 11, 3
      %case 13, 11, 24, 2
      %case 4, 4, 8, 0
    %desc Mathematical operations with 2 numbers.
    %ask
      %text Calculate the sum of N1 and N2
      %answer SUM
    %ask
      %text Substract N2 from N1
      %answer SUB

  %problem
    %cases{ varnames: 'X' }
      %case x
      %case y
      %case z
    %desc Solve the following equation 2X -4 = 6
    %ask
      %text Solving the problem
      %step 2X -4 = 6
      %step 2X = 6 +4
      %step 2X = 10
      %step X = 10 / 2
      %step X = 5
    %ask
      %text What is the value of the variable X
      %answer 5
