%map{ :lang => 'en', :context => 'character, starwars', :version => '1'}

  %concept
    %names obiwan
    %tags jedi, teacher, annakin, skywalker, pupil, quigon-jinn
    %def Jedi, teacher of Annakin  Skywalker
    %def Jedi, pupil of Quigon-Jinn
    %table{ :fields => 'attribute, value' }
      %title Associate every attribute with their value
      %row
        %col race
        %col human
      %row
        %col laser_sabel_color
        %col green
      %row
        %col hair_color
        %col red

  %concept
    %names yoda
    %tags teacher, jedi
    %def Jedi, teacher of all jedis
    %def The Main Teacher of Jedi and one of the most important members of the Main Jedi Council, in the last days of Star Republic.
    %def He has Tenía habilidades excepcionales en el combate con sables de luz, empleando técnicas acrobáticas del Ataru.
    %def Era un maestro en todas las formas del combate con sables de luz y era considerado por muchos como un Maestro de Espadas.    
    %table{ :fields => 'attribute, value' }
      %title Associate every attribute with their value
      %row
        %col color_laser_sabel
        %col green
      %row
        %col hair_color
        %col white
      %row
        %col skin_color
        %col green
      %row
        %col high
        %col 65 centimetres
