%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, monitorización, auditoría' }

  %concept
    %names monitorización
    %tags registrar, actividad, sistema, histórico
    %def La tarea de [*] implica que toda la actividad relevante del sistema debe quedar registrada. Esto nos permite tener un histórico del comportamiento del sistema, que nos ayuda a modo de "caja negra", a reconstruir situaciones del pasado para diversos fines.

  %concept
    %names visor-de-sucesos, visor de sucesos, visor de eventos
    %tags registrar, actividad, sistema, histórico, windows
    %def [*] es la herramienta que viene, por defecto, para visualizar los eventos monitorizados en los sistemas Windows.

  %concept
    %names audit
    %tags registrar, actividad, sistema, gnu/linux
    %def El servicio [*] es una herramienta que nos permite auditar eventos en los sistemas GNU/Linux.
    %def Usando herramientas como [*], el sistema puede realizar un seguimiento de muchos eventos y monitorizar y auditar el sistema.
    %table{ :fields => 'fichero, descripción' }
      %row
        %col /etc/audit/auditd.conf
        %col Configura el demonio auditd centrándose en dónde y cómo se deben registrar los eventos
      %row
        %col /etc/audit/audit.rules
        %col Configura los eventos que deben ser auditados
      %row
        %col auditd
        %col Es el demonio (programa) asociado al servicio Audit
      %row
        %col /var/log/audit/audit.log
        %col Por defecto, es el fichero de log donde se registran los eventos de audit
    %table{ :fields => 'parámetro configuración, descripción' }
      %row
        %col freq
        %col Frecuencia conla que el demonio audit escribe los datos de los eventos al disco
      %row
        %col max_log_file
        %col Tamaño máximo en MB del fichero de log
      %row
        %col max_log_file_action
        %col Acción que se ejecuta cuando el fichero de log llega a su valor máximo
      %row
        %col num_logs
        %col Número de ficheros de log que se mantendrán guardados cuando max_log_file_action tiene el valor rotate
      %row
        %col log_file
        %col Fichero de log que usará el servicio audit
    %table{ :fields => 'acción,descripción' }
      %row
        %col auditctl -l
        %col Consultar las reglas de auditoría activas
      %row
        %col auditctl -D
        %col Eliminar las reglas de auditoría
      %row
        %col auditctl -w estrellita.txt -p warx
        %col Comando para crear regla de auditoría temporal sobre un fichero
      %row
        %col ausearch -f estrellita.txt
        %col Mostrar sólo los eventos asociados al fichero especificado
      %row
        %col id USERNAME
        %col Consultar el uid del usuario especificado
      %row
        %col ausearch -f estrellita.txt -ui USERUID
        %col Consultar eventos sobre el fichero para el usuario con USERUID
      %row
        %col ausearch -f estrellita.txt -ui USERUID | wc -l
        %col Contar los eventos del fichero usuario especificados
      %row
        %col ausearch -x NAME
        %col Filtra los eventos donde aparecezca el comando/programa especificado
