%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, dominio, samba' }

  %concept
    %names controlador de dominio, pdc
    %tags servidor, AD, DA, directorio activo, instalado
    %def Servidor Windows con AD instalado que almacena, mantiene y gestiona la base de datos de usuarios y recursos de la red.

  %concept
    %names Nombre de Dominio
    %tags denominación, equipo, red, equivale, ip
    %def Son las denominaciones asignadas a los ordenadores de la red, 'hosts', y 'routers', que equivalen a su dirección IP. En nuestro caso llamaremos a nuestro dominio "MICENTRO.EDU", que será el dominio raíz.

  %concept
    %names Arbol de Dominio, Árbol de dominio
    %tags conjunto, dominio, formado, nombre, raiz, constituyen, espacio, nombres, contiguo
    %def Es el conjunto de dominios formado por el nombre de dominio raíz ("MICENTRO.EDU") y el resto de dominios cuyos nombres constituyen un espacio contiguo con el nombre raíz (por ejemplo si tuviéramos un subdominio "DPTO_LENGUA", se nombraría como "DPTO_LENGUA.MICENTRO.EDU", y formaría un árbol de dominios con el dominio raíz).

  %concept
    %names Bosque de árboles de dominios
    %tags conjunto, arbol, dominio, constituyen, espacio, nombres, no contiguo
    %def Es el conjunto de árboles de dominio que no constituyen un espacio de nombres contiguo (si nuestro servidor administrara otro dominio raíz de nombre "OTROCENTRO.EDU", este nuevo dominio, junto con el anterior ("MICENTRO.EDU") formarían el bosque de árboles de dominios).

  %concept
    %names Directorio Activo, DA, AD, Active Directory
    %tags conjunto, arbol, dominio, constituyen, espacio, nombres, no contiguo
    %def Es el término que usa Microsoft para referirse a su implementación de servicio de directorio en una red distribuida de computadores. Utiliza distintos protocolos (principalmente LDAP, DNS, DHCP, Kerberos...).
    %def De forma sencilla se puede decir que es un servicio establecido en uno o varios servidores en donde se crean objetos tales como usuarios, equipos o grupos, con el objetivo de administrar los inicios de sesión en los equipos conectados a la red, así como también la administración de políticas en toda la red.
    %def Su estructura jerárquica permite mantener una serie de objetos relacionados con componentes de una red, como usuarios, grupos de usuarios, permisos y asignación de recursos y políticas de acceso.1
    %def Permite a los administradores establecer políticas a nivel de empresa, desplegar programas en muchos ordenadores y aplicar actualizaciones críticas a una organización entera. Almacena información de una organización en una base de datos central, organizada y accesible. Pueden encontrarse desde directorios con cientos de objetos para una red pequeña hasta directorios con millones de objetos.
    %table{ :fields => 'ruta-absoluta-directorio,utilidad' }
      %row
        %col C:\WINDOWS\NTDS
        %col Ruta por defecto,donde almacenaremos la base de datos y el registro de Active Directory en Windows Server.
      %row
        %col C:\WINDOWS\SYSVOL
        %col Ruta por defecto, donde almacena la copia para los archivos públicos del dominio. El contenido de la carpeta se replica en todos los controladores de dominio dentro del dominio.

  %concept
    %names samba
    %tags implementación, libre, protocolo, SMB, CIFS, AD, dominio, controlador-de-dominio
    %def Es una implementación libre del protocolo de archivos compartidos de Microsoft Windows (antiguamente llamado SMB, renombrado recientemente a CIFS) para sistemas de tipo UNIX.
    %def Con [*], es posible que computadoras con GNU/Linux, Mac OS X o Unix en general se vean como servidores o actúen como clientes en redes de Windows.
    %def Permite validar usuarios haciendo de Controlador Principal de Dominio (PDC), como miembro de dominio e incluso como un dominio Active Directory para redes basadas en Windows; aparte de ser capaz de servir colas de impresión, directorios compartidos y autentificar con su propio archivo de usuarios.

  %concept
    %names grupo de usuarios del dominio
    %tags grupos, usuarios, dominio
    %def Si definimos un grupo de usuarios de nombre "profesores", e incluimos en él a los usuarios de dominio que son profesores, no podremos asociarles políticas o directivas de grupo que deseemos, pero podremos definir en él los permisos de acceso a los recursos del sistema; cada usuario del dominio podrá estar englobado en más de un grupo de usuarios.

  %concept
    %names unidad organizativa
    %tags unidad, organizativa, LDAP
    %def Si definimos una [*] de nombre "profesores", e incluimos en ella a los usuarios del dominio que son profesores, podremos indicar las políticas o directivas de grupo que queremos que le sean asignadas a los profesores, pero no podremos definir en ella los permisos de acceso a los recursos del sistema; cada usuario o equipo del dominio podrá estar englobado en una y sólo en una [...].

  %concept
    %names Grupos de Ámbito Local al Dominio
    %tags grupos, definir, administrar, recursos, dominio
    %def Son grupos que permitirán definir y administrar el acceso a los recursos en un solo dominio. Estos grupos pueden tener como miembros a los siguientes elementos: grupos de ámbito global, grupos de ámbito universal, usuarios del dominio, otros grupos de ámbito local de dominio, o una mezcla de los anteriores.

  %concept
    %names Grupos de Ámbito Local
    %tags grupos, definir, administrar, objetos, directorio
    %def Estos grupos se utilizan para administrar objetos de directorio que requieren mantenimiento diario, como las cuentas de usuarios y equipos.

  %concept
    %names Grupos de Ámbito Universal
    %tags grupos, definir, administrar, objetos, directorio
    %def Son grupos utilizados cuando la pertenencia a dicho grupo no cambian frecuentemente, ya que los cambios de pertenencia de esos grupos hacen que todos los datos de pertenencia del grupo se repliquen en todos los catálogos globales del bosque del dominio.

  %concept
    %names Perfiles de usuarios
    %tags grupos, definir, administrar, objetos, directorio
    %def Carpetas propias de un usuario, que incluyen básicamente sus configuraciones personalizadas del entorno de trabajo y los documentos creados por él.
    %table{ :fields => 'tipo,descripción' }
      %row
        %col Perfil Móvil
        %col Perfil de usuario que se descarga desde el servidor en el equipo donde el usuario en cuestión haya iniciado sesión; cuando dicho usuario cierre sesión en el cliente, los cambios en el perfil se almacenarán en el servidor en el espacio destinado para tal fin para dicho usuario.
      %row
        %col Perfil Obligatorio
        %col Perfil de usuario que se descarga desde el servidor en el equipo donde el usuario en cuestión haya iniciado sesión; cuando dicho usuario cierre sesión en el cliente, los cambios en el perfil NO se almacenarán en el servidor, de modo que el usuario siempre dispondrá del mismo perfil.
