%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, introducción, definiciones' }

  %concept
    %names Sistema Operativo
    %tags programa,gestiona,recurso,hardware,servicio,aplicaciones
    %def Es un programa o conjunto de programas de un sistema informático que gestiona los recursos de hardware y provee servicios al resto de aplicaciones.

  %concept
    %names VirtualBox
    %tags programa,software,virtualización
    %def Es un software de virtualización para arquitecturas x86/amd64. Actualmente es desarrollado por Oracle Corporation.
    %def Por medio de esta aplicación es posible instalar sistemas operativos adicionales, conocidos como «sistemas invitados», dentro de otro sistema operativo «anfitrión», cada uno con su propio ambiente virtual.
    %def Con este software se pueden crear máquinas virtuales dentro de la máquina real con diferentes sistemas operativos.

  %concept
    %names sector
    %tags disco, formateo
    %def Es el nombre de la cantidad mínima que una unidad de almacenamiento puede leer/escribir. Equivale a 512 bytes.

  %concept
    %names clúster, bloque
    %tags disco, formateo
    %def Es el nombre de la cantidad mínima de almacenamiento en disco que el sistema operativo asigna a cada fichero. Normalmente equivale a 8 sectores.

  %concept
    %names Máquina virtual
    %tags computadora,simulada
    %def Es una computadora simulada (no real) que puede ejecutar programas como si fuese una computadora real.

  %concept
    %names desfragmentar, desfragmentación
    %tags fragmentar, disco
    %def [*] es el proceso conveniente mediante el cual se acomodan los archivos en un disco para que no se aprecien fragmentos de cada uno de ellos, de tal manera que quede contiguo el archivo y sin espacios dentro del mismo.

  %concept
    %names fragmentación interna
    %tags fragmentar, disco, cluster, bloque
    %def [*] es la pérdida de espacio en disco debido al hecho de que el tamaño de un determinado archivo sea inferior al tamaño del clúster/bloque.
    %def Si tenemos un tamaño de clúster/bloque de 4KB. Un archivo de 1KB ocupará en disco lo mismo que otro de 2KB. Este se debe a la [*].

  %concept
    %names fragmentación externa
    %tags fragmentar, disco, formateo
    %def  En el sistema de ficheros, la sucesiva creación y eliminación de ficheros de distintos tamaños puede conducir al aislamiento de los bloques libres de un disco y, dependiendo de la política de ajuste, su no elección para futuros ficheros.
    %def  En sistemas de ficheros la desfragmentación trata de resolver el problema de [*], alineando los bloques de datos contiguos y juntando los bloques libres, produciendo así fragmentos mayores que sí serán elegidos para futuros ficheros.

  %concept
    %names mbr, master boot record
    %tags disco, sector, cero, 0
    %table{ :fields => 'característica' }
      %row Se guarda en el primer sector de un dispositivo de almacenamiento de datos, como un disco duro.
      %row En las máquinas con BIOS se emplea para el arranque del sistema operativo.
      %row Se usa para almacenar la tabla de particiones.
      %row Sólo puede almacenar información para 4 particiones.

  %concept
    %names partición, partición de disco
    %tags partición, disco
    %def [*] es el nombre genérico que recibe cada división presente en una sola unidad física de almacenamiento de datos.
    %def Una [*] es una división lógica en una unidad de almacenamiento (por ejemplo, un disco duro o unidad flash), en la cual se alojan y organizan los archivos mediante un sistema de archivos.
    %table{ :fields => 'característica' }
      %row Toda [*] tiene su propio sistema de archivos (formato).
      %row En MBR sólo se pueden crear 4 [*].
      %row En GPT se pueden crear hasta 128 [*].
    %table{ :fields => 'tipo,descripción' }
      %row
        %col primaria
        %col Son las divisiones crudas o primarias del disco, solo puede haber 4 de éstas o 3 primarias y una extendida en una tabla de particiones MBR.
      %row
        %col extendida
        %col Actúa como una partición primaria MBR pero ésta sólo sirve para contener particiones lógicas.
      %row
        %col lógica
        %col Ocupa una porción de la partición extendida o la totalidad de la misma.
    %table{ :fields => 'tipo,cantidad máxima' }
      %row
        %col primaria MBR
        %col 4
      %row
        %col extendida
        %col 1
      %row
        %col lógica
        %col 32

  %concept
    %names formatear, formato, formato lógico
    %tags formato, disco, almacenar
    %table{ :fields => 'sistema operativo, sistema de archivos más habituales' }
      %row
        %col Windows
        %col ExFAT, FAT, FAT16, FAT32, NTFS, EFS.
      %row
        %col GNU/Linux
        %col ext2, ext3, ext4, JFS, ReiserFS, Reiser4, XFS.
      %row
        %col Solaris
        %col UFS, ZFS.
      %row
        %col Mac OS
        %col HFS, HFS+.
      %row
        %col IBM
        %col JFS, GPFS.

  %concept
    %names ABA
    %tags formato, disco, almacenar
    %def Sistema de formato basado en la asignación de bloques adyacentes.
    %table{ :fields => 'característica' }
      %row La tabla de información tiene los campos name, start y size. Consume 1 sector del disco.
      %row El sistema deja de funcionar con alta fragmentación externa

  %concept
    %names ABLL
    %tags formato, disco, almacenar
    %def Sistema de formato basado en la asignación de bloques con lista ligada.
    %table{ :fields => 'característica' }
      %row La tabla de información tiene los campos name y start. Consume 1 sector del disco.
      %row Dentro de cada sector sólo se pueden usar 510 bytes para datos
      %row Se usan los 2 últimos bytes del sector para guardar la información de los enlaces/ligaduras
      %row Es lento para calcular el tamaño de los archivos

  %concept
    %names miniFAT
    %tags formato, disco, almacenar
    %def Sistema de formato basado en la asignación de bloques y almacenar los ligamientos en tabla.
    %table{ :fields => 'característica' }
      %row Usa 2 tablas para guardar la información. Consume 2 sectores del disco.
      %row Las tablas de información tienen los campos name, start e id, next
