%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, introducción, definiciones' }

  %concept
    %names Sistema Operativo
    %tags programa,gestiona,recurso,hardware,servicio,aplicaciones
    %def Es un programa o conjunto de programas de un sistema informático que gestiona los recursos de hardware y provee servicios al resto de aplicaciones.

  %concept
    %names VirtualBox
    %tags programa,software,virtualización
    %def Es un software de virtualización para arquitecturas x86/amd64. Actualmente es desarrollado por Oracle Corporation.
    %def Por medio de esta aplicación es posible instalar sistemas operativos adicionales, conocidos como «sistemas invitados», dentro de otro sistema operativo «anfitrión», cada uno con su propio ambiente virtual.
    %def Con este software se pueden crear máquinas virtuales dentro de la máquina real con diferentes sistemas operativos.

  %concept
    %names Máquina virtual
    %tags computadora,simulada
    %def Es una computadora simulada (no real) que puede ejecutar programas como si fuese una computadora real.
