%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, monitorización, auditoría' }

  %concept
    %names rsyslog
    %tags registrar, actividad, sistema, histórico, gnu/linux
    %def Es el servicio que registra los eventos de monitorización, por defecto, en los sistemas basados en GNU/Linux.
    %table{ :fields => 'característica,descripción' }
      %row
        %col /etc/rsyslog.conf
        %col Por defecto, es el fichero principal de configuración del servicio rsyslog en GNU/Linux.
      %row
        %col /etc/rsyslog.d
        %col Directorio GNU/Linux, donde podemos crear nuestras configuraciones de monitorización personalizadas para rsyslog.
      %row
        %col ps -ef |grep rsyslogd
        %col Comando GNU/Linux, para consultar si el demonio (programa) del servicio rsyslog está en ejecución.
      %row
        %col /var/log
        %col Directorio por defecto, donde se guardan los ficheros de log del sistema en GNU/Linux.
      %row
        %col /var/log/syslog.log
        %col Fichero de log, donde se registran los eventos por defecto en GNU/Linux.
    %table{ :fields => 'configuración,descripción' }
      %row
        %col kern.* /var/log/kernel
        %col Los eventos generados por kernel, se guardarán en el fichero /var/log/kernel.
      %row
        %col kern.crit @192.168.1.11
        %col Los eventos críticos o de mayor prioridad, generados por kernel se enviarán al PC con la IP especificada.
      %row
        %col kern.crit /dev/console
        %col Los eventos críticos o de mayor prioridad, generados por el kernel se mostrarán en el dispositivo consola.
      %row
        %col kern.info;kern.!err /var/log/kernel-info
        %col Los eventos generados por el kernel, de igual o mayor prioridad a info, pero NO los eventos de error o prioridad superior, se guardarán en el fichero /var/log/kernel-info.
      %row
        %col local0.* /var/log/nombredelalumno/prueba-local.log
        %col Todos los eventos generados por el recurso local0 se almacenarán en el fichero de log personalizado.
    %table{ :fields => 'fichero,descripción' }
      %row
        %col /var/log/messages
        %col Contains global system messages.
      %row
        %col /var/log/dmesg
        %col Contains kernel ring buffer information.
      %row
        %col /var/log/auth.log
        %col Contains system authorization information.
      %row
        %col /var/log/boot.log
        %col Contains information that are logged when the system boots.
      %row
        %col /var/log/dpkg.log
        %col Contains information that are logged when a package is installed or removed using dpkg command.
      %row
        %col /var/log/lastlog
        %col Displays the recent login information for all the users.
      %row
        %col /var/log/user.log
        %col Contains information about all user level logs.
      %row
        %col /var/log/btmp
        %col This file contains information about failed login attemps.
      %row
        %col /var/log/wtmp o /var/log/utmp
        %col Contains login records. Using wtmp you can find out who is logged into the system. who command uses this file to display the information.
      %row
        %col /var/log/faillog
        %col Contains user failed login attemps. Use faillog command to display the content of this file.
    %table{ :fields => 'acción,descripción' }
      %row
        %col /etc/init.d/rsyslog start
        %col Iniciar el servicio rsyslog en Debian 7.
      %row
        %col /etc/init.d/rsyslog stop
        %col Detener el servicio rsyslog en Debian 7.
      %row
        %col logger -p local0.info "Hola Mundo"
        %col Genera un evento de prioridad "info" para el recurso "local0".

  %concept
    %names Webmin
    %tags visor, consultar, actividad, sistema, histórico, gnu/linux
    %def Es una herramienta de entorno gráfico para la gestion de la monitorización (entre otras cosas) de los sistemas basados en GNU/Linux.
    %table{ :fields => 'acción,descripción' }
      %row
        %col apt-get install webmin
        %col Comando Debian, para instalar webmin y sus dependencias, desde los repositorios de la distribución.
      %row
        %col dpkg -i webmin_1.550_all.deb
        %col Comando Debian, para instalar webmin desde un paquete previamente descargado.
      %row
        %col apt-get install -f
        %col Comando Debian, para resolver problemas de dependencias de paquetes, después de una instalación desde un fichero deb.
      %row
        %col /etc/init.d/webmin start
        %col Iniciar el servicio Webmin en Debian 7 (System V).
      %row
        %col /etc/init.d/webmin stop
        %col Detener el servicio Webmin en Debian 7 (System V).
      %row
        %col Abrimos un navegador web, y ponemos como URL "https://localhost:10000"
        %col Acceder al programa Webmin.
      %row
        %col Ir a menú "System -> System Log"
        %col Opción de analizar los ficheros de log con la herramienta webmin.

  %concept
    %names ASCII
    %tags código, caracteres, bits
    %def Es un código de carácteres basado en el alfabeto latino, tal como se usa en inglés moderno y en otras lenguas occidentales. Fue creado en 1963 por el ANSI como una refundición o evolución de los conjuntos de códigos utilizados entonces en telegrafía.
    %def El código [*] utiliza 7 bits para representar los carácteres, aunque inicialmente empleaba un bit adicional (bit de paridad) que se usaba para detectar errores en la transmisión.

  %concept
    %names logrotate
    %tags rotar, ficheros, log, gnu/linux
    %def Diseñado para facilitar la administración de ficheros de log de gran tamaño. Permite rotación automática, compresión, eliminación y envío de ficheros de log. Cada fichero de log puede ser gestionado periódicamente.
    %table{ :fields => 'característica,descripción' }
      %row
        %col /etc/logrotate.conf
        %col Por defecto, es el fichero principal de configuración del programa logrotate en GNU/Linux.
      %row
        %col /etc/logrotate.d
        %col Directorio GNU/Linux, donde podemos crear nuestras configuraciones de de rotación de log personalizadas para logrotate.
    %table{ :fields => 'acción,descripción' }
      %row
        %col Reiniciar el equipo
        %col Para que se dispare la rotación de log (logrotate) automáticamente.
      %row
        %col /usr/sbin/logrotate -f /etc/logrotate.conf
        %col Comando/programa para ejecutar de forma manual el proceso de rotación de logs del programa logrotate.

  %concept
    %names logger
    %tags comando, enviar, mensaje, log, rsyslog
    %def [*] es un comando de GNU/Linux que se usa para enviar mensajes para que sean registrados por el servicio de monitorización rsyslog de la máquina.
    %table{ :fields => 'comando,descripción' }
      %row
        %col logger -p local0.info MENSAJE-DE-TEXTO
        %col Envía un mensaje de texto con prioridad "info" al monitorizador.
      %row
        %col logger -p local0.info MENSAJE-DE-TEXTO -i
        %col Envía un mensaje de texto y el PID del proceso, con prioridad "info" al monitorizador.
      %row
        %col logger -p local0.info MENSAJE-DE-TEXTO -t "CURSO1516".
        %col Envía un mensaje de texto y una etiqueta, con prioridad "info" al monitorizador.
