%map{ :version=>"1", :lang => 'es', :context => 'vehículos, transporte' }

  %concept
    %names coche
    %tags vehículo, terrestre, motor
    %def Es un tipo de vehículo de trasporte con cuatro ruedas.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada atributo con su valor
      %row
        %col número de ruedas
        %col 4
      %row
        %col número de alas
        %col 0
      %row
        %col número de motores
        %col 1
	
  %concept
    %names moto
    %tags vehículo,terrestre, motor
    %def Es un tipo de vehículo de trasporte con dos ruedas.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada atributo con su valor
      %row
        %col número de ruedas
        %col 2
      %row
        %col número de alas
        %col 0
      %row
        %col número de motores
        %col 1

  %concept
    %names bicicleta
    %tags vehículo, terrestre, sin-motor
    %def Es un tipo de vehículo de trasporte con dos ruedas sin motor.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada atributo con su valor
      %row
        %col número de ruedas
        %col 2
      %row
        %col número de alas
        %col 0
      %row
        %col número de motores
        %col 0
    %table{ :fields => 'características' }
      %title Características del concepto
      %row Tiene ruedas
      %row Va por el suelo
      %row Se mueve con los pedales
      
  %concept
    %names avión
    %tags vehículo,volador, aéreo, motor, alas
    %def Es un tipo de vehículo de trasporte aéreo.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada atributo con su valor
      %row
        %col número de ruedas
        %col 3
      %row
        %col número de alas
        %col 2
      %row
        %col número de motores
        %col 1-3
    %table{ :fields => 'características' }
      %title Características del concepto
      %row Tiene motor
      %row Vuela
      %row Tiene alas
      
  %concept
    %names helicoptero
    %tags vehículo,volador, aéreo, motor, hélice, sin-alas
    %def Es un tipo de vehículo de trasporte aéreo sin alas.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada atributo con su valor
      %row
        %col número de ruedas
        %col 0
      %row
        %col número de alas
        %col 0
      %row
        %col número de motores
        %col 1-2
    %table{ :fields => 'características' }
      %title Características del concepto
      %row Tiene motor
      %row Vuela
      %row No tiene alas
