<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title>darts-of-teacher</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/base.css" type="text/css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="head">
      <a href="/" accesskey="h">Search</a>
    </div>
    <div id="content">
    <%= yield %>
    </div>
    <div id="footer">
      <br>
      darts-of-teacher
    </div>
  </body>
</html>
