<h2>File: <%= File.basename(@filename) %></h2>
<p>Directory: <a href="/list" accesskey="h">Home</a> <%= html_for_current(:indexlast => true) %>
  | Show
  | <a href="/edit/<%= route_for(@filename) %>">Edit</a>
</p>
<hr>

<pre>
  <%= @filecontent %>
</pre>
