%map{ :lang => 'en', :context => 'music, band', :version => '1'}

  %concept
    %names AC/DC, ACDC
    %tags rock, band, australia
    %def Australian rock band formed by Scottish-born brothers Malcolm and Angus Young
    %table{ :fields => 'members'}
      %row Bon Scott
      %row Angus Young
      %row Malcolm Young
      %row Phil Rudd
      %row Cliff Williams
    %table{ :fields => 'attribute, value'}
      %row
        %col Genres
        %col Hard rock blues rock rock and roll
      %row
        %col Years active
        %col 1973-present
      %row
        %col Formed in
        %col Sydney
    %table{ :fields => 'Albums', :sequence => 'Albums sorted by date'}
      %row Albums High Voltage
      %row Powerage
      %row Highway to Hell
      %row Back in Black
      %row Ballbreaker
      %row Rock or Bust
