%map{ :lang => 'en', :context => 'list,of,words,to,define,context', :version => '1'}

  %concept
    %names Example1
    %tags list,of,words,to,define,this,concept
    %def Definition 1 of Example1
    %table{ :fields => 'attribute, value'}
      %row
        %col attr1
        %col value1
      %row
        %col attr2
        %col value2
