%map{ :lang => 'en', :context => "character, starwars", :version=>'1' }

  %concept
    %names sidious
    %tags human, teacher, sith, pupil, plagueis
    %def Sith, teacher of all siths
    %table{ :fields => 'attribute, value' }
      %row
        %col race
        %col human
      %row
        %col hair color
        %col brown
      %row
        %col laser sabel color
        %col red

  %concept
    %names maul
    %tags lord, sith, alumno, emperador
    %table{ :fields => 'attribute, value' }
      %row
        %col race
        %col zabrack
      %row
        %col laser sabel color
        %col red
      %row
        %col skin color
        %col red and black
