%map{ :version => '1', :lang => 'es', :context=>'aplicaciones, web, nginx' }

  %concept
    %names nginx
    %tags servidor, web, proxy, inverso, alto, rendimiento
    %def Es un servidor web/proxy inverso ligero de alto rendimiento y un proxy para protocolos de correo electrónico (IMAP/POP3).
    %table{ :fields => 'características' }
      %row Es ofrecido en la configuración del paquete phpmyadmin
      %row Para un determinado virtual host de Nginx, puede configurar varios location
      %row No "entiende" peticiones PHP de forma nativa.
      %row Atiende por defecto peticiones cuando se accede a la máquina por su dirección IP pública
    %table{ :fields => 'comando, descripción'}
      %row
        %col sudo certbot --nginx
        %col Comando completo que hemos visto de Let's Encrypt para generar los certificados de seguridad.
    %table{ :fields => 'objeto, descripción'}
      %row
        %col index.html
        %col Fichero índice por defecto en Nginx
      %row
        %col 443
        %col Puerto para conexiones seguras https
      %row
        %col 80
        %col Puerto para conexiones http
      %row
        %col 22
        %col Puerto para conexiones seguras SSH
      %row
        %col /run/php/php7.x-fpm.sock
        %col Socket que permite comunicar a Nginx con PHP
      %row
        %col /usr/share/phpmyadmin
        %col root por defecto de PhpMyAdmin
      %row
        %col /var/www/html
        %col Ruta por defecto del "root" de Nginx
      %row
        %col .htpasswd
        %col Fichero cuya estructura es username:encrypted-password:comment
      %row
        %col /var/log/nginx/error.log
        %col Ruta completa del fichero de log de errores de Nginx
      %row
        %col Directiva autoindex
        %col No sólo se puede poner dentro del ámbito location

  %concept
    %names Apache2
    %tags servidor, web

  %concept
    %names lighthttpd
    %tags servidor, web

  %concept
    %names Cherokee
    %tags servidor, web, libre, rpaido

  %concept
    %names Tomcat
    %tags servidor, web, java

  %concept
    %names PHP
    %tags lenguaje, programacion, lado, servidor, desarrollo, web, contenido, dinamico
    %def Es un lenguaje de programación de propósito general de código del lado del servidor originalmente diseñado para el desarrollo web de contenido dinámico.

  %concept
    %names Python
    %tags lenguaje, programacion, sintaxis, codigo, legible
    %def Es un lenguaje de programación interpretado cuya filosofía hace hincapié en una sintaxis que favorezca un código legible.
    %table{ :fields => 'objeto, descripción'}
      %row
        %col pipenv
        %col Nombre del paquete permite gestionar entornos virtuales
      %row
        %col uwsgi
        %col Equivalente en Python a lo que es php-fpm en PHP
    %table{ :fields => 'comando, descripción'}
      %row
        %col uwsgi --socket \:8080 --protocol http --home $(pipenv --venv) -w entry\:app
        %col Deplegando el fichero entry.py
    %table{ :fields => 'características'}
      %row supervisor (servidor) no requiere que se tenga que ejecutar como root

  %concept
    %names Java
    %tags lenguaje, programacion, wora, maquina, virtual

  %concept
    %names MySQL
    %tags base, datos
    %table{ :fields => 'características' }
      %row En su instalación por defecto, crea un usuario anónimo, permitiendo el acceso a cualquiera sin tener creada una cuenta de usuario.
