%map{ :lang => 'en', :context => 'ruby, fundamentos', :version => '1'}

  %code
    %type ruby
    %path tests/input/files/string.rb

  %code
    %type ruby
    %path tests/input/files/array.rb

  %code
    %type ruby
    %path tests/input/files/iterador.rb
