%map{ :lang => 'en', :context => 'ruby, fundamentos', :version => '1'}

  %code
    %type ruby
    %path files/string.rb

  %code
    %type ruby
    %path files/array.rb

  %code
    %type ruby
    %path files/iterador.rb
