%map{ :version => '1', :lang => 'es', :context=>'lenguaje,sql,base,datos' }

  %concept
    %names SQL
    %tags lenguaje,query,consulta,base,datos
    %def El lenguaje [*] consta de tres lenguajes específicos: DDL, DML Y DCL.
    %def [*] es un lenguaje específico del dominio que da acceso a un sistema de gestión de bases de datos relacionales que permite especificar diversos tipos de operaciones en ellos.
    %def Una de las características de [*] es el manejo del álgebra y el cálculo relacional que permiten efectuar consultas con el fin de recuperar, de forma sencilla, información de bases de datos, así como hacer cambios en ellas.
    %table{ :fields => 'lenguaje específico,descripción' }
      %row
        %col DDL
        %col Proporciona órdenes para definir, eliminar y modificar tablas, así como para crear índices y vistas.
      %row
        %col DML
        %col A través del [*] se permite el acceso a los datos almacenados en una base de datos.
      %row
        %col DCL
        %col Permite establecer derechos de acceso a los usuarios, comprobaciones de integridad y control de transacciones. Incluye órdenes para dar y quitar privilegios, así como para completar y abortar transacciones.
    %table{ :fields => 'lenguaje específico,sentencias admitidas' }
      %row
        %col DDL
        %col CREATE, DROP y ALTER
      %row
        %col DML
        %col SELETC, INSERT, DELETE y UPDATE
      %row
        %col DCL
        %col GRANT, REVOKE
    %table{ :fields=>' sentencia SQL, descripción'}
      %row
        %col GRANT
        %col Permite dar permisos a uno o varios usuarios o roles para realizar tareas determinadas
      %row
        %col REVOKE
        %col Permite eliminar permisos que previamente se han concedido con GRANT
    %table{ :fields => 'tipo de dato, descripción'}
      %row
        %col SMALLINTEGER e INTEGER
        %col Contienen números enteros
      %row
        %col DECIMA o NUMERIC
        %col Contienen números decimales
      %row
        %col FLOAT, REAL y DOUBLE_PRECISION
        %col Contienen números en coma flotante.
      %row
        %col CHAR
        %col Contiene una cadena alfanumérica.
      %row
        %col DATE
        %col Fecha
      %row
        %col BOOLEAN y LOGICAL
        %col Tipos de datos lógicos.

  %concept
    %names MySql
    %tags software,programa,herramienta,base,datos
    %def [*] es un sistema de gestión de bases de datos relacional desarrollado bajo licencia dual GPL/Licencia comercial por Oracle Corporation.
    %def El servidor de [*] usa por defecto el puerto 3306.
    %table{:fields => 'comando, descripción'}
      %row
        %col Show databases;
        %col Muestra el conjunto de bases de datos presentes en el servidor
      %row
        %col Use nombre_de_la_base;
        %col Determina la base de datos sobre la que vamos a trabajar
      %row
        %col Create Database nombre_de_la_base;
        %col Crea una nueva bd con el nombre especificado
      %row
        %col Drop Database nombre_de_la_base;
        %col Elimina la base de datos del nombre especificado
      %row
        %col Show tables;
        %col Muestra las tablas presentes en la base de datos actual
      %row
        %col Describe nombre_de_la_tabla;
        %col Describe los campos que componen la tabla
      %row
        %col Drop Table nombre_de_la_tabla;
        %col Borra la tabla de la base de datos
      %row
        %col Load Data Local Infile "archivo.txt" Into Table nombre_de_la_tabla;
        %col Crea los registros de la tabla a partir de un fichero de texto en el que separamos por tabulaciones todos los campos de un mismo registro.
      %row
        %col Quit
        %col Salir de MySQL
      %row
        %col mysql
        %col Conexión sin usuario y password (se conecta como anónimo y sin password)
      %row
        %col mysql -u root -p
        %col Conexión con usuario y password (se conecta como root y su password )
      %row
        %col mysql -u root -pPasswordDelUsuario jardineria
        %col Conexión con usuario y password en claro a la base de datos jardineria
      %row
        %col mysql -u root -pPasswordDelUsuario -h 192.168.3.100 jardineria
        %col Conexión con usuario y password en claro a la base de datos jardineria del host 192.168.3.100
      %row
        %col select version(),current_date();
        %col Selecciona la version del gestor y la fecha actual
      %row
        %col source /home/malu/crearbbdd.sql
        %col Ejecución del script de creación crearbbdd.sql desde la shell de mysql
      %row
        %col mysql -u root -pPassWdUsuario &lt; crear_bbdd.sql
        %col Ejecución de un script sql en modo batch sin almacenar resultados
      %row
        %col mysql -u root -pPassWdUsuario &lt; crear_bbdd.sql &gt; resultado
        %col Ejecución en modo batch almacenando los resultados en un fichero
    %table{:fields =>'opción del intérprete de comandos, descripción'}
      %row
        %col --help
        %col Muestra un resumen de las opciones disponibles
      %row
        %col -u
        %col Permite especificar el usuario de conexión
      %row
        %col -p
        %col Permite introducir un password para la conexión del usuario
      %row
        %col -h
        %col Permite seleccionar el host donde está el gestor de base de datos
      %row
        %col -P o -p
        %col Permite especificar el número de puerto al que conectarse
