%map{ :version => '1', :lang => 'es', :context=>'lenguaje,sql,base,datos' }

  %concept
    %names DDL, Data Definition Language, Lenguaje de definición de datos
    %tags lenguaje,definición,datos,base,sql
    %def [*] es el sublenguaje de SQL que permite la definición de datos.
    %table{:fields => 'funciones'}
      %row Crear tablas, índices y otros objetos de la base de datos (como vistas, sinónimos, etc.)
      %row Definir las estructuras físicas donde se almacenarán los objetos de las bases de datos (espacios de tablas (tablespaces), ficheros de datos (datafiles), etc.)
    %table{:fields => 'sentencia,descripción'}
      %template{:VAR=>'A1,B2,C3'}
        %row
          %col CREATE TABLE VAR Definición
          %col Crea la tabla VAR
        %row
          %col DROP TABLE VAR
          %col Elimina la table VAR
        %row
          %col CREATE DATABASE VAR Definición
          %col Crea la base de datos VAR
        %row
          %col DROP DATABASE VAR
          %col Elimina la base de datos VAR
        %row
          %col CREATE INDEX VAR Definición
          %col Crea el índice VAR
        %row
          %col DROP INDEX VAR
          %col Elimina el índice VAR
        %row
          %col ALTER TABLE VAR DROP COLUMN cVAR.
          %col Modificar la tabla VAR, eliminando la columna cVAR.
        %row
          %col RENAME TABLE VAR TO VAR2
          %col Renombrar la tabla VAR por VAR2
