%map{ :version => '1', :lang => 'es', :context=>'herramienta,sysadmingame,yaml' }

  %concept
    %names SysadminGame
    %tags sysadmingame,herramienta,automatizar,test,máquina,remota
    %def Esta es una herramienta para evaluar de forma remota y automática el trabajo de clase realizado por los alumnos en sus máquinas.
    %table{ :fields => 'características' }
      %row Licencia Open Source
      %row Programada en Ruby
      %row Alojada en un repostorio GitHub
    %table{ :fields => 'comando,acción' }
      %row
        %col apt-get install ruby
        %col Instalar ruby en un equipo Debian/Ubuntu
      %row
        %col zypper install ruby
        %col Instalar ruby en un equipo OpenSUSE
      %row
        %col gem install rake
        %col Instalar la gema rake en nuestro equipo
      %row
        %col rake debian
        %col Instalar las librerías y gemas en un sistema Debian/Ubuntu
      %row
        %col rake opensuse
        %col Instalar las librerías y gemas en un sistema OpenSUSE
      %row
        %col rake check
        %col Comprobar que la aplicación está correctamente instalada en nuestro equipo
      %row
        %col ./project -v
        %col Muestra en pantalla la versión del proyecto
      %row
        %col ./project -h
        %col Muestra en pantalla la ayuda del comando project
      %row
        %col ./project create check/demo/foo.rb
        %col Crea un fichero foo.rb y otro foo.yaml en el directorio check/demo
      %row
        %col ./project check/demo/foo.rb
        %col Ejecuta los test definidos en el fichero, sobre las máquinas remotas
    %table{ :fields => 'paso', :sequence => 'Pasos para instalar SysadminGame en Debian/Ubuntu' }
      %row apt-get install ruby
      %row gem install rake
      %row rake debian
      %row rake check
    %table{ :fields => 'paso', :sequence => 'Pasos para instalar SysadminGame en OpenSUSE' }
      %row zypper install ruby
      %row gem install rake
      %row rake opensuse
      %row rake check

  %concept
    %names task
    %tags palabra,dls,agrupar,target,objetivo
    %def Es una palabra del DSL que sirve para definir un grupo de objetivos o elementos de comprobación.
    %def Como mínimo es obligatorio crear un [*] donde podremos definir nuestros objetivos o elementos de evaluación. Podemos usar [*], tantas veces como queramos.
    %def Sirve para agrupar objetivos que están relacionados por razones de claridad para nosotros.

  %concept
    %names target
    %tags palabra,dls,describir,target,objetivo
    %def Es una palabra del DSL que nos permite introducir una descripción del objetivo que vamos a evaluar, usando nuestras propias palabras, de modo que cualquiera pueda entender fácilmente lo que estamos tratando de hacer.

  %concept
    %names goto
    %tags palabra,dls,ejecutar,comando,equipo,remoto
    %def Es una palabra del DSL que nos permite ejecutar un comando en una máquina remota.

  %concept
    %names expect
    %tags palabra,dls,evaluar,resultado,devuelto,goto
    %def Es una palabra del DSL que evalua si el resultado obtenido coincide o no con el valor esperado.
