%map{ :version => '1', :lang => 'es' }
  %concept
    %names ltsp
    %context sistemas operativos, clientes ligeros, acceso remoto
    %tags clientes,ligeros,linux,terminal,server,project
    %text [***] son un conjunto de aplicaciones servidores que proporcionan la capacidad de ejecutar Linux en computadores de pocas prestaciones de velocidad o de bajo costo, permitiendo reutilizar equipos que actualmente resultan obsoletos debido a los altos requisitos que piden los sistemas operativos.
    %table{ :fields => 'características' }
      %title Características de LTSP
      %row
        Se requieren dos interfaces de red
      %row
        Los clientes arrancan por la tarjeta de red

  %concept
    %names vnc
    %context sistemas operativos, acceso remoto
    %tags programa,acceso,remoto,entorno,gráfico,abierto
    %text [***] es un programa de software libre basado en una estructura cliente-servidor el cual permite tomar el control del ordenador servidor remotamente a través de un ordenador cliente. También llamado software de escritorio remoto. [***] no impone restricciones en el sistema operativo del ordenador servidor con respecto al del cliente: es posible compartir la pantalla de una máquina con cualquier sistema operativo que soporte [***] conectándose desde otro ordenador o dispositivo que disponga de un cliente [***] portado.
    %table{ :fields => 'características' }
      %title Características de VNC
      %row
        Es un programa de software libre
      %row
        Permite tomar el control de un ordenador de forma remota
    %table{ :fields => 'atributo,valor' }
      %title Atributos asociados a VNC
      %row
        %col Puerto por defecto donde da servicio
        %col 5900

  %concept
    %names RDP
    %context sistemas operativos, acceso remoto
    %tags programa,acceso,remoto,entorno,gráfico,privativo
    %text [***] es un protocolo propietario desarrollado por Microsoft que permite la comunicación en la ejecución de una aplicación entre un terminal (mostrando la información procesada que recibe del servidor) y un servidor (recibiendo la información dada por el usuario en el terminal mediante el ratón ó el teclado).
    %table{ :fields => 'atributo,valor' }
      %title Atributos asociados a VNC
      %row
        %col Puerto por defecto donde da servicio
        %col 3389
