%map{ :version => '1' }
  %concept
    %names	clasificacion-ordenadores-por-su-proposito
    %context hardware, cpd,
    %tags clasificación, ordenadores, proposito, diseño, contrucción
    %text Forma de clasificación de ordenadores en función de su diseño y construcción. 
    %table{ :fields => 'clasificacion,descripción' }
      %title Clasificación de ordenadores, según el propósito para el que fueron diseñados y construidos.
      %row
        %col Ordenador de uso general
        %col Puede utilizarse para distintos tipos de aplicaciones, tales como gestión administrativa, cálculo científico, etc.
      %row
        %col Ordenador de uso específico
        %col Es el que únicamente puede utilizarse para una aplicación concreta. Ejemplo, el que contiene un robot, la computadora para el control del tráfico, etc.
