%map{ :version => '1', :lang => 'es', :context=>'ruby,code,scripts' }

  %code
    %type ruby
    %path input/es/add/ruby/files/string.rb

  %code
    %type ruby
    %path input/es/add/ruby/files/array.rb

  %code
    %type ruby
    %path input/es/add/ruby/files/iterador.rb
