%map{ :version=>'1', :lang=>'es', :context=>'scripting, ruby, string, textos' }

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo01.rb
    %tags programa, ruby, puts, string
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Da un error cuando se ejecuta con "./nombrefichero.rb"
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"
      %row No contiene variables

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo02.rb
    %tags programa, ruby, puts, string
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se jecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"
      %row No contiene variables

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo05.rb
    %tags programa, ruby, puts, string, variable
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"
      %row Usa una variable de tipo String

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo06.rb
    %tags programa, ruby, puts, string, variable, concatenar
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello Obiwan!"
      %row Usa una variable de tipo String
      %row Concatena Strings para formar otro mayor

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo07.rb
    %tags programa, ruby, puts, string, variable, insertar, incrustar
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello Obiwan!"
      %row Usa una variable de tipo String
      %row Incrusta un String dentro de otro String

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo08.rb
    %tags programa, ruby, puts, string, variable, insertar, incrustar, upcase
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello OBIWAN!"
      %row Usa una variable de tipo String
      %row Incrusta un String dentro de otro String
