%map{ :version => '1', :lang => 'es', :context=>'ruby,code,scripts' }

  %code
    %type ruby
    %path files/string1.rb
    %features
      %row Muestra en pantalla "Hola Mundo!"

  %code
    %type ruby
    %path files/array1.rb

  %code
    %type ruby
    %path files/iterador1.rb
