%map{ :version=>'1', :lang=>'es', :context=>'scripting, ruby, fixnum, número' }

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo10.rb
    %tags programa, ruby, puts, número, sumar
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Da un error cuando se ejecuta con "./nombrefichero.rb"
      %row Muestra el resultado de sumar 4+3
      %row Al ejecutarse muestra en pantalla 7
      %row No contiene variables

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo11.rb
    %tags programa, ruby, puts, número, restar
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se jecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Muestra el resultado de restar 4-3
      %row Al ejecutarse muestra en pantalla 1
      %row No contiene variables

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo12.rb
    %tags programa, ruby, puts, número, multiplicar, variable
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Usa una variable de tipo numérico
      %row Muestra el resultado de multiplicar 4*3
      %row Al ejecutarse muestra en pantalla 12

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo13.rb
    %tags programa, ruby, puts, número, dividir, variable, float, decimales
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Muestra el resultado de dividir 3/4 con decimales
      %row Al ejecutarse muestra en pantalla 0.75
      %row Usa 3 variables de tipo numérico

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo14.rb
    %tags programa, ruby, puts, número, multiplicar, variable, error
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Durante la ejecución muestra un error
      %row Usa una variable de tipo numérico

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo15.rb
    %tags programa, ruby, puts, número, multiplicar, variable, incrustar, string
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Durante la ejecución muestra la tabla de multiplicar del 4
      %row Usa una variable de tipo numérico
      %row Incrusta la variable de tip numérico dentro de un String

  %concept
    %names{:type => 'textfile_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo16.rb
    %tags programa, ruby, puts, número, multiplicar, variable, cambiar, tipo, string
    %table{ :fields => 'características' }
      %row Se ejecuta con "ruby nombrefichero.rb"
      %row Se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Durante la ejecución muestra la tabla de multiplicar del 3
      %row Usa una variable de tipo numérico
      %row Cambia la variable numérica a tipo String
