%map{ :version=>'1', :lang=>'es', :context=>'scripting, lenguaje, ruby' }

  %concept
    %names ruby
    %tags lenguaje,programación,scripting,administración,sistemas
    %def [*] es un lenguaje de programación interpretado, reflexivo y orientado a objetos, creado por el programador japonés Yukihiro "Matz" Matsumoto.
    %table{ :fields => 'código,descripción' }
      %row
        %col puts "fuw,idp,add"
        %col Muestra el texto "fuw,idp,add" en pantalla
      %row
        %col a = "fuw,idp,add"
        %col Define una variable de tipo String
      %row
        %col a = 3
        %col Define una variable de tipo numérico
      %row
        %col a = "fuw,idp,add"; b=a.split(",")
        %col La variable b contiene un array con 3 elementos
      %row
        %col a = [ "fuw", "idp", "add" ]
        %col Define un array con tres elementos
      %row
        %col a=`ls`; b=a.split("\n")
        %col La variable b contiene un array con los nombres de ficheros y carpetas del directorio actual.
      %row
        %col a=`ls`; b=a.split('\n')
        %col La variable b contiene un array un string que son todos los nombres de ficheros y carpetas del directorio actual concatenados.
      %row
        %col a='ls'; b=a.split("\n")
        %col La variable b contiene un array con el string "ls".
      %row
        %col a=`ls`; a=b.split("\n")
        %col Tenemos un error, porque la variable b no está definida.
