%map{ lang: 'es', context: 'cadencias', version: '1'}

  %concept
    %names Cadencia auténtica imperfecta en fa mayor
    %tags cadencia, autentica, imperfecta, fa, mayor
    %def{type:'file'} audio/aifa.mp3
