%map{ :lang => 'en', :context => 'loading, files, example', :version => '1'}

  %concept
    %names John Lennon
    %tags famous, singer, player, member, beatles
    %def{:type => :file} txt/quote.txt
    %def{:type => :file} https://upload.wikimedia.org/wikipedia/commons/thumb/a/a0/John_Lennon_1969_%28cropped%29-Colorized.jpg/800px-John_Lennon_1969_%28cropped%29-Colorized.jpg
    %def{:type => :file} images/john-lennon.png

  %concept
    %names Ringo Starr

  %concept
    %names Paul McCartney

  %concept
    %names George Harrison
