%map{ :version => '1' }
  %concept
    %names obiwan
    %context personaje, starwars
    %tags maestro, jedi, profesor, annakin, skywalker, alumno, quigon-jinn
    %text Jedi, maestro de Annakin Skywalker
    %text Jedi, alumno de Quigon-Jinn
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col raza
        %col humano
      %row
        %col color-sable-laser
        %col verde
      %row
        %col color-del-pelo
        %col pelirojo

  %concept
    %names yoda
    %context personaje, starwars
    %tags maestro, jedi
    %text Jedi, maestro de todos los jedis
    %text Midiendo 65 centímetros, fue el Gran Maestro de la Orden Jedi y uno de los miembros más importantes del Alto Consejo Jedi en los últimos días de la República Galáctica.
    %text Tenía habilidades excepcionales en el combate con sables de luz, empleando técnicas acrobáticas del Ataru.
    %text Era un maestro en todas las formas del combate con sables de luz y era considerado por muchos como un Maestro de Espadas.    
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col color-sable-laser
        %col verde
      %row
        %col color-del-pelo
        %col blanco
      %row
        %col color-de-piel
        %col verde

  %concept
    %names sidious
    %context personaje, starwars
    %tags humano, maestro, sith, alumno, plagueis
    %text Sith, maestro de todos los siths
    %text Es un hombre muy elocuente, hablador, astuto, verdaderamente manipulador e hipócrita, que durante mucho tiempo aparentó ser un político modesto, pero hábil.
    %text Fue acogido por el poderoso Señor Oscuro de los Sith Darth Plagueis el Sabio, aproximadamente ochenta años antes de la batalla de Yavin, quien lo convirtió en un Lord Sith.
    %text Su maestro podía manipular los midiclorianos y, con esto, manipular la vida. Traspasó todo ese conocimiento a su discípulo excepto la influencia de midiclorianos, pero él no dudó en matarlo mientras dormía, convirtiéndose en el nuevo líder de los Sith.
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col raza
        %col humano
      %row
        %col color-del-pelo
        %col castaño
      %row
        %col color-sable-laser
        %col rojo

  %concept
    %names maul
    %context personaje, starwars
    %tags lord, sith, alumno, emperador
    %text Lord Sirve como el aprendiz de Darth Sidious. Portando un sable de luz de doble hoja y formado como un maestro del combate con sables de luz.
    %text Sirve como un asesino personal de Darth Sidious y es enviado para eliminar a dos Jedis.
    %table{ :fields => 'característica, descripción' }
      %title Asocia cada característica con su valor
      %row
        %col raza
        %col zabrack
      %row
        %col color-sable-laser
        %col rojo
      %row
        %col color-del-piel
        %col roja
