%map{ :version => '1', :lang => 'en', :context=>'python, programming, language' }

  %code
    %type python
    %path files/string.py

  %code
    %type python
    %path files/array.py

  %code
    %type python
    %path files/iterator.py
