%map{ :lang => 'es', :context => 'matem치ticas,sumar', :version => '1'}

  %concept
    %names matem치ticas
    %tags matem치ticas
    %table{ :fields => 'operaci칩n,resultado' }
      %row
        %col 3 + 4
        %col 7
      %row
        %col 7 - 2
        %col 5
      %template
        %col NUMBER + NUMBER
        %col Multiplicar NUMBER * 2
