%map{ :lang => 'es', :context => 'template', :version => '1'}

  %concept
    %names servicio
    %tags servicio
    %table{ :fields => 'comando,resultado' }
      %row
        %col reboot
        %col Reiniciar la máquina
      %template{:SERVICENAME => 'smb,nmb,sshd'}
        %row
          %col systemctl start SERVICENAME
          %col Iniciar el servicio SERVICENAME
      %template{:NUMBER => '1138,1611,1970'}
        %row
          %col kill -9 NUMBER
          %col Matar el proceso con PID NUMBER
