%map{ :lang => 'es', :context => 'matem치ticas,sumar', :version => '1'}

  %concept
    %names matem치ticas
    %tags matem치ticas
    %table{ :fields => 'operaci칩n,resultado' }
      %row
        %col 3 + 4
        %col 7
      %row
        %col 7 - 2
        %col 5
      %template{:NUMBER => '3,7,11'}
        %row
          %col NUMBER + NUMBER
          %col Multiplicar NUMBER * 2
        %row
          %col NUMBER * 121
          %col 121 x NUMBER
