%map{ :version => '1', :lang => 'es', :context => 'aleman,mein,stift,und,meine,maus' }

  %concept
    %names material escolar
    %tags material, escolar, lesson, 6
    %table{ :fields => 'frase en alemán,frase en español' }
      %row
        %col mein stift und meine maus
        %col mi pluma y mi ratón
      %row
        %col das ist meine schultasche
        %col este es mi bolso
      %row
        %col das sind mein Lineal und mein Kuli
        %col estos son mi regla y mi pluma.
    %table{ :fields => 'palabra en alemán,palabra en español' }
      %row
        %col der Bleistift
        %col Lápiz
      %row
        %col der Kuli
        %col Bolígrafo
      %row
        %col der Ball
        %col Pelota
      %row
        %col der Buch
        %col Libro
      %row
        %col der Heft
        %col Cuaderno
      %row
        %col der Lineal
        %col Regla
      %row
        %col der Schultasche
        %col Mochila
      %row
        %col die Puppe
        %col La muñeca
      %row
        %col die Maus
        %col Ratón
