%map{ :version => '1', :lang => 'es', :context => 'aleman,wir,lernen,und,spielen' }

  %concept
    %names días de la semana
    %tags días,semana,lektion,8
    %table{ :fields => 'día en español,día en alemán' }
      %row
        %col Lunes
        %col Montag
      %row
        %col Martes
        %col Dienstag
      %row
        %col Miércoles
        %col Mittwoch
      %row
        %col Jueves
        %col Donnerstag
      %row
        %col Viernes
        %col Freistag
      %row
        %col Sábado
        %col Samstag
      %row
        %col Domingo
        %col Sonntag
    %table{ :fields => 'Nombre del día', :sequence =>'días ordenados' }
      %row Montag
      %row Dienstag
      %row Mittwoch
      %row Donnerstag
      %row Freistag
      %row Sonntag
        
