%map{ :version => '1', :lang => 'es', :context => 'inglés,our,town' }

  %concept
    %names our town
    %tags our town, lesson, 6
    %table{ :fields => 'frase en inglés,frase en español' }
      %row
        %col where's the bus station?
        %col dónde está la estación de guaguas?
      %row
        %col It's next to the post office
        %col Está al lado de la oficina de correos
      %row
        %col there's a slide
        %col hay un tobogán
      %row
        %col there's a swimmingpool
        %col hay una piscina
      %row
        %col there are lots of trees
        %col hay muchos árboles
      %row
        %col there are lots of boys
        %col hay muchos niños
      %row
        %col there are two cats
        %col hay dos gatos
      %row
        %col Where are the visitors?
        %col ¿Dónde están los visitantes?
      %row
        %col They're late
        %col Ellos llegan tarde
      %row
        %col They're over there, on the bus
        %col Ellos están ahí, en el autobús
      %row
        %col Welcome to Middleton
        %col Bienvenidos a Middleton
      %row
        %col Come and see our town. It's great
        %col Ven y mira nuestro pueblo. Está muy bien
      %row
        %col Look! There's the toy shop
        %col ¡Mira! Hay una tienda de juguetes
      %row
        %col This is the park
        %col Este es el parque
      %row
        %col There aren't any swings
        %col No hay ningún columpio
      %row
        %col In our park, there are eight swings
        %col En nuestro parque, hay ocho columpios
      %row
        %col Here's the train station
        %col Aquí está la estación de tren
      %row
        %col Is there an airport?
        %col ¿Hay un aeropuerto?
      %row
        %col No, there isn't
        %col No, no hay
      %row
        %col This is Coco the cat
        %col Este es el gato Coco
      %row
        %col There are two cats in our club
        %col Hay dos gatos en nuestro club
      %row
        %col The horse is mine
        %col El caballo es mío
      %row
        %col Let's play on the computer
        %col Juguemos con el ordenador
      %row
        %col At our club we've got six computers
        %col En nuestro club tenemos seis ordenadores
      %row
        %col What have you got?
        %col ¿Qué tienes tú?
      %row
        %col We've got very good friends
        %col Nosotros tenemos muy buenos amigos
    %table{ :fields => 'palabra en inglés,palabra en español' }
      %row
        %col cinema
        %col cine
      %row
        %col swimming pool
        %col piscina
      %row
        %col school
        %col escuela
      %row
        %col park
        %col parque
      %row
        %col restaurant
        %col testaurante
      %row
        %col library
        %col librería
      %row
        %col supermarket
        %col supermercado
      %row
        %col shopping center
        %col centro comercial
      %row
        %col car park
        %col aparcamiento
      %row
        %col post office
        %col oficina de correos
      %row
        %col bus station
        %col estación de autobuses
      %row
        %col paths
        %col senderos
      %row
        %col river
        %col río
      %row
        %col beach
        %col playa
      %row
        %col wood
        %col bosque
      %row
        %col bridge
        %col puente
      %row
        %col picnic area
        %col área de picnic
      %row
        %col shop
        %col tienda
      %row
        %col Hi!
        %col ¡Hola!

  %concept
    %names Historia "the visitors"
    %tags historia, the , visitors, los , visitantes
    %table{ :fields => 'comienzo de frase,final de frase' }
      %row
        %col The visitors
        %col are late
      %row
        %col The visitors are on
        %col a bus
      %row
        %col The visitors' park has got
        %col swings
      %row
        %col The visitors' town has got
        %col a big toy shop
      %row
        %col The visitors' club has got
        %col six computers
      %row
        %col Eve and the children are
        %col good friends
