%map{ :version => '1', :lang => 'es', :context => 'inglés,our,town' }

  %concept
    %names our town
    %tags our town, lesson, 6
    %table{ :fields => 'frase en inglés,frase en español' }
      %row
        %col where's the bus station?
        %col dónde está la estación de guaguas?
      %row
        %col It's next to the post office
        %col Está al lado de la oficina de correos
      %row
        %col there's a slide
        %col hay un columpio
      %row
        %col there's a swimmingpool
        %col hay una piscina
      %row
        %col there are lots of trees
        %col hay muchos árboles
      %row
        %col there are lots of boys
        %col hay muchos niños
      %row
        %col there are two cats
        %col hay dos gatos
    %table{ :fields => 'palabra en inglés,palabra en español' }
      %row
        %col cinema
        %col cine
      %row
        %col swimming pool
        %col piscina
      %row
        %col school
        %col escuela
      %row
        %col park
        %col parque
      %row
        %col restaurant
        %col testaurante
      %row
        %con library
        %col librería
      %row
        %con supermarket
        %col supermercado
      %row
        %con shopping center
        %col centro comercial
      %row
        %con car park
        %col aparcamiento
      %row
        %con post office
        %col oficina de correos
      %row
        %con bus station
        %col estación de autobuses
      %row
        %con paths
        %col senderos
      %row
        %con river
        %col río
      %row
        %con beach
        %col playa
      %row
        %con wood
        %col bosque
      %row
        %con bridge
        %col puente
      %row
        %con picnic area
        %col área de picnic
      %row
        %con shop
        %col tienda
  
