%map{ :version => '1', :lang => 'es', :context => 'lengua, castellana, tema 11' }

  %concept
    %names gentilicios
    %tags palabra,indica,lugar,es, ser, persona
    %def Los [*] son las palabras que indican de qué lugar es una persona.
    %def La mayoría de los [*] se forman añadiendo terminaciones como -és, -esa, -ino, -ina, -ano, -ana, -í...
    %table{ :fields => 'terminaciones' }
      %row -és
      %row -esa
      %row -ino
      %row -ina
      %row -ano
      %row -ana
      %row -í
    %table{ :fields => 'lugar,gentilicio' }
      %row
        %col Aragón
        %col Aragonés
      %row
        %col Málaga
        %col Malagueño
      %row
        %col Vigo
        %col Vigués
      %row
        %col Lanzarote
        %col Lanzaroteño
      %row
        %col Barcelona
        %col Barcelonés
      %row
        %col Santander
        %col Santanderino
      %row
        %col Granada
        %col Granadino
      %row
        %col Brasil
        %col Brasileño
      %row
        %col Cuba
        %col Cubano
      %row
        %col Dinamarca
        %col Danés
      %row
        %col Escocia
        %col Escocés
      %row
        %col Venezuela
        %col Venezolano
      %row
        %col Marruecos
        %col Marroquí
      %row
        %col Perú
        %col Peruano
      %row
        %col China
        %col Chino
      %row
        %col Australia
        %col Australiano
      %row
        %col Argentina
        %col Argentino
        
  %concept
    %names diminutivo
    %tags palabra,indica,tamaño,pequeño
    %table{ :fields => 'palabra,diminutivo' }
      %row
        %col sapo
        %col sapito
      %row
        %col hoyo
        %col hoyito
      %row 
        %col hoja
        %col hojita
      %row
        %col brazo
        %col bracito        

