%map{ :version => '1', :lang => 'es' }
  %concept
    %names palabra-derivada
    %context lengua, castellana
    %tags palabra, forma, añadir, terminación
    %text Una [*] se han formado añadiendo alguna terminación a otra palabras.
    %table{ :fields => 'palabra,palabra-derivada' }
      %title Ejemplos de palabras derivadas
      %row
        %col hablar
        %col hablador
      %row
        %col ruido
        %col ruidoso
      %row
        %col mimos
        %col mimoso
      %row
        %col cariño
        %col cariñoso
      %row
        %col flauta
        %col flautista
      %row
        %col piano
        %col pianista
      %row
        %col comprar
        %col comprador
      %row
        %col esquiar
        %col esquiador
      %row
        %col deporte
        %col deportista

  %concept
    %names sílaba
    %context lengua, castellana
    %tags conjunto, letra, pronunciar, juntas, mismo, golpe, voz
    %text Es un conjunto de letras que se pronuncian juntas en un sólo golpe de voz.
    %text Hay dos tipos de [*]: tónicas y átonas.
    
  %concept
    %names sílaba-tónica
    %context lengua, castellana
    %tags sílaba, suena, más, fuerte
    %text La sílaba que suena más fuerte en una palabra es la [*].
    
  %concept
    %names sílaba-átona
    %context lengua, castellana
    %tags sílaba, suena, igual
    %text Cada sílaba que suena igual de fuerte que el resto de la palabra, se llama [*].
    %table{ :fields => 'palabra,sílaba-tónica,sílabas-átonas' }
      %title Ejemplos de sílabas tónicas
      %row
        %col gigante
        %col gan
        %col gi,te
      %row
        %col despertador
        %col dor
        %col des,per,ta
      %row
        %col colegio
        %col le
        %col co,gio
      %row
        %col esperanza
        %col ran
        %col es,pe,za
      %row
        %col anuncio
        %con nun
        %col a,cio

  %concept
    %names acento
    %context lengua, castellana
    %tags sílaba, tónica, signo, gráfico, tilde
    %text A veces, el [*] de una palabra se marca con un signo llamada tilde o [*] gráfico.
    %text El [*] de una palabra recae sobre la sílaba tónica.
  
  %concept
    %names sonido-J
    %context lengua,castellana
    %tags sonido, j
    %text El [*] se escribe con j ante a, o, u. 
    %table{ :fields => 'ejemplos-sonido-j-delante-de-aou' }
      %title Ejemplos palabras con el sonido J
      %row jabón
      %row juguete
      %row joyero
    %text El [*] ante e, i, se escribe unas veces con j y otras con g.
    %table{ :fields => 'ejemplos-sonido-j-delante-de-ei' }
      %title Ejemplos palabras con el sonido J
      %row jersey
      %row jirafa
      %row gigante
      %row geranio

  %concept
    %names verso
    %context lengua,castellana
    %tags línea, poema
    %text Cada línea de un poema es un [*].
      
  %concept
    %names estrofa
    %context lengua,castellana
    %tags grupo, verso
    %text Los grupos de versos se llaman [*].

  %concept
    %names palabras-compuestas
    %context lengua,castellana
    %tags palabra, formar, unir, dos, más, palabras
    %text Las [*] son las que se han formado uniendo dos o más palabras.

