%map{ :version => '1', :lang => 'es', :context => 'lengua, castellana, tema 11' }

  %concept
    %names posesivos
    %tags palabra, indica, pertenecer, persona, animal, cosa
    %def Los [*] son las palabras que sirven para indicar a quién o quiénes pertenece una persona, animal o cosa.
    %def Los [*] van en el mismo género y número que el sustantivo al que se refieren.
    %table{ :fields => 'formas de los posesivos, posesivos' }
      %row
        %col Masculino singular
        %col mi, tu, su, nuestro, vuestro, mío, tuyo, suyo
      %row 
        %col Feminino singular
        %col mi, tu, su, nuestra, vuestra, mía, tuya, suya
      %row
        %col Masculino plural
        %col mis, tus, sus, nuestros, vuestros, míos, tuyos, suyos
      %row
        %col Femenino plural
        %col mis, tus, sus, nuestras, vuestras, mías tuyas, suyas
    %table{ :fields => 'frase, posesivos' }
      %row
        %col Al pasar, mi gato bufó a tu perro
        %col mi, tu
      %row
        %col Su cámara se rompió y cogió la vuestra
        %col su, vuestra
      %row
        %col Nuestro hermano se aloja en su casa
        %col nuestro, su

  %concept
    %names enumeraciones
    %def Se escribe coma(",") para separar los elementos de las [*].
    
