%map{ :version => '1', :lang => 'es', :context => 'lengua, castellana' }

  %concept
    %names palabra-derivada
    %tags palabra, forma, añadir, terminación
    %def Una [*] se han formado añadiendo alguna terminación a otra palabras.
    %table{ :fields => 'palabra,palabra-derivada' }
      %row
        %col hablar
        %col hablador
      %row
        %col ruido
        %col ruidoso
      %row
        %col mimos
        %col mimoso
      %row
        %col cariño
        %col cariñoso
      %row
        %col flauta
        %col flautista
      %row
        %col piano
        %col pianista
      %row
        %col comprar
        %col comprador
      %row
        %col esquiar
        %col esquiador
      %row
        %col deporte
        %col deportista

  %concept
    %names sílaba
    %tags conjunto, letra, pronunciar, juntas, mismo, golpe, voz
    %def Es un conjunto de letras que se pronuncian juntas en un sólo golpe de voz.
    %def Hay dos tipos de [*]: tónicas y átonas.

  %concept
    %names sílaba-tónica
    %tags sílaba, suena, más, fuerte
    %def La sílaba que suena más fuerte en una palabra es la [*].

  %concept
    %names sílaba-átona
    %tags sílaba, suena, igual
    %def Cada sílaba que suena igual de fuerte que el resto de la palabra, se llama [*].
    %table{ :fields => 'palabra,sílaba-tónica,sílabas-átonas' }
      %row
        %col gigante
        %col gan
        %col gi,te
      %row
        %col despertador
        %col dor
        %col des,per,ta
      %row
        %col dormir
        %col mir
        %col dor
      %row
        %col colegio
        %col le
        %col co,gio
      %row
        %col esperanza
        %col ran
        %col es,pe,za
      %row
        %col anuncio
        %col nun
        %col a,cio

  %concept
    %names acento
    %tags sílaba, tónica, signo, gráfico, tilde
    %def A veces, el [*] de una palabra se marca con un signo llamada tilde o [*] gráfico.
    %def El [*] de una palabra recae sobre la sílaba tónica.

  %concept
    %names sonido-J
    %tags sonido, j
    %def El [*] se escribe con j ante a, o, u.
    %table{ :fields => 'ejemplos-sonido-j-delante-de-aou' }
      %row jabón
      %row juguete
      %row joyero
    %def El [*] ante e, i, se escribe unas veces con j y otras con g.
    %table{ :fields => 'ejemplos-sonido-j-delante-de-ei' }
      %row jersey
      %row jirafa
      %row gigante
      %row geranio

  %concept
    %names verso
    %tags línea, poema
    %def Cada línea de un poema es un [*].

  %concept
    %names estrofa
    %tags grupo, verso
    %def Los grupos de versos se llaman [*].

  %concept
    %names palabras-compuestas
    %tags palabra, formar, unir, dos, más, palabras
    %def Las [*] son las que se han formado uniendo dos o más palabras.
