%map{ :version => '1', :lang => 'es', :context => 'lengua, castellana, tema 12' }

  %concept
    %names palabras colectivas
    %tags palabra,singular,indica,nombra,grupo,persona,animal,cosa
    %def Las [*] son las que en singular nombran a un grupo de personas, animales o cosas
    %table{ :fields => 'palabra colectiva, grupo de' }
      %row
        %col pandilla
        %col amigos o compañeros
      %row
        %col bosque
        %col árboles
      %row
        %col manada
        %col animales
      %row
        %col ramo
        %col rosas
      %row
        %col enjambre
        %col abejas
    %table{ :fields => 'frase,palabra colectiva' }
      %row
        %col El león caminaba en silencio junto al resto de la manada
        %col manada
      %row
        %col La orquesta llegó más tarde de lo previsto
        %col orquesta
      %row
        %col El perro vigilaba atento el rebaño
        %col rebaño
      %row
        %col Una bandana de patos volaba sobre el lago
        %col bandada

  %concept
    %names demostrativos
    %tags palabra,indica,expresa,distancia,persona,objeto
    %def Los [*] expresan la distancia que hay entre la persona que habla y los seres o los objetos a los que se refiere.
    %def Los [?????????????] tienen el mismo género y número que los sustantivos a los que acompañan.
    %table{ :fields => 'forma, desmostrativo' }
      %row
        %col Masculino-singular-cercanía
        %col este
      %row
        %col Femenino-singular-cercanía
        %col esta
      %row
        %col Masculino-plural-cercanía
        %col estos
      %row
        %col Femenino-plural-cercanía
        %col estas
      %row
        %col Masculino-singular-distancia media
        %col ese
      %row
        %col Femenino-singular-distancia media
        %col esa
      %row
        %col Masculino-plural-distancia media
        %col esos
      %row
        %col Femenino-plural-distancia media
        %col esas
      %row
        %col Masculino-singular-lejanía
        %col aquel
      %row
        %col Femenino-singular-lejanía
        %col aquella
      %row
        %col Masculino-plural-lejanía
        %col aquellos
      %row
        %col Femenino-plural-lejanía
        %col aquellas
    %table{ :fields => 'frase,demostrativos' }
      %row
        %col Estas hormigas trasnportan hojas
        %col estas
      %row
        %col El topo no veía a aquel bicho
        %col aquel
      %row
        %col Ese ciempiés viene del desierto
        %col ese
      %row
        %col La casa de la araña es bonita y luminosa
        %col No tiene
      %row
        %col Llévate estos granos de girasol a Eulato
        %col estos
      %row
        %col El grillo no pudo enseñarle aquella canción
        %col aquella

  %concept
    %names ll
    %tags ll
    %def Se escriben con [*] las palabras que terminan en -illo, -illa, -illos, -illas. Por ejemplo: tobillo y vajilla.

