%map{ :version => '1', :lang => 'es', :context => 'música,instrumentos' }

  %concept
    %names piano clásico
    %tags instrumento, cuerda, percutida
    %def Instrumento de cuerda percutida.
    %table{ :fields => 'características' }
      %row Tiene teclas
      %row Puede ser vertical o de cola
      %row Tiene tantas cuerdas como martillos
      %row Debe ser afinado por un Luthier

  %concept
    %names guitarra española
    %tags instrumento, 6, seis, cuerdas, madera
    %def Instrumento musical de madera con 6 cuerdas apoyadas en un mástil.
    %table{ :fields => 'características' }
      %row Tiene 6 cuerdas
      %row Tiene trastes
      %row Tiene una caja de resonancia con un agujero
      %row Tiene forma de pera
