%map{ :version => '1', :lang => 'es', :context => 'música,instrumentos' }

  %concept
    %names piano
    %tags intrumento, cuerda, percutida
    %def Instrumento de cuerda percutida.
    %table{ :fields => 'características' }
      %row Tiene teclas
      %row Puede ser vertical o de cola

  %concept
    %names guitarra
    %tags intrumento, 6, seis, cuerdas, madera
    %def Intrumento musical de madera con 6 cuerdas apoyadas en un mástil.
    %table{ :fields => 'características' }
      %row Tiene cuerdas
      %row Tiene trastes
