%map{ :version => '1', :lang => 'es', :context => 'naturales,diet,digestion,and,excretion' }

  %concept
    %names digestive system
    %tags help, us, get, nutrients, need, from, food
    %def Our [*] helps us to get the nutrients we need from food
    %table{ :fields => 'palabra en inglés, palabra en español' }
      %row
        %col digestive system
        %col sistema digestivo
      %row
        %col excretory system
        %col sistema excretor
      %row
        %col mouth
        %col boca
      %row
        %col saliva
        %col saliva
      %row
        %col to swallow
        %col tragar
      %row
        %col oesophagus
        %col esófago
      %row
        %col stomach
        %col estómago
      %row
        %col gastric juices
        %col jugos gástricos
      %row
        %col small intestine
        %col intestino delgado
      %row
        %col large intestine
        %col intestino grueso
      %row
        %col anus
        %col ano
      %row
        %col beat
        %col latir
      %row
        %col to get rid of
        %col expulsar
      %row
        %col excess water
        %col exceso de líquidos
      %row
        %col waste product
        %col deshehos
      %row
        %col kidney
        %col riñón
      %row
        %col urine
        %col orina
      %row
        %col bladder
        %col vejiga
      %row
        %col ureter
        %col uréter
      %row
        %col urethra
        %col uretra
      %row
        %col prevent diseases
        %col prevenir enfermedades
      %row
        %col to cover your mouth
        %col taparse la boca
      %row
        %col to cough
        %col toser
      %row
        %col to sneeze
        %col estornudar
    %table{ :fields => 'part of the body, action' }
      %row
        %col teeth 
        %col break the food into small pieces
      %row
        %col tongue 
        %col mixes the food with saliva
      %row
        %col stomach
        %col the food stays here for about three hours
      %row
        %col gatric juices
        %col turn the food into a thick liquid
      %row
        %col small intestine
        %col recieves thick liquid from the stomach
      %row
        %col esophagus
        %col foog goes down here tothe stomach

  %concept
    %names mouth
    %tags teeth, tongue, saliva
    %def The [*] has teeth and a tongue

  %concept
    %names stomach
    %tags bag,food,stay,three,hours
    %def The [*] is like a bag where the food stays about three hours
    %def The gastric juices break down the food into the [*]

  %concept
    %names esophagus
    %tags long,tube, food,go,down,stomach
    %def The [*] is a long tube. Food goes down here to the stomach
    
  %concept
    %names small intestine
    %tags long,thin,tube,thick,liquid,go,through,nutrients,pass,blood
    %def The [*] is a very long thin tube. The thick liquid goes through and the nutrients pass into the blood
    
  %concept
    %names large intestine
    %tags wide,tube,connect,annus
    %def The [*] is a wide tube. It connects to the annus.
    
  %concept
    %names annus
    %tags body,do,not,need,go,large,intestine,out,through
    %def What our body does not need goes along large intestine and out through the [*]
  
  %concept
    %names kidneys
    %tags remove,excess,water,waste,product,blood,turn,urine
    %def The [*] remove excess water and waste products from the blood and turns then into urine
    
  %concept
    %names bladder
    %tags bag,collect,urine
    %def The [*] is like a bag. It collects the urine.
    %def When the [*] is full, it is time to go to the toilet.

  %concept
    %names ureter
    %tags long,tube,urine,go,down,bladder
    %def The [*] are long tubes where the urine goes down to the bladder.

  %concept
    %names urethra
    %tags short,tube,urine,go,down,leave,body,we,toilet
    %def The [*] is a short tube. Urine goes down here and leaves our body when we go to the toilet.
    
