%map{ :version => '1', :lang => 'es', :context => 'naturales,diet,digestion,and,excretion' }

  %concept
    %names unit 5
    %tags diet,digestion,and,excretion
    %table{ :fields => 'palabra en inglés,palabra en español' }
      %row
        %col diet
        %col dieta
      %row
        %col digestion
        %col digestión
      %row
        %col excretion
        %col excreción
      %row
        %col fizzy drinks
        %col refrescos
      %row
        %col nutrient
        %col nutrientes
      %row
        %col carbohydrate
        %col carbohidrato
      %row
        %col fat
        %col grasa
      %row
        %col protein
        %col proteína
      %row
        %col mineral
        %col mineral
      %row
        %col vitamin
        %col vitamina
      %row
        %col pulses
        %col legumbres
      %row
        %col nuts
        %col frutos secos
      %row
        %col calcium
        %col calcio
      %row
        %col milk products
        %col lácteos
      %row
        %col lentil
        %col lenteja
      %row
        %col overweight
        %col sobrepeso
      %row
        %col tissue
        %col tejido
      %row
        %col eyesight
        %col vista
      %row
        %col crisps
        %col bolsa de patatas fritas
      %row
        %col healthy
        %col sano        
      %row
        %col unhealthy
        %col no saludable
    %table{ :fields => 'frase en inglés, frase en español' }             
      %row
        %col it has lots of salt
        %col tiene mucha sal
      %row
        %col don't eat it every day
        %col no comer cada día
      %row
        %col the food is essential
        %col la comida es esencial
      %row
        %col small quantities
        %col cantidades pequeñas
        
  %concept
    %names nutrients
    %tags food, contains, we, need, live, grow
    %def Food contains the [*] we need to live and grow.
    %def Different food contains different [*].
    %def There are five types of [*]: carbohydrates, fats, proteins, minerals and vitamins.
    %table{ :fields => 'frase en inglés, frase en español' }
      %row
        %col Food contains the nutrients we need to live and grow
        %col La comida contiene los nutrientes que necesitamos para vivir y crecer
      %row
        %col Different food contains different nutrients
        %col Diferentes alimentos contienen diferentes nutrientes
      %row
        %col There are five type of nutrients: carbohydrates, fats, proteins, minerals and vitamins
        %col Hay cinco tipos de nutrientes: carbohidratos, grasas, proteinas, minerales y vitaminas
      %row
        %col Fruit and vegetables contain vitamins and minerals
        %col Frutas y vegetales contienen vitaminas y minerales
      %row
        %col More than half our body is water!
        %col Más de la mitad de nuestro cuerpo es agua
      %row
        %col We need drink between 6 to 8 glasess every day
        %col Necesitamos beber entre 6 y 8 vasos cada día

  %concept
    %names diet
    %tags what, we, eat
    %def Our [*] is that we eat
    %def Nuestra [*](inglés) es lo que comemos
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col We need to eat more of some things and less of others
        %col Necesitamos comer mucho de unas cosas y menos de otras
    %table{ :fields => 'Alimentos', :sequence => 'Ordena de menos a más sano' }
      %row Meat, crisps
      %row Cheese, milk products
      %row Fish, oil, nuts
      %row Bread, cereals, rice
      %row Fruit, vegetables
    %table{ :fields => 'food, type' }    
      %row
        %col Meat, crisps, butter
        %col Unhealthy because it has lots of fats
      %row
        %col Cheese, milk products
        %col Is essential but in small quantities
      %row
        %col Fruit, vegetables, bread, cereals, fish
        %col Eat some every day!           
        
  %concept
    %names carbohydrates
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Potatoes, bread, cereals, pasta, pulses and rice contain [*].
    %def [*] give us energy to run, ride a bike and study.
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col Potatoes, bread, cereals, pasta, pulses and rice contain carbohydrates
        %col Patatas, pan, cereales, pasta, legumbres y el arroz contienen carbohidratos
      %row
        %col Carbohydrates give us energy to run, ride a bike and study
        %col Los carbohidratos nos dan energía para correr, montar en bicicleta y estudiar

  %concept
    %names fats
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Oil, butter, chorizo, cheese and nuts contains [*].
    %def [*] buils store of extra energy for when we need it.
    %def Don't eat too many [*], or you will become unhealthy and overweight.
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col Oil, butter, chorizo, cheese and nuts contains fats
        %col Aceite, mantequilla, chorizo, queso y frutos secos contienen grasas
      %row
        %col Fats build a store of extra energy for when we need it. 
        %col Grasas construyen un almacén de energía extra para cuando la necesitemos.
      %row
        %col But be careful. Don't eat too many or you wil become unhealthy and overweight!
        %col Pero ten cuidado. ¡No comas demasiado o te volverás insano y con sobrepeso!
    
  %concept
    %names minerals
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Fruit and vegetables contains vitamins ans [*].
    %def Milk contains a [*] called calcium.
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col Milk contain a mineral called calcium
        %col Leche contiene un mineral llamado calcio
      %row
        %col Calcium is good for bones and teeth
        %col El calcio es bueno para los huesos y los dientes
    
  %concept
    %names vitamin
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Orange and mandarins contains [*] C.
    %def Carrots contains [*] A.
    %def [*] A is good for eyesight.
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col Oranges and mandarins contain Vitamin C and carrots contain Vitamin A
        %col Naranjas y mandarinas contienen Vitamina C y las zanahorias contienen Vitamina A
      %row
        %col Vitamins and minerals help us to stay healthy, for example, Vitamin A is good for eyesight
        %col Las vitaminas y los minerales nos ayudan a estar sanos, por ejemplo, la vitamina A es buena para la vista    

  %concept
    %names proteins
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Meat, fish, eggs, nuts and milk products contain [*].
    %def Pulses, such as lentil and pinto bean, also contain [*].
    %def [*] make your hair and nails grow.
    %def [*] also repair body tissues, for example, when we fall over and hurt ourselves.
    %table{ :fields => 'frase en inglés, frase en español' }    
      %row
        %col Proteins make your hair and nails grow
        %col Las proteinas hacen crear tu pelo y uñas
      %row
        %col Meat, fish, eggs, nuts and milk products contain proteins
        %col La carne, el pescado, los huevos, frutos secos y productos lácteos contienen proteinas
      %row
        %col Pulses, such as lentils and pinto beans, also contain proteins
        %col Las legumbres, como las lentejas y las judías pinta además contienen proteinas
      %row
        %col They also repair body tissues, for example, when we fall over and hurt ourselves
        %col Ellas incluso reparan los tejidos del cuerpo, por ejemplo, cuando nos caemos y nos hacemos daño
        
