%map{ :version => '1', :lang => 'es', :context => 'naturales,diet,digestion,and,excretion' }

  %concept
    %names unit 5
    %tags diet,digestion,and,excretion
    %table{ :fields => 'palabra en inglés,palabra en español' }
      %row
        %col crecer
        %col grow
      %row
        %col diet
        %col dieta
      %row
        %col digestion
        %col digestión
      %row
        %col excretion
        %col excreción
      %row
        %col fizzy drinks
        %col refrescos
      %row
        %col nutrient
        %col nutrientes
      %row
        %col carbohydrate
        %col carbohidrato
      %row
        %col fat
        %col grasa
      %row
        %col protein
        %col proteína
      %row
        %col mineral
        %col mineral
      %row
        %col vitamin
        %col vitaminanteja
      %row
        %col pulses
        %col legumbres
      %row
        %col nuts
        %col frutos secos
      %row
        %col calcium
        %col calcio
      %row
        %col milk products
        %col lácteos
      %row
        %col lentil
        %col lenteja
      %row
        %col overweight
        %col sobrepeso
      %row
        %col tissue
        %col tejido
      %row
        %col eyesight
        %col vista
      %row
        %col crisps
        %col bolsa de patatas fritas
      %row
        %col healthy
        %col sano
      %row
        %col it has lots of salt
        %col tiene mucha sal
      %row
        %col don't eat it every day
        %col no comer cada día
      %row
        %col the food is essential
        %col la comida es esencial
      %row
        %col small quantities
        %col cantidades pequeñas
        
  %concept
    %names nutrients
    %tags food, contains, we, need, live, grow
    %def Food contains the [*] we need to live and grow.
    %def Different food contains different [*].
    %def There are five types of [*]: carbohydrates, fats, proteins, minerals and vitamins.

  %concept
    %names carbohydrates
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Potatoes, bread, cereals, pasta, pulses and rice contain [*].
    %def [*] give us energy to run, ride a bike and study.

  %concept
    %names fats
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Oil, butter, chorizo, cheese and nuts contains [*].
    %def [*] buils store of extra energy for when we need it.
    %def Don't eat too many [*], or you will become unhealthy and overweight.
    
  %concept
    %names minerals
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Fruit and vegetables contains vitamins ans [*].
    %def Milk contains a [*] called calcium.
    
  %concept
    %names vitamin
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Orange and mandarins contains [*] C.
    %def Carrots contains [*] A.
    %def [*] A is good for eyesight.
    
  %concept
    %names proteins
    %tags type, nutrients, food, contains, we, need, live, grow
    %def Meat, fish, eggs, nuts and milk products contain [*].
    %def Pulses, such as lentil and pinto bean, also contain [*].
    %def [*] make your hair and nails grow.
    %def [*] also repair body tissues, for example, when we fall over and hurt ourselves.
    
