%map{ :version => '1', :lang => 'es' }
  %concept
    %names números-romanos
    %context matemáticas
    %tags letras, representar, valor, número
    %text Los [*] es la forma que usaban los antiguos Romanos para escribir los números.
    %table{ :fields => 'número-romano', :sequence => 'Ordenados de menor a mayor,Ordenados de mayor a menor' }
      %title Ejemplos de números romanos ordenados de menor a mayor
      %row I
      %row II
      %row III
      %row IV
      %row V
      %row VI
      %row VII
      %row VIII
      %row IX
      %row X
    %table{ :fields => 'número-romano,número-base10'}
      %title Ejemplos de números romanos
      %row
        %col I
        %col uno
      %row
        %col II
        %col dos
      %row
        %col III
        %col tres
      %row
        %col IV
        %col cuatro
      %row
        %col V
        %col cinco
      %row
        %col VI
        %col seis
      %row
        %col VII
        %col siete
      %row
        %col VIII
        %col ocho
      %row
        %col IX
        %col nueve
      %row
        %col X
        %col diez


