%map{ :version => '1', :lang => 'es', :context=>'matemáticas' }

  %concept
    %names números-romanos
    %tags letras, representar, valor, número
    %def Los [*] es la forma que usaban los antiguos Romanos para escribir los números.
    %table{ :fields => 'números', :sequence => 'Ordenados de menor a mayor' }
      %row I
      %row II
      %row III
      %row IV
      %row V
      %row VI
      %row VII
      %row VIII
      %row IX
      %row X
    %table{ :fields => 'número-romano,número-con-letras'}
      %row
        %col I
        %col uno
      %row
        %col II
        %col dos
      %row
        %col III
        %col tres
      %row
        %col IV
        %col cuatro
      %row
        %col V
        %col cinco
      %row
        %col VI
        %col seis
      %row
        %col VII
        %col siete
      %row
        %col VIII
        %col ocho
      %row
        %col IX
        %col nueve
      %row
        %col X
        %col diez
