%map{ :version => '1', :lang => 'es', :context => 'sociales,me,and,my,town' }

  %concept
    %names unit 5
    %tags me, and, my, town, unit, 5
    %table{ :fields => 'frase en inglés,frase en español' }
      %row
        %col Most people in Spain live in cities and towns
        %col La mayoría de los españoles viven en ciudades y pueblos
      %row
        %col Cities and towns have different zones
        %col Ciudades y pueblos tiene zonas diferentes
      %row
        %col A zone is an area of a city or town with its own characteristics
        %col Una zona es un área de una ciudad o pueblo con sus propias características
      %row
        %col The city center or town center is usually the oldest zone
        %col El centro de la ciudad o pueblo es normalmente la zona más vieja
      %row
        %col It has the main square and the town hall or city hall
        %col Tiene la plaza central y el ayuntamiento
      %row
        %col The buildings aren't very tall and the streets are often narrow
        %col Los edificios no son mut altos y las calles son amenudo estrechas
      %row
        %col There are usuallly historical buildings there, as well as offices, museums, theatres and cinemas
        %col Normalmente hay allí edificios históricos, también oficinas, museos, teatros y cines
      %row
        %col There isn't usually a lot of space
        %col Normalmente no hay mucho espacio
      %row
        %col When the number of inhabitants increase, new and more modern zones are built
        %col Cuando aumenta el número de habitantes, se construyen nuevas zonas y más modernas
      %row
        %col These areas often have tall block of flats with communal gardens, and modern office buildings
        %col Estas áreas amenudo tienen bloques altos de pisos con jerdines comunitarios, y edificios de oficinas modernas
      %row
        %col The streets are wider
        %col Las calles son más anchas
      %row
        %col There are hospitals, shops and schools
        %col Hay hospitales, tiendas y escuelas
      %row
        %col Sometimes there are cinemas too
        %col Algunas veces, también hay cines
      %row
        %col On the outskirts of a city or town, there is usally a lot of space
        %col En las afueras de las ciudades o pueblos, normalmente hay mucho espacio
      %row
        %col There are factories, large supermarkets and shopping centers there, and sometimes, an airport
        %col Hay fábricas, grandes supermercados y centros comerciales allí, y algunas veces, un aeropuerto
      %row
        %col This is where zoos and theme parks can be found too
        %col Aquí se pueden encontrar también zoos y parques temáticos
      %row
        %col Wait your turn
        %col Espera tu turno
      %row
        %col Wait for people to get off
        %col Espera a que salga la gente
      %row
        %col Don't talk to the driver
        %col No hablar con el conductor
      %row
        %col Give up your seat
        %col Ceder tu asiento
      %row
        %col Wear your seatbelt
        %col Ponerse el cinturón de seguridad
      %row
        %col Talk quiet
        %col Hablar bajo 
      %row
        %col In every city or town there is a city council or town council
        %col En cada ciudad o pueblo hay un ayuntamiento
      
  %concept
    %names area
    %def A zone is an [*] of a city or town with its own characteristics
    %def Una zona es un [*] de una ciudad o un pueblo con sus propias características

