%map{ :version => '1', :lang => 'es', :context => 'sociales,me,and,my,town,vocabulario' }

  %concept
    %names Vocabulario(Me and my town)
    %tags vocabulario, me, and, my, town,unit,5
    %table{ :fields => 'palabra en inglés,palabra en español'}
      %row
        %col city
        %col ciudad
      %row
        %col cities
        %col ciudades
      %row
        %col town
        %col pueblo
      %row
        %col towns
        %col pueblos
      %row
        %col zone
        %col zona
      %row
        %col zones
        %col zonas
      %row
        %col area
        %col área
      %row
        %col areas
        %col áreas
      %row
        %col usually
        %col normalmente
      %row
        %col buildings
        %col edificios
      %row
        %col tall
        %col alto
      %row
        %col often
        %col amenudo
      %row
        %col narrow
        %col estrechas
      %row
        %col museum
        %col museo
      %row
        %col museums
        %col museos
      %row
        %col theatres
        %col teatros
      %row
        %col theatre
        %col teatro
      %row
        %col office
        %col oficina
      %row
        %col offices
        %col oficinas
      %row
        %col inhabitants
        %col habitantes
      %row
        %col inhabitant
        %col habitante
      %row
        %col more
        %col más
      %row
        %col built
        %col construidas
      %row
        %col increase
        %col aumenta
      %row
        %col modern
        %col moderno
      %row
        %col garden
        %col jardín
      %row
        %col block
        %col bloque
      %row
        %col blocks
        %col bloques
      %row
        %col flat
        %col piso
      %row
        %col flats
        %col pisos
      %row
        %col wide
        %col ancho
      %row
        %col wider
        %col más ancho
      %row
        %col hospitals
        %col hospitales
      %row
        %col sometimes
        %col algunas veces
      %row
        %col outskirts
        %col afueras
      %row
        %col airport
        %col aeropuerto
      %row
        %col seatbelt
        %col cinturón de seguridad
      %row
        %col block of flats
        %col bloque de pisos
      %row
        %col candidate
        %col candidato
      %row
        %col city center
        %col centro de la ciudad
      %row
        %col city council
        %col consejo municipal
      %row
        %col city hall/town hall
        %col ayuntamiento
      %row
        %col councillor
        %col concejal
      %row
        %col cultural event
        %col evento cultural
      %row
        %col dining-room assistant
        %col auxiliar de comedor
      %row
        %col election campaign
        %col campaña electoral
      %row
        %col family
        %col familia
      %row
        %col festival
        %col festival
      %row
        %col historical building
        %col edificio histórico
      %row
        %col housework
        %col tareas domésticas
      %row
        %col law
        %col ley
      %row
        %col main square
        %col plaza principal
      %row
        %col mayor
        %col alcalde
      %row
        %col modern zone
        %col zona moderna
      %row
        %col neighbourhood
        %col vecindario
      %row
        %col neighbour
        %col vecino
      %row
        %col non-teaching staff
        %col personal no docente
      %row
        %col outskirt
        %col afueras
      %row
        %col polite
        %col edicado/a
      %row
        %col polling station
        %col colegio electoral
      %row
        %col porter
        %col conserje
      %row
        %col public services
        %col servicios públicos
      %row
        %col repair
        %col reparar
      %row
        %col respect
        %col respetar
      %row
        %col rule
        %col regla
      %row
        %col school
        %col escuala
      %row
        %col social work
        %col trabajo social
      %row
        %col teacher
        %col profesor/a
      %row
        %col town council
        %col gobierno municipal
      %row
        %col vote
        %col votar
