%map{ :lang => 'en', :context => 'character, starwars', :version => '1'}

  %concept
    %names obiwan
    %tags jedi, teacher, anakin, skywalker, pupil, quigon-jinn
    %def Jedi, teacher of Anakin  Skywalker
    %def Jedi, pupil of Quigon-Jinn
    %def Live in Tattoine, near Luke Skywalker house.
    %def{:type => 'image_url'} https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQgYLLr0mmBtdMoqqzxWT6OGWKeBBeTqGAQPgEkmVGIIKNKb8Yv    
    %table{ :fields => 'attribute, value' }
      %row
        %col race
        %col human
      %row
        %col laser sabel color
        %col green
      %row
        %col hair color
        %col red

  %concept
    %names yoda
    %tags teacher, jedi
    %def Jedi, teacher of all jedis
    %def The Main Teacher of Jedi and one of the most important members of the Main Jedi Council, in the last days of Star Republic.
    %def He has exceptional combat abilities with light sable, using acrobatics tecnics from Ataru.
    %def He was master of all light sable combat styles and was considered during years as a Sword Master.
    %table{ :fields => 'attribute, value' }
      %row
        %col laser sabel color
        %col green
      %row
        %col hair color
        %col white
      %row
        %col skin color
        %col green
      %row
        %col high
        %col 65 centimetres
