%map{ :lang => 'en', :context => "character, starwars", :version=>'1' }

  %concept
    %names sidious
    %tags human, teacher, sith, pupil, plagueis
    %def Sith, teacher of all siths
    %def Es un hombre muy elocuente, hablador, astuto, verdaderamente manipulador e hipócrita, que durante mucho tiempo aparentó ser un político modesto, pero hábil.
    %def Fue acogido por el poderoso Señor Oscuro de los Sith Darth Plagueis el Sabio, aproximadamente ochenta años antes de la batalla de Yavin, quien lo convirtió en un Lord Sith.
    %def Su maestro podía manipular los midiclorianos y, con esto, manipular la vida. Traspasó todo ese conocimiento a su discípulo excepto la influencia de midiclorianos, pero él no dudó en matarlo mientras dormía, convirtiéndose en el nuevo líder de los Sith.
    %table{ :fields => 'attribute, value' }
      %row
        %col race
        %col human
      %row
        %col hair color
        %col brown
      %row
        %col laser sabel color
        %col red

  %concept
    %names maul
    %tags lord, sith, alumno, emperador
    %def Lord Sirve como el aprendiz de Darth Sidious. Portando un sable de luz de doble hoja y formado como un maestro del combate con sables de luz.
    %def Sirve como un asesino personal de Darth Sidious y es enviado para eliminar a dos Jedis.
    %table{ :fields => 'característica, descripción' }
      %row
        %col race
        %col zabrack
      %row
        %col laser sabel color
        %col red
      %row
        %col skin color
        %col red and black
