%map{ :version => '1', :lang => 'es' }
  %concept
    %names gripe
    %context texto, gripe
    %tags texto, gripe
    %text La mejor manera de vencer al virus de [*] es cuidar lo más posible la salud de nuestro cuerpo: el ejercicio diario y una dieta rica en frutas y vegetales es lo más recomendable para contribuir a que nuestro sistema inmunitario esté en buenas para luchar contra el virus invasor.
    %table{ :fields => 'atributo, valor' }
      %title Asocia cada característica con su valor
      %row
        %col Periodo estacional donde [*] se propaga rápida y extensamente.
        %col Invierno
      %row
        %col Tiempo de padecimiento
        %col Semanas 

  %concept
    %names ACOL
    %context texto, gripe
    %tags texto, gripe, empresa
    %text La empresa [*] ha decidido ofrecer a su personal la oportunidad de vacunarse, como recurso adicional para evitar que este insidioso virus se extienda entre nosotros. 
    %text [*] ha previsto que una enfermera lleve a cabo el programa de vacunación dentro de la empresa en horas de trabajo, durante la mitad de la jornada laboral de la semana en que se inicie la campaña. Este programa se ofrece gratuitamente a todos los empleados de la empresa.
    %text La participación es voluntaria, así que los empleados de [*] que decidan utilizar esta oportunidad deben firmar un impreso manifestando su consentimiento e indicando que no padecen ningún tipo de alergia y que comprenden que pueden experimentar algunos efectos secundarios sin importancia.
    %table{ :fields => 'tipo-de-persona,recomendación' }
      %title Asocia cada característica con su valor
      %row
        %col Cualquiera que esté interesado
        %col Se pueden vacunar
      %row
        %col Mayores de 65 años.
        %col Especialmente recomendada la vacunación
      %row
        %col Que padezca alguna enfermedad crónica.
        %col Está recomendada la vacunación
      %row 
        %col Enfermedades crónicas especiales para vacunación.
        %col Tipo cardíaco, pulmonar, bronquial o diabético.
      %row
        %col Todas las personas
        %col Corren el riesgo de contraer la enfermedad
      %row
        %col Las personas que sean hipersensibles a los huevos, las que padezcan alguna enfermedad que produzca fiebres altas y las mujeres embarazadas. 
        %col Quienes no deben vacunarse
      %row
        %col Se debe consultar al doctor 
        %col Si se está tomando alguna medicación o si anteriormente ha sufrido reacciones adversas a la vacuna contra la gripe.
