%map{ :version => '1', :lang => 'es', :context=>'hardware, cpd' }

  %concept
    %names clasificación-ordenadores-por-su-propósito
    %tags clasificación, ordenadores, proposito, diseño, contrucción
    %table{ :fields => 'clasificación,descripción' }
      %row
        %col Ordenador de uso general
        %col Puede utilizarse para distintos tipos de aplicaciones, tales como gestión administrativa, cálculo científico, etc.
      %row
        %col Ordenador de uso específico
        %col Es el que únicamente puede utilizarse para una aplicación concreta. Ejemplo, el que contiene un robot, la computadora para el control del tráfico, etc.

  %concept
    %names clasificación-ordenadores-según-su-tamaño
    %tags clasificación, ordenadores, tamaño
    %table{ :fields => 'clasificación,descripción' }
      %row
        %col Superordenadores
        %col Pueden ser utilizados simultáneamente por muchos usuarios, en cálculos científicos o de simulación Su coste es por lo general es de miles de millones de pesetas y su velocidad es enorme.
      %row
        %col Mainframes o grandes ordenadores
        %col Son equipos dedicados principalmente a gestión, por lo que admiten gran cantidad de trabajos simultáneos, como por ejemplo controlar una red de terminales en las distintas sucursales de una empresa, o una red de cajeros automáticos de un banco.
      %row
        %col Superminiordenadores
        %col Son equipos en principio dedicados a tareas departamentales dentro de un organismo o empresa. Su capacidad principal es la de soportar gran cantidad de terminales.
      %row
        %col Miniordenadores
        %col Son equipos que admiten unas cuantas terminales. Están orientados a la gestión. Actualmente son poco competitivos frente a los microordenadores de gama alta.
      %row
        %col Estaciones de trabajo ("Workstations")
        %col Son equipos monousuario, dotados de grandes capacidades de cálculo y con posibilidades gráficas muy elevadas. Se utilizan principalmente en la investigación científica y en aplicaciones técnicas, como por ejemplo la simulación.
      %row
        %col Ordenadores personales o microordenadores
        %col Son equipos ampliamente difundidos, de precio muy reducido y prestaciones suficientes no sólo para el nivel personal, sino para pequeñas empresas. Actualmente se están conectando entre sí, formando grandes redes lo cual los hace adecuados para entornos más exigentes, sustituyendo en muchos casos a los miniordenadores.

  %concept
    %names clasificación-ordenadores-según-el-ámbito-de-uso
    %tags clasificación, ordenadores, ámbito, uso
    %table{ :fields => 'clasificación,descripción' }
      %row
        %col Ordenador de bolsillo
        %col Los más difundidos son el tipo PDA (Personal Digital Asistant). Hay dos grandes marcas en lucha constante:Palm, pionera en la fabricación de estos aparatos, que conserva su propio estilo, con su propio sistema operativo, el Palm OS. Pocket PC, estándar desarrollado por Microsoft, adaptando sus sistemas operativos de PC y portátiles a estos pequeños aparatos y sobre el que decenas de empresas fabrican sus PDA. Entre ellas encontramos a HP y Canon.
      %row
        %col Ordenador doméstico
        %col Pensado para juegos, aprendizaje asistido por ordenador de diversas materias, gestión de agendas, pequeñas contabilidades domésticas, etc.
      %row
        %col Ordenador profesional
        %col Diseñado para satisfacer las necesidades de proceso de datos de una amplia gama de profesionales y también de pequeñas oficinas técnicas o empresas familiares.
      %row
        %col Ordenador departamental
        %col Ordenador con capacidad local para abordar con autosuficiencia la mayoría de necesidades del departamento, pero vinculado a un ordenador de mayor potencia y capacidad de archivos para aquellos procesos que requieren una mayor potencia en el procesador.
      %row
        %col Ordenador central
        %col Ordenador central de la empresa al cual recurren todos los usuarios de la empresa cuando la capacidad local es desbordada.
      %row
        %col Red de ordenadores
        %col Conjunto de ordenadores vinculados entre sí para ofrecer un mismo tipo de servicio a todo un conjunto muy amplio de usuarios de forma repartida para evitar sobrecargas y evitar que la caída de un ordenador único central represente la caída de todo el servicio.

  %concept
    %names cpd
    %tags centro, proceso, datos
    %def Se denomina [*] a aquella ubicación donde se concentran todos los recursos (físicos, lógicos y humanos), necesarios para el procesamiento de la información de una empresa a través de la organización, realización y control de todas las actividades informáticas de la empresa.
    %def Un [*] es un edificio o sala de gran tamaño usada para mantener en él gran cantidad de equipamiento electrónico. Suelen ser creados y mantenidos por medianas o grandes organizaciones de ámbito público (como ministerios o consejerías) o privado (bancos o multinacionales) con objeto de tener acceso y disponibilidad permanente a la información necesaria para sus operaciones. En el caso de grandes empresas pueden llegar a tener varios creando incluso centros de respaldo.
    %def El principal factor que lleva a la creación de un [*] es el garantizar la continuidad del servicio a todo aquel que hace uso del mismo ya que en muchos casos estos sistemas suelen emplear información crítica que hay que blindar o proteger tanto física como lógicamente puesto que la mayoría de las empresas que hacen uso del mismo, dependen de la disponibilidad, seguridad y redundancia de la información que se almacena en sus servidores. La no disponibilidad de la misma puede causar elevados costes por lo que, generalmente, deben funcionar ininterrumpidamente, sin lentitud en el tráfico de datos y con transacciones libres de errores.
    %def Un [*] debe cumplir una serie de normativas recogidas en la Ley Orgánica de Protección de Datos (LOPD), una ley de protección de datos de carácter personal que se impone como una obligación para las empresas y profesionales y que se recoge en el RD 994/1999, que establece una serie de medidas de carácter técnico y organizativo que garanticen la seguridad de los datos de carácter personal a llevar a cabo por la empresa o profesional que almacena estos datos. Entre estas medidas se incluye la elaboración de un documento de seguridad en el que se detallarán los datos almacenados, las medidas de seguridad adoptadas, así como las personas que tienen acceso a esos datos.

  %concept
    %names seguridad-física
    %tags seguridad, física, riesgos, centro, proceso, datos
    %def La [*] es uno de los aspectos más olvidados a la hora de diseñar un sistema informático, en concreto un CPD. Esto puede derivar en que para un ataque sea más fácil tomar y copiar una cinta de una sala, que intentar acceder vía lógica a la misma. Evaluar y controlar permanentemente la [*] del edificio es una función primordial dentro del diseño de nuestra CPD. A veces vemos que es una de las opciones menos tratadas, por lo que podemos llevarnos más de un susto o algo peor.
    %def La [*] consiste en la aplicación de barreras físicas y procedimientos de control, como medidas de prevención y contramedidas, ante amenazas a los recursos e información confidencial. Es decir, que controles y mecanismos de seguridad vamos a utilizar para proteger nuestra CPD. Todo ello para proteger el hardware y los medios de almacenamiento de datos.
    %table{ :fields => 'riesgo,descripción' }
      %row
        %col Naturales
        %col Son aquellos procedentes del entorno natural. Daños por viento, inundaciones, hundimientos, incendios, etc.
      %row
        %col Vecindad
        %col Son los riesgos procedentes del entorno creado por el hombre. Atentados, actos vandálicos, instalaciones eléctricas, señales de radar, etc ..
      %row
        %col Acciones humanas deliberadas o accidentales
        %col Robos de cintas, accidentes fortuitos, sabotaje, etc.
    %table{ :fields => 'medida-física-prevención,descripción' }
      %row
        %col Control de Acceso
        %col Dentro de estos podemos encontrar, por código de barras, bandas magnéticas, biométricos (reconocen rasgos físicos, como las huellas dactilares, de la mano, o de la retina) o una combinación de varios de ellos.
      %row
        %col Utilización de Guardias
        %col La utilización de guardias de seguridad para controlar el acceso al recinto. Éstos pueden utilizar cámaras para monitorizar diferentes áreas. Se pueden utilizar sensores de movimiento o temperatura, etc.
      %row
        %col Detectores de Metales
        %col Este es un sistema sumamente útil para la revisión de personas, sin tener que utilizar la palpación. Estas máquinas son regulables, por lo que podemos definir la cantidad de metal que se pueden pasar.

  %concept
    %names rack
    %tags bastidor, armario, rakc, armazón, metal
    %def Un [*], es un armazón o armario en metal para soportar equipos electrónicos, informáticos y de comunicaciones. Este tipo de dispositivos permitirán configuraciones hardware complejas sin ocupar excesivo espacio ni requerir estanterías.
    %def Todos los [*] tienen unas medidas estándar y normalizadas, normalmente de 19 pulgadas de ancho y con un alto y fondo ya variable adaptable al componente a ubicar. El armazón dispone de una serie de guías horizontales donde apoyar el equipo a instalar, así como puntos de anclaje para la fijación del mismo mediante tornillos. También existe la posibilidad de, mediante bandejas,apoyar equipamiento como un monitor o un teclado.
    %table{ :fields => 'dispositivo' }
      %row Servidores, con carcasa adaptable al bastidor, existiendo de diferentes dimensiones.
      %row Switches y enrutadores de comunicaciones.
      %row Paneles de parcheo cuya función es la de centralizar todo el cableado de la planta.
      %row Cortafuegos.
      %row Sistemas de Audio y Video.

  %concept
    %names hot-plug
    %tags dispositivos, conexión, en caliente
    %def [*], es la capacidad que tienen algunos periféricos de poder enchufarse o desenchufarse al ordenador, sin apagar el mismo, y funcionar correctamente.
    %def Entre las conexiones con capacidad [*] se encuentran las conexiones USB, Firewire, SATA y SAS. Las conexiones en serie, en paralelo y PS/2 (ratón y teclado), podrían no estar adaptadas para conexión y desconexión con el ordenador encendido, ya que se podrían quemar los puertos o el periférico.
    %def A la hora de usar periféricos [*], se puede configurar el equipo para que cuando se conecte un periférico de este tipo se ejecute una acción o tarea, como abrir una carpeta o sincronizar los archivos del dispositivo. Para desconectarlo normalmente, se debe uno asegurar de que el dispositivo no deje alguna tarea a medio hacer y pueda producirse una pérdida de datos. Esto se puede hacer bien indicándole por medio del ordenador que va a ser desconectado, o en algunos casos, simplemente esperando a que su LED indicador ya no muestre actividad en el dispositivo.
    %table{ :fields => 'dispositivo' }
      %row Ratones y teclados USB
      %row Memoria USB
      %row Discos duros portátiles
      %row Impresoras

  %concept
    %names control remoto
    %tags dispositivos, conexión, en caliente
    %def En ocasiones necesitamos hacer uso del [*]. Las razones son varias y diversas entre ellas pueden ser por averías, por mantenimiento pero siempre de manera remota, es decir, no estando físicamente cerca del equipo. Para ello necesitamos un software con el que poder manipular desde cualquier otro equipo, el equipo que deseamos.
    %def Normalmente este software está compuesto por dos tipos de aplicaciones: (a) Cliente: Esta se encuentra en el ordenador que va a ser manejado. (b) Servidor: Es el que manipulará y manejará los ordenadores que actúan como clientes.
    %def A la hora de realizar un buen software de [*], debemos de tener en cuenta: (1) Alta velocidad de transferencia, tanto en lan, wan e internet. (2) Máxima fiabilidad para que los técnicos puedan realizar sus operaciones cómodamente y sobre cualquier entorno operativo. El departamento de soporte podrá controlar de forma remoto cualquier equipo o dispositivo que opere bajo cualquier plataforma desde cualquier ubicación. (3) Ofrecer niveles de seguridad máxima.
    %def Algunas de estas aplicaciones de [*] permiten el acceso remoto mediante línea de comandos, mientras que otras lo hacen desde entorno gráficos. Entre las posibles operaciones que nos permiten realizar este tipo de aplicaciones: (1) Transferencia de ficheros. (2) Ejecutar Actualizaciones de otras aplicaciones. (3) Actualizar Parches. (4) Guiar al usuario para resolver problemas.
    %def Esta herramienta tiene enormes ventajas entre ellas el ahorro de coste económico y temporal. Al tener [*] del ordenador no necesitamos estar físicamente en el lugar, con lo que eliminamos las visitas externas. Las capacidades de reseteo y reconexión permiten a los técnicos reiniciar los dispositivos desatendidos de forma completamente segura.

  %concept
    %names UPS, SAI
    %tags dispositivo, fuente, contínua, energía, elećtrica
    %def Una [*] es un dispositivo con el que podemos conseguir una fuente continua de energía eléctrica al equipo al cual está conectado, cuando la energía de uso general no está disponible. Éste nos proporciona la protección inmediata contra una interrupción de la energía. Otra de las funciones es la de mejorar la calidad de la energía eléctrica que llegan a los aparatos, filtrando las subidas y bajadas de tensión. A estos dispositivos también se les conoce como sistema de energía de emergencia.
    %def En resumen: Una [*] debe ser capaz de proveer una fuente de energía alternativa a la principal para cuando esta falle.
    %def Una [*] se utiliza típicamente para proteger ordenadores, equipos de telecomunicaciones y otros equipos eléctricos en los cuales la energía eléctrica podría causar pérdidas de datos, aparatos médicos o industriales, en definitiva donde el fallo de la energía sea crítico.
    %table{ :fields => 'problema,descripción' }
      %row
        %col Apagón
        %col Pérdida total de energía
      %row
        %col Caída de tensión
        %col Caída de la tensión a corto plazo y en un periodo transitorio
      %row
        %col Sobretensión
        %col Es cuando la tensión supera un valor nominal
      %row
        %col Ruido eléctrico
        %col Distorsiones de la energía causando interferencias electromagnéticas
    %table{ :fields => 'tipo,descripción' }
      %row
        %col Interactivas o Stand-by
        %col Están a la espera de algún fallo en la línea de energía eléctrica para entrar en acción.
      %row
        %col On-Line
        %col Este tipo de UPS, independiente del estado que tenga la línea de energía eléctrica en cada momento, está permanentemente alimentando su carga y a su vez proporcionando la energía que necesitan los equipos conectados.
