%map{ :lang => 'es', :context => 'hardware, estructura, física, componentes', :version => '1'}

  %concept
    %names placa base, placa principal, motherboard, mainboard
    %tags componente, principal, ordenador, computador
    %def{:type => 'image_url'} http://www.informatica-hoy.com.ar/aprender-informatica/imagenes/motherboards.jpg
    %def Es una tarjeta de circuito impreso a la que se conectan los componentes que constituyen la computadora.
    %def Es una parte fundamental para montar cualquier computadora personal de escritorio o portátil. Tiene instalados una serie de circuitos integrados, entre los que se encuentra el circuito integrado auxiliar (chipset),
    %def Va instalada dentro de una carcasa o gabinete que por lo general está hecha de chapa y tiene un panel para conectar dispositivos externos y muchos conectores internos y zócalos para instalar componentes internos.
    %def La [*] incluye un firmware llamado BIOS, que le permite realizar las funcionalidades básicas, como pruebas de los dispositivos, vídeo y manejo del teclado, reconocimiento de dispositivos y carga del sistema operativo.

  %concept
    %names SATA
    %tags interfaz, conexión, placa base, dispositivos, almacenamiento, controladora
    %def Serial ATA o acrónimo de Serial Advanced Technology Attachment
    %def Es una interfaz de transferencia de datos entre la placa base y algunos dispositivos de almacenamiento, como puede ser el disco duro, lectores y regrabadores de CD/DVD/BR, Unidades de Estado Sólido u otros dispositivos de altas prestaciones que están siendo todavía desarrollados.
    %def Sustituye a la tradicional Parallel ATA o P-ATA. Proporciona mayores velocidades, mejor aprovechamiento cuando hay varias unidades, mayor longitud del cable de transmisión de datos y capacidad para conectar unidades al instante, es decir, insertar el dispositivo sin tener que apagar el ordenador o que sufra un cortocircuito como con los viejos Molex.
    %def{:type => 'image_url'} http://tecnologia-facil.com/wp-content/uploads/2015/04/que-es-sata-3.jpg
    %def{:type => 'image_url'} http://www.tildee.com/uploads/4-06-2011/32657A92-0B1B-4EE5-9150-45CB5BFBDDD8.JPG

  %concept
    %names IDE, PATA, ATA
    %tags interfaz, conexión, placa base, dispositivos, almacenamiento, controladora
    %def El interfaz ATA (del inglés Advanced Technology Attachment) o PATA
    %def Conocido como Integrated Device Electronics
    %def Es un estándar de interfaz para la conexión de los dispositivos de almacenamiento masivo de datos y las unidades ópticas que utiliza el estándar derivado de ATA y el estándar ATAPI.
    %def{:type => 'image_url'} https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdT98-Igg8vrxvRKwV6zEtOyAbeSuP8oNBnCPKeo852UD2QGlx
    %def{:type => 'image_url'} https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcSHYTgp3qVWHIR3pAO_1NKBce6TAHHqWechacf9Ogk453KBAi2rzA

  %concept
    %names chipset
    %tags conjunto, chips, puente, norte, sur, placa-base
    %def Es el conjunto de circuitos integrados diseñados con base a la arquitectura de un procesador (en algunos casos, diseñados como parte integral de esa arquitectura), permitiendo que ese tipo de procesadores funcionen en una placa base.
    %def Sirven de puente de comunicación con el resto de componentes de la placa, como son la memoria, las tarjetas de expansión, los puertos USB, ratón, teclado, etc.
    %def Las placas base modernas suelen incluir dos integrados, denominados puente norte y puente sur, y suelen ser los circuitos integrados más grandes después de la GPU y el microprocesador. Los últimos modelos carecen de puente norte, ya que los procesadores de última generación lo llevan integrado.
    %table{:fields => 'sección del chipset, descripción'}
      %row
        %col Puente norte (northbridge)
        %col Gestiona la interconexión entre el microprocesador, la memoria RAM y la unidad de procesamiento gráfico
      %row
        %col Puente sur (southbridge)
        %col Gestiona la interconexión entre los periféricos y los dispositivos de almacenamiento, como los discos duros o las unidades de disco óptico.

  %concept
    %names disco duro, HDD, hard disk
    %tags componente, hardware, almacenamiento, disco, magnético
    %def En informática, la unidad de [*] es el dispositivo de almacenamiento de datos que emplea un sistema de grabación magnética para almacenar archivos digitales. Es memoria no volátil.
    %def Se compone de uno o más platos o discos rígidos, unidos por un mismo eje que gira a gran velocidad dentro de una caja metálica sellada. Sobre cada plato, y en cada una de sus caras, se sitúa un cabezal de lectura/escritura que flota sobre una delgada lámina de aire generada por la rotación de los discos.
    %def{:type => 'image_url'} http://www.neoteo.com/wp-content/uploads/2013/07/85F4.jpg
    %def{:type => 'image_url'} http://www.ejemplode.com/images/uploads/informatica/disco-duro.jpg
    %def{:type => 'image_url'} https://sites.google.com/site/herramientasdeensamblaje/_/rsrc/1472779479956/disco-duro/9.jpg

  %concept
    %names USB, Universal Serial Bus, Bus Universal en Serie, BUS
    %tags estándar, cable, conector, protocolo
    %def El [*] es un bus estándar industrial que define los cables, conectores y protocolos usados en un bus para conectar, comunicar y proveer de alimentación eléctrica entre computadoras, periféricos y dispositivos electrónicos.
    %def{:type => 'image_url'} http://www.definicionabc.com/wp-content/uploads/usb.jpg
    %def{:type => 'image_url'} http://cdn.osxdaily.com/wp-content/uploads/2015/08/mac-usb-ports-not-working-fix-610x359.jpg

  %concept
    %names puerto paralelo, cable paralelo
    %tags interfaz, computador, periférico
    %def Es una interfaz entre un computador y un periférico, cuya principal característica es que los bits de datos viajan juntos, enviando un paquete de byte a la vez.
    %def En el [*] se implementa un cable o una vía física para cada bit de datos formando un bus.
    %def{:type => 'image_url'} https://upload.wikimedia.org/wikipedia/commons/thumb/f/fa/Parallel_computer_printer_port.jpg/800px-Parallel_computer_printer_port.jpg
    %def{:type => 'image_url'} https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Centronics.jpg/250px-Centronics.jpg

  %concept
    %names Impresora matricial
    %tags impresora, matriz, puntos, periférico, salida
    %def Periférico de salida que se basa en una matriz de agujas que percuten individualmente sobre una cinta entintada que marca el papel.
    %def{:type => 'image_url'} http://img.directindustry.es/images_di/photo-g/32942-4075513.jpg
    %def{:type => 'image_url'} https://1.bp.blogspot.com/-nL6nRqSl9uI/VvAQ2oRfSnI/AAAAAAAABrE/t7_l51fFOIQJIx4WCXwjzR-fSKHqLRg4Q/s1600/Epson%2BLX-300%252BII.jpg

  %concept
    %names Impresora de Tinta, Impresora de Inyección de Tinta
    %tags impresora, inyección, tinta, periférico, salida
    %def Periférico de salida que basa su funcionamiento en la expulsión de gotas de tinta líquida a través de unos inyectores que impactan en el papel formando los puntos necesarios para la realización de gráficos y textos.
    %def{:type => 'image_url'} http://s.culturacion.com/wp-content/uploads/2014/04/C42-300x300.jpg
    %def{:type => 'image_url'} http://2.bp.blogspot.com/_GLuVqp2QJg4/TNmj5rU8uzI/AAAAAAAAAAM/Z2o8ADX1oS8/S1600-R/Image.jpg

  %concept
    %names Impresora láser
    %tags impresora, láser, periférico, salida
    %def Periférico de salida que se basa en un láser que ioniza un rodillo para que se impregne de tinta de forma selectiva y al pasar sobre la superficie a imprimir plasma el gráfico o texto deseado.
    %def{:type => 'image_url'} http://i0.wp.com/blog.masink.com/wp-content/uploads/2015/03/laser.jpg
