%map{ :version => '1', :lang => 'es', :context=>'hardware, estructura, funcional, introducción' }

  %concept
    %names Informática
    %tags ciencia, estudia, tratar, información, automática
    %def Es la ciencia que estudia el tratamiento racional y automático de la información.

  %concept
    %names Hardware
    %tags partes, componentes, tangibles, ordenador, físico
    %def Se refiere a las partes físicas tangibles de un sistema informático; sus componentes eléctricos, electrónicos, electromecánicos y mecánicos.
    %def Compuesto por cables, gabinetes o cajas, periféricos de todo tipo y cualquier otro elemento físico involucrado.
    %def Lo contrario es el soporte lógico e intangible llamado software.
    %def Incluye computadoras o cualquier tipo de dispositivo electrónico, que consisten en procesadores, memoria, sistemas de almacenamiento externo, etc.

  %concept
    %names Software
    %tags partes, componentes, intangibles, ordenador
    %def Equipo lógico o soporte lógico de un sistema informático.
    %def Comprende el conjunto de los componentes lógicos necesarios que hacen posible la realización de tareas específicas.
    %def Lo contrario a los componentes físicos que son llamados hardware.
    %def Incluye al sistema operativo, firmware y aplicaciones, siendo especialmente importante los sistemas de gestión de bases de datos.

  %concept
    %names Sistema informático
    %tags conjunto, hardware, software, personal, humano
    %def Conjunto de partes interrelacionadas: hardware, software y personal informático.

  %concept
    %names Soporte humano
    %tags usuarios, personas, mantienen, sistema
    %def Incluye al personal técnico que crean y mantienen el sistema (analistas, programadores, operarios, etc.) y a los usuarios que lo utilizan.
