%map{ :version => '1', :lang => 'es', :context=>'hardware, estructura, funcional, introducción' }

  %concept
    %names BIOS, Basic Input Ouput System
    %tags sistema, básico, entrada, salida, primer, programa, ejecuta, máquina
    %def En español se denomina "sistema básico de entrada y salida"
    %def Es un firmware instalado dentro de la computadora personal (PC), y es el primer programa que se ejecuta cuando se enciende la computadora.
    %def Su propósito fundamental es iniciar y comprobar el hardware del sistema y cargar un gestor de arranque o un sistema operativo desde un dispositivo de almacenamiento de datos.

  %concept
    %names UEFI, Unified Extensible Firmware Interface, EFI, EFI BIOS, EUFI
    %tags nueva, BIOS, sustituto, interfaz, firmware, extensible
    %def En español es la "Interfaz de Firmware Extensible Unificada".
    %def Es una especificación que define una interfaz entre el sistema operativo y el firmware. Remplaza la antigua interfaz del Sistema Básico de Entrada y Salida (BIOS) estándar presentado en los computadores personales.
    %table{:fields => 'características'}
      %row Fue desarrollada inicialmente por Intel en el 2002
      %row Puede proporcionar menús gráficos adicionales
      %row Puede proporcionar acceso remoto para la solución de problemas o mantenimiento
      %row Compatibilidad y emulación del BIOS para los sistemas operativos solo compatibles con esta última
      %row Soporte completo para la Tabla de particiones GUID (GPT)
      %row Capacidad de arranque desde unidades de almacenamiento grandes, dado que no sufren de las limitaciones del MBR.
      %row Entorno amigable y flexible Pre-Sistema Operativo, incluyendo capacidades de red.

  %concept
    %names periféricos, periférico
    %tags dispositivo, hardware, usuario, interactuar, ordenador
    %def Los [*] son dispositivos hardware con los cuales el usuario puede interactuar con el ordenador, almacenar o leer datos y programas, imprimir resultados, etc.
    %def Los [*] se conectan con el ordenador y sus componentes a través de los denominados puertos o conectores externos. Esta gestión la realiza otra parte esencial del ordenador: la unidad de entrada y salida, que es el componente hardware utilizado para la gestión de [*].
    %table{:fields => 'característica, descripción'}
      %row
        %col Fiabilidad
        %col Es la probabilidad de que se produzca un error en la entrada y salida, y depende de la naturaleza del periférico, de las condiciones ambientales en que se conserva el mismo o de sus características.
      %row
        %col Tipo de acceso
        %col Se dice que un dispositivo es de acceso secuencial si para acceder a un dato determinado debemos acceder primero a todos los que le preceden físicamente (por ejemplo: las cintas magnéticas). En cambio, se dice que un dispositivo permite el acceso directo si es posible acceder a un dato de forma directa, es decir, sin necesidad de acceder primero a los datos que le preceden (por ejemplo: discos duros).
      %row
        %col Velocidad de transferencia
        %col Es la cantidad de información que el dispositivo puede leer o grabar, o bien enviar o recibir, por unidad de tiempo.

  %concept
    %names Acceso secuencial
    %tags primero, acceder, datos, anteriores
    %def Se dice que un dispositivo es de [*] si para acceder a un dato determinado debemos acceder primero a todos los que le preceden físicamente (por ejemplo: las cintas magnéticas).

  %concept
    %names Acceso directo
    %tags acceder, datos, directo
    %def Se dice que un dispositivo permite el [*] si es posible acceder a un dato de forma directa, es decir, sin necesidad de acceder primero a los datos que le preceden (por ejemplo: discos duros).

  %concept
    %names velocidad de transferencia
    %tags cantidad, información, dispositivo, leer, escribir, unidad, tiempo
    %def Es la cantidad de información que el dispositivo puede leer o grabar, o bien enviar o recibir, por unidad de tiempo.
    %def La [*] se mide por ejemplo, en bits/segundo, caracteres/segundo, etc.

  %concept
    %names periféricos de entrada, periférico de entrada
    %tags dispositivo, hardware, usuario, entrada, datos, ordenador
    %def Son dispositivos que sirven para introducir datos y programas en el ordenador.
    %def En los [*], la información circula por el bus datos desde teclado, ratón, etc. hacia la memoria central.
    %table{ :fields => 'Dispositivos' }
      %row Teclado
      %row Lápiz óptico
      %row Pantalla táctil
      %row Digitalizador o tableta gráfica
      %row Ratón (mouse)
      %row Lectora de banda magnética (ej.: de tarjetas de créditos)
      %row Detector de caracteres magnetizables
      %row Escáner

  %concept
    %names periféricos de salida, periférico de salida
    %tags dispositivo, hardware, usuario, salida, datos, ordenador
    %def Son dispositivos que sirven para extraer información desde el ordenador hacia el exterior.
    %def En los [*], la información circula por el bus de datos desde la memoria central al monitor, impresora, etc.
    %table{ :fields => 'Dispositivos' }
      %row Monitores de visualización o pantallas
      %row Impresora y plotter
      %row Altavoces

  %concept
    %names periféricos de entrada y salida, periféricos de entrada-salida, periféricos de entrada salida
    %tags dispositivo, hardware, usuario, entrada, salida, datos, ordenador
    %def En los [*], la información circula por el bus de datos en ambos sentidos (joystick con motores, monitor táctil, impresoras multifunción, etc.).

  %concept
    %names resolución
    %tags número, puntos, representar, monitor, pantalla
    %def Se trata del número de puntos que puede representar el monitor por pantalla, en horizontal por vertical.
    %def Un monitor cuya [*] máxima es de 1024x768 puntos, quiere decir que es capaz de representar hasta 768 líneas horizontales de 1024 puntos cada una, además de otras resoluciones inferiores, como 640x480 u 800x600.
    %def Cuanto mayor sea la [*] de un monitor, mejor será la calidad de la imagen en pantalla, y mayor será la calidad del monitor. La [*] debe ser apropiada además al tamaño del monitor.

  %concept
    %names refresco de pantalla, Frecuencia de Refresco Vertical
    %tags número, veces, escribir, información, pantalla, segundo
    %def Es el número de veces que se escribe la información en pantalla por unidad de segundo.
    %def El [*] se puede comparar al número de fotogramas por segundo de una película de cine, por lo que deberá ser lo mayor posible.
    %def El [*] se mide en Hz (hertzios) y debe estar por encima de 60 Hz, preferiblemente 70 u 80. A partir de esta cifra, la imagen en la pantalla es sumamente estable, sin parpadeos apreciables, con lo que la vista sufre mucho menos.

  %concept
    %names tamaño de punto, dot pitch
    %tags medir,nitidez,imagen,distancia,entre,dos, punto
    %def El [*] es un parámetro que mide la nitidez de la imagen, midiendo la distancia entre dos puntos del mismo color.

  %concept
    %names impresora, impresoras
    %tags dispositivo,periférico,salida,escribir,información,papel
    %def Las [*] son dispositivos de salida que escriben la información sobre papel.
    %table{ :fields => 'tipo,descripción' }
      %row
        %col Matricial
        %col Se basan en una matriz de agujas (también se pueden llamar impresoras de agujas) que percuten individualmente sobre una cinta entintada que marca el papel.
      %row
        %col Térmica
        %col Mecanismo equivalente a las impresoras matriciales, pero utilizando papel termosensible y agujas de impresión por calentamiento.
      %row
        %col Inyección de Tinta
        %col Su funcionamiento se basa en la expulsión de gotas de tinta líquida a través de unos inyectores que impactan en el papel formando los puntos necesarios para la realización de gráficos y textos.
      %row
        %col Láser
        %col Se basa en un láser que ioniza un rodillo para que se impregne de tinta de forma selectiva y al pasar sobre la superficie a imprimir plasma el gráfico o texto deseado.
