%map{ :version => '1', :lang => 'es', :context=>'hardware, estructura, funcional, introducción' }

  %concept
    %names Informática, Computación
    %tags ciencia, estudia, tratar, información, automática
    %def Es la ciencia que estudia el tratamiento racional y automático de la información.

  %concept
    %names Hardware
    %tags partes, componentes, tangibles, ordenador, físico
    %def Se refiere a las partes físicas tangibles de un sistema informático; sus componentes eléctricos, electrónicos, electromecánicos y mecánicos.
    %def Compuesto por cables, gabinetes o cajas, periféricos de todo tipo y cualquier otro elemento físico involucrado.
    %def Lo contrario es el soporte lógico e intangible llamado software.
    %def Incluye computadoras o cualquier tipo de dispositivo electrónico, que consisten en procesadores, memoria, sistemas de almacenamiento externo, etc.

  %concept
    %names Software
    %tags partes, componentes, intangibles, ordenador
    %def Equipo lógico o soporte lógico de un sistema informático.
    %def Comprende el conjunto de los componentes lógicos necesarios que hacen posible la realización de tareas específicas.
    %def Lo contrario a los componentes físicos que son llamados hardware.
    %def Incluye al sistema operativo, firmware y aplicaciones, siendo especialmente importante los sistemas de gestión de bases de datos.

  %concept
    %names Sistema informático
    %tags conjunto, hardware, software, personal, humano
    %def Es un conjunto de elementos de hardware y software interconectados para el tratamiento de la información.
    %def Una serie de elementos físicos (hardware) capaz de realizar muchas tareas a gran velocidad y con gran precisión. Para que estos elementos físicos realicen un proceso determinado, es necesario que en él se ejecuten un conjunto de órdenes o instrucciones (software), componentes no físicos que pongan en funcionamiento todos esos componentes físicos.

  %concept
    %names programa informático, programa, programa de computadora
    %tags conjunto, ordenado, instrucciones, software
    %def Constituido por un conjunto de instrucciones ordenadas y agrupadas de forma adecuada.
    %def Secuencia de instrucciones, escritas para realizar una tarea específica en una computadora.

  %concept
    %names Aplicación informática
    %tags conjunto, programas, realizar, tareas, usuario

  %concept
    %names firmware
    %tags software, integrado, dentro, hardware
    %def Es un software que viene integrado directamente dentro de un hardware, en una memoria especial.
    %def Se puede denominar al software que se encuentra pregrabado en un chip.

  %concept
    %names Estructura del ordenador, estructura de los ordenadores
    %tags arquitectura, estructura, ordenador
    %def Es un conjunto de componentes físicos interconectados unos con otros que interactúan para procesar datos y dar un resultado.
    %def La [*] en la actualidad, está basado en la arquitectura de Von Neumann.
    %def Von Neumann fue el creador de la [*] utilizada en los microprocesadores actuales.
    %table{:fields => 'Componentes físicos' }
      %row Unidad central de proceso (UCP)
      %row Memoria central/principal o RAM
      %row Unidades de entrada y salida
      %row Controladores
      %row Buses (Datos, direcciones y control)
      %row Unidades periféricas o periféricos

  %concept
    %names memoria
    %tags unidad, almacena, datos
    %def Es la unidad donde se almacenan tanto los datos como las instrucciones. Existen dos tipos básicos de [*], que se diferencian sobre todo por su velocidad de acceso
    %table{:fields => 'tipo,descripción'}
      %row
        %col Memorias volátiles, de lectura y escritura
        %col Representan un medio de almacenamiento temporal, que almacenan la información mientras el ordenador esta encendido. La información se pierde en el momento en que se apaga el ordenador.
      %row
        %col Memorias no volátiles o permanentes, de lectura y escritura
        %col Permiten almacenar información, datos y programas de forma indefinida. Estas memorias no se borran cuando apagamos el ordenador.
      %row
        %col Memorias de acceso aleatorio (RAM)
        %col Capacidad de acceder al contenido de una posición concreta en el mismo tiempo que requeriría cualquier otra dirección escogida de forma aleatoria. Es una memoria que permite tanto la lectura como la escritura.
      %row
        %col Memorias de sólo lectura (ROM)
        %col Su contenido se especifica sólo una vez (durante la fabricación), es decir, una vez que han sido programadas en su fabricación (se han escrito) no pueden volver a ser escritas nunca más.
      %row
        %col Memorias de lectura preferente
        %col Diseñadas esencialmente para ser leídas, pero pueden ser grabadas más de una vez. Algunas de estas memorias necesitan ser retiradas del ordenador para poder ser grabadas.
    %table{ :fields => 'Jerarquía de memoria', :sequence => 'Secuencia de mayor a menor velocidad/coste' }
      %row Registros internos del procesador
      %row Memoria caché
      %row Memoria principal
      %row Disco magnético
      %row Cinta magnética

  %concept
    %names memoria principal, memoria central, RAM
    %tags unidad, lectura, escritura, datos, volátil
    %def Es la memoria que actúa con mayor velocidad (a excepción de los registros y la caché) y está ligada directamente a las unidades más rápidas del computador (UC y ALU).
    %def Para que un programa se ejecute debe estar almacenado (cargado) en [*].
    %def Está dividida en posiciones (palabras de memoria) de un determinado número de bits. Para leer o escribir una información es necesario dar dicha posición.
    %def Se puede leer y escribir en ella, y además es volátil (se pierden los datos al desconectar la corriente).
    %def Almacena físicamente los programas y los datos que se tienen que procesar.
    %def Cuando se ejecuta un programa como, por ejemplo, LibreOffice Writer, éste pasará del soporte de almacenamiento masivo o memoria externa en el que está almacenado de forma permanente, a cargarse en [*] (operación de lectura). Una vez cargado el programa en [*], se le denomina proceso.

  %concept
    %names ROM, memoria ROM
    %tags memoria, sólo, lectura
    %def Memoria en la que sólo se puede leer y que es permanente (no se pierde al desconectar el ordenador)

  %concept
    %names memoria auxiliar, memoria secundaria, memoria externa
    %tags memoria, capacidad, datos, lectura, escritura, permanentes
    %def Memoria con gran capacidad para almacenar información.
    %def Las unidades de disco, cintas magnéticas, discos ópticos son ejemplos de [*].
    %def La información almacenada en dispositivos de [*], permanece indefinidamente hasta que el usuario la borre expresamente.

  %concept
    %names ALU, Unidad Aritmético-lógica, Arithmetic Logic Unit, UAL
    %tags parte, CPU, realizar, operaciones, aritméticas, lógicas
    %def Esta unidad contiene los circuitos electrónicos con los que se hacen las operaciones de tipo aritmético (Como sumar) y de tipo lógico (Como comparar).
    %def Es uno de los bloques principales de la CPU. Calcula operaciones aritméticas y operaciones lógicas.

  %concept
    %names Unidad de Control, UC, CU, Control Unit
    %tags parte, CPU, controla, unidades, leer, enviar, señales
    %def Es uno de los bloques funcionales principales en los que se divide la CPU. Su función es buscar las instrucciones en la memoria principal, decodificarlas (interpretación) y ejecutarlas.
    %def Su tarea fundamental es recibir información para interpretarla y procesarla después mediante las órdenes que envía a los otros componentes del ordenador. Se encarga de traer de la memoria interna o central del ordenador (memoria RAM) las instrucciones necesarias para la ejecución de los programas y el procesamiento de los datos.
    %def Interpreta y ejecuta las instrucciones en el orden adecuado para que cada una de ellas se procese en el debido instante y de forma correcta.
    %def Para realizar las operaciones, dispone de pequeños espacios de almacenamiento, denominados registros.

  %concept
    %names reloj, generador de pulsos
    %tags genera, pulsos, sincronizar, operaciones, elementales, ordenador
    %def Está dentro de la UC. Lo usa la UC para sincronizar todas las operaciones elementales del computador.
    %def La frecuencia del [*], se suele dar en Gigahercios (GHz). Es un parámetro que determina en parte la velocidad del computador.

  %concept
    %names tiempo de ciclo
    %tags periodo, señal, reloj
    %def Es como se denomina al período de la señal generada por el reloj de la UC. Es del orden de nanosegundos.

  %concept
    %names palabra
    %tags unidad, información, múltiplo, byte
    %def El byte es una unidad de información relativamente pequeña para los cálculos que realiza la ALU, por lo que se utiliza una unidad superior denominada [*].
    %def Está formada por un número entero de bytes (1, 2, 4, 8, 16...) y representa a los datos con los que opera la ALU o a las unidades de información que se transfieren entre la memoria principal y la CPU.
    %def La longitud de la [*] coincide con el número de bits que se transfieren entre las unidades del computador central. Suele ser de 32 ó 64 bits.

  %concept
    %names registros
    %tags elementos, memoria, temporal, interior, UC
    %def Son elementos para memorizar temporalmente la información correspondiente a una palabra, en el interior de la UC.
    %def Cuando la ALU va a realizar una suma, los datos con los que va a operar se guardan temporalmente en dos [*] y el resultado en un tercero, que suele ser uno de los dos anteriores.

  %concept
    %names CPU, UCP, unidad de procesamiento, Unidad Central de Proceso, procesador, microprocesador
    %tags conjunto, UC, CU, ALU, gobierna, ordenador
    %def Se denomina al conjunto de Unidad de Control y Unidad Aritmético Lógica.
    %def Es el elemento encargado del control y ejecución de las operaciones que se efectúan dentro del ordenador, con el fin de realizar el tratamiento automático de la información.
    %def Es la parte fundamental del ordenador; se encarga de controlar todas las tareas y procesos que se realizan dentro de él.
    %def Está formada por la unidad de control (UC), la unidad aritmético-lógica y su propia memoria interna, integrada en él.
    %def Es el componente hardware que gobierna el ordenador; se encarga de todo: controla los dispositivos periféricos, la memoria, la información que se va a procesar, etc. Para que el [*] pueda trabajar necesita utilizar la memoria principal o central del ordenador.

  %concept
    %names bus, buses, bus del sistema, buses del sistema
    %def Es el conjunto de circuitos encargados de la conexión y comunicación entre la CPU y el resto de las unidades de la computadora. Para ello utiliza un conjunto de varias líneas eléctricas que permiten la transmisión de los datos en paralelo.
    %def Por ejemplo, un [*] de 32 bits transfiere simultáneamente esa cantidad de bits entre dos unidades cualesquiera.
    %table{:fields => 'tipos'}
      %row De datos
      %row De control
      %row De direccionamiento
