%map{ :version => '1', :lang => 'es', :context=>'hardware, von neumann, arquitectura' }

  %concept
    %names conjunto de instrucciones, conjunto-de-instrucciones
    %tags arquitectura, von neumman, conjunto, instrucciones, cpu, procesador
    %def Es una especificación que detalla las instrucciones que una unidad central de procesamiento puede entender y ejecutar.
    %def El conjunto de todos los comandos implementados por un diseño particular de una CPU.
    %def Procesadores con diferentes diseños internos pueden compartir un [*]; por ejemplo, el Intel Pentium y AMD Athlon implementan versiones casi idénticas del [*] x86, aunque tienen diseños diferentes.
    %table{ :fields => 'tipo,descripción' }
      %row
        %col CISC
        %col Complex Instruction Set Computer
      %row
        %col RISC
        %col Reduced Instruction Set Computer
      %row
        %col SISC
        %col Simple Instruction Set Computing

  %concept
    %names Von Neumann
    %tags persona, creador, arquitectura, von neumann
    %def [*] le dio su nombre a la arquitectura de [*], utilizada en casi todos los computadores, por su publicación del concepto; aunque muchos piensan que este nombramiento ignora la contribución de J. Presper Eckert y John William Mauchly, quienes contribuyeron al concepto durante su trabajo en ENIAC.
    %def Virtualmente, cada computador personal, microcomputador, minicomputador y supercomputador es una máquina de [*].

  %concept
    %names CPU, UCP, procesador
    %tags procesador, componente, arquitectura, von neumman
    %def [*] es el hardware dentro de una computadora u otros dispositivos programables, que interpreta las instrucciones de un programa informático mediante la realización de las operaciones básicas aritméticas, lógicas y de entrada/salida del sistema.
    %def Una computadora puede tener más de una [*]. Todas las [*] modernas son microprocesadores, lo que significa que contienen un solo circuito integrado (chip). Algunos circuitos integrados pueden contener varias [*] en un solo chip; estos son denominados procesadores multinúcleo.
    %def Dos componentes típicos de una [*] son la ALU, que realiza operaciones aritméticas y lógicas, y la unidad de control, que extrae instrucciones de la memoria, las decodifica y las ejecuta, llamando a la ALU cuando sea necesario.

  %concept
    %names ALU, UAL
    %tags hardware, componente, arquitectura, von neumman, operaciones, aritméticas,lógicas
    %def En computación, la [*] es un circuito digital que calcula operaciones aritméticas (como suma, resta, multiplicación, etc.) y operaciones lógicas (si, y, o, no), entre valores (generalmente uno o dos) de los argumentos.

  %concept
    %names UC, CU
    %tags hardware, componente, arquitectura, von neumman, señales, control
    %def [*] es uno de los tres bloques funcionales principales en los que se divide una unidad central de procesamiento. Los otros dos bloques son la unidad de proceso y el bus. Su función es buscar las instrucciones en la memoria principal, decodificarlas (interpretación) y ejecutarlas, empleando para ello la unidad de proceso.
    %table{ :fields => 'tipo,descripción' }
      %row
        %col Unidad de control cableada
        %col Usadas generalmente en máquinas sencillas. Los componentes principales son el circuito de lógica secuencial, el de control de estado, el de lógica combinacional y el de emisión de reconocimiento de señales de control.
      %row
        %col Unidad de control microprogramada
        %col  propias de máquinas más complejas. Se encuentra almacenada en una micromemoria, a la cual se accede de manera secuencial para posteriormente ir ejecutando cada una de las microinstrucciones.

  %concept
    %names johnny simulator, johnny-simulator
    %tags programa, simular, arquitectura, von neumann
    %def Es un programa OpenSource que permite simular una máquina con la arquitectura de Von Neumann.
    %table{ :fields => 'macro-instrucción,descripción' }
      %row
        %col TAKE dir
        %col Copia en el acumulador el contenido de la celda dir de la memoria.
      %row
        %col SAVE dir
        %col Copia el valor del acumulador en la celda dir de la memoria.
      %row
        %col ADD dir
        %col Suma el contenido de la celda dir al acumulador.
      %row
        %col SUB dir
        %col Resta el contenido de la celda dir al acumulador.
      %row
        %col INC dir
        %col Se incrementa en 1 el contenido de la celda dir.
      %row
        %col DEC dir
        %col Se decrementa en 1 el contenido de la celda dir.
      %row
        %col NULL dir
        %col Poner a cero el contenido de la celda dir.
      %row
        %col TST dir
        %col Si el contenido de la celda dir es cero se salta la siguiente macro instrucción.
      %row
        %col JMP dir
        %col La ejecución del programa continúa en la dirección dir.
      %row
        %col HLT
        %col El programa termina y se muestra un mensaje.

  %concept
    %names fetch
    %tags macrointruccion, buscar, siguiente, instruccion, ejecutar
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row pc > ab
      %row ram > db
      %row db > ins
      %row ins > mc

  %concept
    %names TAKE
    %tags macroinstruccion, copiar, contenido, direccion, acumulador
    %def Macroinstrucción de Johnny Simulator que copia el valor de la dirección de memoria en el acumulador.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row acc = 0
      %row ins > ab
      %row ram > db
      %row plus
      %row pc ++
      %row mc = 0

  %concept
    %names SAVE
    %tags macroinstruccion, copiar, contenido, acumulador, direccion
    %def Macroinstrucción de Johnny Simulator que copia el valor del acumulador en la dirección indicada.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row ins > ab
      %row acc > db
      %row db > ram
      %row pc ++
      %row mc = 0

  %concept
    %names ADD
    %tags macroinstruccion, sumar, acumulador, contenido, direccion
    %def Macroinstrucción de Johnny Simulator que suma al acumulador el contenido de la dirección de memoria indicada.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row ins > ab
      %row ram > db
      %row plus
      %row pc ++
      %row mc = 0

  %concept
    %names SUB
    %tags macroinstruccion, restar, acumulador, contenido, direccion
    %def Macroinstrucción de Johnny Simulator que resta al acumulator el contenido de la dirección de memoria indicada.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row ins > ab
      %row ram > db
      %row minus
      %row pc ++
      %row mc = 0

  %concept
    %names INC
    %tags macroinstruccion, sumar, uno, contenido, direccion
    %def Macroinstrucción de Johnny Simulator que suma 1 al contenido de la dirección de memoria indicada.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row acc = 0
      %row ins > ab
      %row ram > db
      %row plus
      %row acc ++
      %row acc > db
      %row db > ram
      %row pc ++
      %row mc = 0

  %concept
    %names DEC
    %tags macroinstruccion, restar, uno, contenido, direccion
    %def Macroinstrucción de Johnny Simulator que resta 1 al contenido de la dirección de memoria indicada.

  %concept
    %names NULL
    %tags macroinstruccion, poner, cero, contenido, direccion
    %def Macroinstrucción de Johnny Simulator que pone a cero el contenido de la dirección de memoria indicada.

  %concept
    %names TST
    %tags macroinstruccion, comprueba, cero, saltar, siguiente, direccion
    %def Macroinstrucción de Johnny Simulator que si el contenido de la dirección de memoria indicada es cero se salta la siguiente macro instrucción.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row ins > ab
      %row ram > db
      %row db > acc
      %row =0; pc ++
      %row pc ++
      %row mc = 0

  %concept
    %names JMP
    %tags macroinstruccion, saltar, direccion
    %def Macroinstrucción de Johnny Simulator que provoca que el programa salte su ejecución a otra dirección de memoria.
    %table{ :fields => 'microinstrucciones', :sequence => 'Secuencia temporal de microinstrucciones para completar la macroinstrucción' }
      %row ins > pc
      %row mc = 0

  %concept
    %names HLT
    %tags macroinstruccion, parar, programa
    %def Macroinstrucción de Johnny Simulator que termina el programa y muestra un mensaje.
