%map{ :version => '1', :lang => 'es' }

  %concept
    %names técnicas
    %context hardware, monitorización, diagnóstico
    %tags conjunto,procedimientos,recursos,conseguir,algo
    %text Entendemos como [*] el conjunto de procedimientos y recursos que utilizamos para conseguir algo.

  %concept
    %names técnicas-monitorización-y-diagnóstico
    %context hardware, monitorización, diagnóstico
    %tags conjunto,procedimientos,recursos,conseguir,algo
    %text [*] de monitorización y diagnóstico son aquellos procedimientos y recursos que nos permiten, conocer en cualquier el estado del ordenador e identificar qué parte es la que falla si esto.
    %table{ :fields => 'tipo,descripción' }
      %title Tipos de técnicas de monitorización y diagnóstico
      %row
        %col Nivel software
        %col Utilización de procedimientos y recursos para detectar los posibles fallos que se estén produciendo en el equipo, si los hubiera, mediante la utilización de herramientas software existentes en el mercado para la realización de esta tarea.
      %row
        %col Nivel hardware
        %col Utilización de procedimientos y recursos  para la comprobación del estado y funcionamiento de los componentes del ordenador, mediante la utilización de herramientas hardware como puede ser polímetro, osciloscopio, tésters para cables de redes LAN etc.     

  %concept
    %names herramientas-de-diagnóstico
    %context hardware, monitorización, diagnóstico
    %tags herramientas, monitorización, diagnóstico
    %text [*] todas aquellas utilidades a nivel software o herramientas hardware que nos permitan detectar cuál es el estado de nuestro ordenador en cualquier momento o detectar qué componente del equipo está fallando
    %table{ :fields => 'nivel-software' }
      %title Herramientas de diagnóstico a nivel de software
      %row EVEREST Home Edition
      %row Memtest86+
      %row CPU‐Z
      %row GPU‐Z
      %row HD tune
      %row CPUCool

  %concept
    %names EVEREST
    %context hardware, monitorización, diagnóstico
    %tags herramientas, monitorización, diagnóstico, nivel, software
    %text Sustituye a la herramienta AIDA 32.
    %table{ :fields => 'caracteristicas' }
      %title Características
      %row Ees una herramienta de las más completas en la actualidad en materia de diagnósticos del ordenador; en unos pocos segundos, realiza un extenso y detallado análisis del PC, mostrando prácticamente todos los aspectos del sistema referentes a hardware, software, configuración de red y más. 
      %row En el momento de ejecutarlo nos presenta toda la información disponible a través de una sencilla interfaz y mediante una clara estructura de árbol.
      %row No  solo  muestra  información  sobre los elementos del PC sino que además, si es posible, facilita enlaces a la web del fabricante para mayor información y/o descarga de controladores.
      %row Esta herramienta nos permite crear completos informes en formato HTML o TXT, para ello especificaremos los detalles que deseemos incluir en el mismo.
