%map{ :version => '1', :lang => 'es', :context=>'hardware, monitorización' }

  %concept
    %names técnicas
    %tags conjunto,procedimientos,recursos,conseguir,algo
    %def Entendemos como [*] el conjunto de procedimientos y recursos que utilizamos para conseguir algo.

  %concept
    %names técnicas-monitorización-y-diagnóstico
    %tags conjunto,procedimientos,recursos,conseguir,algo
    %def [*] son aquellos procedimientos y recursos que nos permiten, conocer el estado del ordenador e identificar qué parte es la que falla.
    %table{ :fields => 'tipo,descripción' }
      %row
        %col Nivel software
        %col Utilización de procedimientos y recursos para detectar los posibles fallos que se estén produciendo en el equipo, si los hubiera, mediante la utilización de herramientas software existentes en el mercado para la realización de esta tarea.
      %row
        %col Nivel hardware
        %col Utilización de procedimientos y recursos  para la comprobación del estado y funcionamiento de los componentes del ordenador, mediante la utilización de herramientas hardware como puede ser polímetro, osciloscopio, tésters para cables de redes LAN etc.

  %concept
    %names herramientas-de-diagnóstico
    %tags herramientas, monitorización, diagnóstico
    %def [*] son todas aquellas utilidades a nivel software o herramientas hardware que nos permiten detectar cuál es el estado de nuestro ordenador en cualquier momento o detectar qué componente del equipo está fallando
    %table{ :fields => 'nivel-software' }
      %row EVEREST
      %row Memtest86+
      %row CPU‐Z
      %row GPU‐Z
      %row HD tune
      %row CPUCool

  %concept
    %names EVEREST
    %tags herramienta, monitorización, diagnóstico, nivel, software
    %def Sustituye a la herramienta AIDA 32.
    %table{ :fields => 'características' }
      %row Es una herramienta de las más completas en la actualidad en materia de diagnósticos del ordenador; en unos pocos segundos, realiza un extenso y detallado análisis del PC, mostrando prácticamente todos los aspectos del sistema referentes a hardware, software, configuración de red y más.
      %row En el momento de ejecutarlo nos presenta toda la información disponible a través de una sencilla interfaz y mediante una clara estructura de árbol.
      %row No  solo  muestra  información  sobre los elementos del PC sino que además, si es posible, facilita enlaces a la web del fabricante para mayor información y/o descarga de controladores.
      %row Esta herramienta nos permite crear completos informes en formato HTML o TXT, para ello especificaremos los detalles que deseemos incluir en el mismo.

  %concept
    %names Memtest86+
    %tags herramienta, monitorización, diagnóstico, nivel, software
    %def Es una pequeña aplicación diseñada para testear y probar el uso y el estado de la memoria RAM de tu ordenador.
    %def Verifica la capacidad de la memoria, escaneando los módulos de memoria RAM y analizando su capacidad para guardar y recuperar información de manera adecuada y con precisión.
    %def [*] resulta especialmente útil a la hora de comprobar la fiablidad de la memoria de un ordenador.
    %table{ :fields => 'características' }
      %row Se puede descargar desde el URL http://memtest86.softonic.com/
      %row Viene con varias opciones de precompilado
    %table{ :fields => 'opciones-de-precompilado' }
      %row ISO arrancable (Imagen CD)
      %row Binario arrancable
      %row Precompilado arrancable para memoria USB
      %row Precompilado arrancable para floppy

  %concept
    %names test-de-memoria
    %tags test, memoria, memtest86+, herramienta, monitorización, diagnóstico, nivel, software
    %def La metodología de un buen [*] es la siguiente: escribir todas las direcciones de memoria con patrones generados con un algoritmo específico y volver a leerlos para comprobar la coherencia de los datos.
    %def En el algoritmo usado en los [*] está la diferencia entre los varios programas disponibles, y el más eficaz es Memtest86+, que se compone de diez [*] individuales.
    %table{ :fields => 'nombre,descripción' }
      %row
        %col Test Address test, walking  ones, no  cache
        %col Test de todos los bits direccionables en todos los bancos de memoria usando un patrón de acceso "walking ones".
      %row
        %col Test Address test, own address
        %col Este test debería detectar todos los errores de direccionamiento.
      %row
        %col Test Moving inversions, ones and zeros
        %col Es un test rápido que solamente da errores en subsistemas de memoria muy dañados.
      %row
        %col Test Moving inversions, 8 bit pattern
        %col Diseñado para detectar fallos producidos por interferencia con las células de memoria adyacentes.
      %row
        %col Test Moving inversions, random pattern
        %col Es un test muy efectivo para detectar errores de datos, utilizando 60 patrones aleatorios cambiando en cada pasada del test. Por ello múltiples pasadas aumentan la eficacia.
      %row
        %col Test Block  move, 64 moves
        %col Experimentalmente es de los test que revelan errores más sutiles.
      %row
        %col Test Moving  inversions, 32 bit pat
        %col Es un test bastante lento pero muy efectivo para detectar errores de datos, ya que hace 32 pasadas para probar todos los patrones.
      %row
        %col Test Random number sequence
        %col Se escribe una serie de números aleatorios en memoria. Es comprobado y complementado y vuelto a comprobar.
      %row
        %col Test Modulo 20, ones and zeros
        %col Diseñado para evitar interferencia del subsistema de caché que podrían enmascaras algunos errores otros tests. Utiliza patrones de unos y ceros.
      %row
        %col Test Bit fade test, 90 min, 2 patterns
        %col Se inicializa toda la RAM con un patrón y se deja inactiva 90 minutos, entonces se examina en busca de alguna variación.

  %concept
    %names CPU-Z
    %tags herramienta, monitorización, diagnóstico, nivel, software, cpu, procesador
    %def [*] es una utilidad gratuita que permite monitorizar una gran cantidad de datos relacionados con tu procesador.
    %def [*] ofrece información detallada acerca del procesador, información de caché de primer y segundo nivel, fabricante, modelo, chipset, BIOS, velocidad y memoria del bus AGP, tipo y cantidad de memoria RAM instalada, fabricante y la frecuencia a la que trabaja, etc.
    %def [*] es una utilidad de análisis especializada en el microprocesador, placa base y memoria RAM.
    %table{ :fields => 'datos-del-procesador' }
      %row Nombre
      %row Velocidad
      %row Tecnología
      %row Familia
      %row Multiplicador
      %row FSB
      %row Velocidad del BUS

  %concept
    %names GPU-Z
    %tags herramienta, monitorización, diagnóstico, nivel, software, tarjeta, vídeo
    %def [*] es una herramienta de monitorización para Windows que informa acerca de las características internas de nuestra tarjeta de vídeo.
    %table{ :fields => 'datos-de-la-tarjeta-de-vídeo' }
      %row Modelo de nuestra tarjeta
      %row Memoria interna
      %row Versión de la BIOS de la tarjeta gráfica
      %row Frecuencia del procesador gráfico
      %row Soporte de Shaders, filtro de píxeles o filtro de texturas.

  %concept
    %names HD Tune
    %tags herramienta, monitorización, diagnóstico, nivel, software, disco, duro, unidad
    %def [*] es una herramienta de diagnóstico que ayuda a comprobar el estado de los discos duros, ya sean internos, externos o extraíbles.

  %concept
    %names Polímetro
    %tags herramienta, monitorización, diagnóstico, nivel, hardware, medir, tensión, resistencia
    %def El [*] se utiliza para medir magnitudes eléctricas en diferentes ámbitos de la electrotécnica y de la electrónica.
    %def El [*] permite realizar distintos tipos de medición como son: tensiones contínuas y alternas, y las resistencias.

  %concept
    %names Téster, tester
    %tags herramienta, monitorización, diagnóstico, nivel, hardware, medir, tensión, resistencia
    %def Un [*] es una herramienta indispensable cuando se trabaja con redes que permite comprobar cables de red, instalaciones y adaptadores de red.

  %concept
    %names TuneUp
    %tags herramienta, programa, optimización, sistema, Windows
    %def [*] es una suite de optimización del sistema.
    %table{ :fields => 'funciones-del-programa' }
      %row Desfragmentador de disco duro
      %row Limpiador del Registro de Windows
      %row Eliminador de ficheros innecesarios
      %row Desinstalador de programas
      %row Editor del inicio de sistema
      %row Un panel para personalizar el aspecto de Windows
