%map{ :version => '1', :lang => 'es', :context=>'hardware, normativa, ley, prevención, lprl' }

  %concept
    %names riesgo-laboral
    %tags posibilidad, trabajador, sufra, daño, deriva, trabajo
    %def La posibilidad de que un trabajador sufra un determinado daño derivado del trabajo. Para calificar un [*] desde el punto de vista de su gravedad se valorará conjuntamente la probabilidad de que se produzca el daño y la severidad del mismo.
    %def [*] grave o inminente. Aquel que resulte probable racionalmente que se materialice en un futuro inmediato y pueda suponer un daño grave para la salud de los trabajadores.
    %table{ :fields => 'factor-de-riesgo,descripción' }
      %row
        %col Instalaciones de energía eléctrica
        %col Los sistemas informáticos se alimentan con energía eléctrica pudiendo esta ocasionar descargas eléctricas en el trabajador.
      %row
        %col Materiales con riesgo de incendio
        %col Debido a cortocircuitos eléctricos se pueden ocasionar incendios no solo en el ordenador sino también en la instalación eléctrica del edificio.
      %row
        %col Manipulación de herramientas
        %col La utilización de herramientas presenta un riesgo para el trabajador.
      %row
        %col Posturas forzadas
        %col La postura que adoptemos en el desarrollo de nuestro trabajo cotidiano puede ser origen de problemas físicos en el trabajador.
      %row
        %col Manipulación de cargas
        %col El transporte de material pesado puede ocasionar daños físicos en el trabajador.
      %row
        %col Carga mental
        %col La concentración durante largos periodos de tiempo por parte del trabajador puede ser también un factor de riesgo.
      %row
        %col Corte
        %col Originados por el uso de herramientas con filo, punzantes (destornilladores, navajas pela hilos, etc.) y a través de elementos metálicos del propio ordenador (chapas, chasis, etc.).
      %row
        %col Aplastamiento
        %col  Se pueden producir por caídas de “materiales pesados” (cajas, monitores, etc.) así como por pellizcarse al cerrar la carcasa del ordenador.
      %row
        %col Toxicidad
        %col Algunos componentes electrónicos pueden ser tóxicos por lo que estamos expuestos a este tipo de accidentes.
    %table{ :fields => 'factor-de-riesgo,descripción' }
      %row
        %col Riesgo de choque eléctrico
        %col Es cuando el cuerpo humano se ve sometido a una corriente eléctrica por tocar simultáneamente dos puntos que estén a distinto potencial (un polo positivo y otro negativo).
      %row
        %col Riesgo de incendio
        %col Viene cuando se origina una intensidad excesiva en algún punto de la instalación o en aparato eléctrico, por ejemplo un ordenador.
    %table{ :fields => 'factor-de-riesgo,descripción' }
      %row
        %col Fatiga visual
        %col Aparece por las inadecuadas condiciones del trabajo con pantallas: Distancia inadecuada, Discordancia entre la iluminación, Deficiencias de los caracteres, Existencia de reflejos y deslumbramientos.
      %row
        %col Trastornos músculo-esqueléticos
        %col Causados por diseño inadecuado del puesto de trabajo
      %row
        %col Problemas en la piel
        %col Una atmósfera poco húmeda, la electricidad estática y el estrés contribuyen a generar problemas en la piel. Los síntomas más comunes son: manchas rojas en la cara, irritaciones, descamación y sensación de acaloramiento.
      %row
        %col Salud general y estrés
        %col Una mala organización del trabajo, el exceso de trabajo en tiempo o intensidad y la falta de control sobre las condiciones de trabajo incrementan los niveles de estrés.
      %row
        %col Riesgo reproductivo
        %col Mal diseño ergonómico del puesto, estrés y falta de control sobre el trabajo

  %concept
    %names prevención
    %tags medida, trabajo, prevenir, riesgos, daño, trabajador
    %def El conjunto de actividades o medidas adoptadas o previstas en todas las fases de actividad de la empresa con el fin de evitar o disminuir los riesgos derivados del trabajo.
    %def Los siniestros en los puestos de trabajo pueden darse por condiciones medioambientales del centro de trabajo, condiciones físicas del trabajo, condiciones del puesto de trabajo y condiciones derivadas del sistema organizativo del trabajo. Cada riesgo laboral lleva consigo un plan de [***] para evitarlo o aminorar su gravedad.
    %table{ :fields => 'norma-seguridad-taller' }
      %row Flexionar las rodillas al levantar objetos pesados, de esta forma evitaremos lesiones en la espalda.
      %row Quitarse anillos, pulseras, reloj, cadenas etc.
      %row Ajustarse la ropa.
      %row Desconectar la alimentación eléctrica y el equipo antes de realizar el trabajo.
      %row Nunca abra una fuente de energía ni un monitor (y menos con la pulsera antiestática puesta).
      %row No toque las partes de las impresoras que estén calientes o que tengan alto voltaje.
      %row Conozca dónde está ubicado el extintor y cómo utilizarlo.
      %row Mantenga limpia y ordenada el área de trabajo.
      %row Mantenga las bebidas y los alimentos lejos del área de trabajo.
      %row Cubra con cinta los bordes afilados del interior del gabinete (carcasa) de la computadora.
    %table{ :fields => 'elemento,consejo' }
      %row
        %col Uso de la pantalla
        %col En lo que concierne a la colocación de la [*], se recomienda situarla a una distancia superior a 400 mm. , respecto a los ojos del usuario y a una altura tal que pueda ser visualizada dentro del espacio comprendido entre la línea de visión horizontal y la trazada a 60o bajo la horizontal.
      %row
        %col En relación al diseño del teclado
        %col Deberá ser inclinable e independiente de la pantalla. La superficie del mismo deberá ser mate. Los símbolos de las teclas deberán resaltar suficientemente y ser legibles desde la posición normal de trabajo.
      %row
        %col En el uso del teclado
        %col Tendrá que haber espacio suficiente delante del mismo para que el usuario pueda apoyar los brazos y las manos.
      %row
        %col Diseño de la superficie de trabajo
        %col Deberán ser poco reflectantes, tener dimensiones suficientes y permitir una colocación flexible de la pantalla, del teclado, de los documentos y del material accesorio. El soporte de los documentos deberá ser estable y regulable y estará colocado de tal modo que se reduzcan al mínimo los movimientos incómodos de la cabeza y los ojos. El espacio deberá ser suficiente para permitir a los trabajadores una posición cómoda.
      %row
        %col Diseño del asiento de trabajo
        %col Deberá ser estable, proporcionando al usuario libertad de movimiento y procurándole una postura confortable. La altura del mismo deberá ser regulable. El respaldo deberá ser reclinable y su altura ajustable. Se pondrá un reposapiés a disposición de quienes lo deseen.
      %row
        %col Iluminación
        %col Deberá garantizar unos niveles adecuados y unas relaciones adecuadas de luminancias entre la pantalla y su entorno, habida cuenta del carácter del trabajo, de las necesidades visuales del usuario y del tipo de pantalla utilizado. El acondicionamiento del lugar de trabajo y del puesto de trabajo, así como la situación y las características técnicas de las fuentes de luz artificial, deberán coordinarse de tal manera que se eviten los deslumbramientos y los reflejos molestos en la pantalla u otras partes del equipo.
      %row
        %col Reflejos y los deslumbramientos
        %col Los puestos de trabajo deberán instalarse de tal forma que las fuentes de luz, tales como ventanas y otras aberturas, los tabiques transparentes o translúcidos y los equipos o tabiques de color claro no provoquen deslumbramiento directo ni produzcan reflejos molestos en la pantalla. Las ventanas deberán ir equipadas con un dispositivo de cobertura adecuado y regulable para atenuar la luz del día que ilumine el puesto de trabajo.
      %row
        %col El ruido
        %col El [*] producido por los equipos instalados en el puesto de trabajo deberá tenerse en cuenta al diseñar el mismo, en especial para que no se perturbe la atención ni la palabra.
      %row
        %col El calor
        %col Los equipos instalados en el puesto de trabajo no deberán producir un [***] adicional que pueda ocasionar molestias a los trabajadores.
      %row
        %col Emisiones de radiación
        %col Toda [*], excepción hecha de la parte visible del espectro electromagnético, deberá reducirse a niveles insignificantes desde el punto de vista de la protección de la seguridad y de la salud de los trabajadores.

  %concept
    %names condición-de-trabajo
    %tags característica, trabajo, influencia, riesgos, daño, trabajador
    %def Cualquier característica del trabajo que pueda tener una influencia significativa en la generación de riesgos para la seguridad y la salud del trabajador.

  %concept
    %names daños-derivados-del-trabajo
    %tags enfermedad, daño, trabajador, trabajo
    %def Las enfermedades, patologías o lesiones sufridas con motivo u ocasión del trabajo.

  %concept
    %names equipo-de-trabajo
    %tags aparato, utilizado, trabajador, trabajo
    %def Un [*] es cualquier máquina, aparato, instrumento o instalación utilizada en el trabajo.

  %concept
    %names puesto-de-trabajo
    %tags utilizado, trabajador, trabajo
    %def [*] es el constituido por un equipo con pantalla de visualización provista, en su caso, de un teclado o dispositivo de adquisición de datos, de un programa para la interconexión persona/máquina, de accesorios ofimáticos y de un asiento y mesa o superficie de trabajo, así como el entorno laboral inmediato.

  %concept
    %names trabajador
    %tags utilizado, trabajador, trabajo
    %def Cualquier persona que habitualmente y durante una parte relevante de su trabajo normal utilice un equipo con pantalla de visualización.
