%map{ :version => '1', :lang => 'es', :context=>'hardware, diagnóstico, problemas' }

  %concept
    %names comprobar-hardware
    %tags hardware, diagnóstico, problemas, resolver, primer, inicio
    %table{ :fields => 'comprobaciones-antes-del-primer-encendido-del-equipo', :sequence => 'Secuencia ordenda de pasos para montar e iniciar un equipo' }
      %row Comprobar que todos los componentes son compatibles y que ensamblándolos juntos no debería haber problemas.
      %row Enchufar el cable de alimentación al equipo.
      %row Encender el equipo por primera vez.
      %row Aparece por pantalla el logo de la placa base (hay veces que aparece tan rápido que prácticamente no se ve)
      %row El equipo muestra un mensaje avisando de que no hay sistema operativo.
    %table{ :fields => 'comprobaciones-al-montar-componentes-del-equipo' }
      %row La placa está correctamente fijada al chasis.
      %row El microprocesador está correctamente alojado y el sistema de refrigeración (normalmente disipador + ventilador) están sujetos correctamente.
      %row Los lectores ópticos y los discos están correctamente fijados al chasis.
      %row Los lectores ópticos tienen correctamente conectados los cables de datos y de alimentación.
      %row En caso de dispositivos IDE comprobar que la configuración de los Jumper sea la correcta.
      %row Se ha conectado la alimentación de la placa base y micro.
      %row Los conectores frontales del equipo (USB, sonido, leds de power, disco duro, reset. .. ) están correctamente conectados.
      %row Las tarjetas de expansión están correctamente alojadas y sujetas.
      %row Ventiladores extra están correctamente conectados.
      %row Los cables del interior de la caja están recogidos y sujetos por bridas u otro sistema de enganche.
      %row El monitor, teclado y el ratón están conectados al equipo.
      %row El cable de alimentación está conectado y tiene corriente.
    %def En el proceso [*], cuando se enciende un equipo y se escucha un único pitido corto, éste es síntoma de que la BIOS ha realizado el chequeo rutinario y todo ha ido bien. Si el equipo no tiene altavoz no sonará nada.

  %concept
    %names avería, problema-hardware
    %tags hardware, diagnóstico, problemas, resolver
    %def Para la detección de un/a [*] es necesario conocer bien los síntomas, dependiendo de los síntomas que se aprecien en el equipo se optará por una opción u otra.
    %table{ :fields => 'problema,síntomas' }
      %row
        %col Fallo en la pila o batería.
        %col Si durante el inicio del PC aparece uno de los mensajes siguientes: CMOS wrong, CMOS MEMORY size WRONG, CMOS Checksum Bad, CMOS checksum error defaults loaded, Press F1 to resume, Press F2 to load default values and continue
      %row
        %col Fallo de la fuente de alimentación.
        %col Cualquier unidad de almacenamiento o ventilador, conectado directamente a ella, no funcione.
    %table{ :fields => 'problema,como-resolverlo' }
      %row
        %col Fallo en la pila o batería.
        %col Cambiar la pila y a continuación volver a definir la configuración del PC a través del SETUP.
      %row
        %col Fallo en la placa base.
        %col Comprobar las conexiones de todos los componentes, desconectar y conectar de nuevo los componentes como la memoria procesador y tarjeta de vídeo.
      %row
        %col Fallo de la fuente de alimentación.
        %col Medir los distintos voltajes de los cables del conector en cuestión.
      %row
        %col Ruido en el ventilador.
        %col Proporcionar un poco de lubricante (tres en uno u otro similar) en el centro del espiral.
    %table{ :fields => 'acciones-para-resolver-problemas-con-el-microprocesador' }
      %row Comprobar que el microprocesador está insertado correctamente en su zócalo.
      %row Verificar que todos los puentes de configuración de la tarjeta madre están colocados en función del tipo del microprocesador que tenemos instalado.
      %row Nos aseguraremos que el resto de los componentes imprescindibles para que funcione el sistema están correctamente montados, especialmente la fuente de alimentación, la memoria RAM y la tarjeta de vídeo.
      %row Probaremos con otro microprocesador, o con otra placa base, hasta que encontremos el fallo.
