%map{ :version => '1', :lang => 'es', :context=>'hardware, cpd, almacenamiento, san, iscsi' }

  %concept
    %names NAS
    %tags almacenamiento,conectar,red,CIFS
    %def [*] son las siglas en inglés de almacenamiento conectado en red.
    %def [*] son las siglas de Network Attached Storage.
    %def [*] es el nombre dado a una tecnología de almacenamiento dedicada a compartir la capacidad de almacenamiento de un computador (servidor) con computadoras personales o servidores clientes a través de una red (normalmente TCP/IP), haciendo uso de un sistema operativo optimizado para dar acceso con los protocolos CIFS, NFS, FTP o TFTP.
    %def Los sistemas [*] son dispositivos de almacenamiento a los que se accede desde los equipos a través de protocolos de red (normalmente TCP/IP).
    %def Se podría considerar un sistema [*] a un servidor (Microsoft Windows, Linux, etcétera) que comparte sus unidades por red, pero la definición suele aplicarse a sistemas específicos.

  %concept
    %names SAN
    %tags red,área,almacenamiento
    %def [*] son las siglas de red de área de almacenamiento.
    %def Una [*] es una red dedicada al almacenamiento que está conectada a las redes de comunicación de una compañía. Además de contar con interfaces de red tradicionales, los equipos con acceso a la [*] tienen una interfaz de red específica que se conecta a la [*].
    %def El rendimiento de la [*] está directamente relacionado con el tipo de red que se utiliza. En el caso de una red de canal de fibra, el ancho de banda es de aproximadamente 100 megabytes/segundo y se puede extender aumentando la cantidad de conexiones de acceso.
    %def La capacidad de una [*] se puede extender de manera casi ilimitada y puede alcanzar cientos y hasta miles de terabytes.
    %def Una [*] permite compartir datos entre varios equipos de la red sin afectar el rendimiento porque el tráfico de [*] está totalmente separado del tráfico de usuario. Son los servidores de aplicaciones que funcionan como una interfaz entre la red de datos (generalmente un canal de fibra) y la red de usuario (por lo general Ethernet).
    %def Una [*] es mucho más costosa que un almacenamiento conectado en red ya que la primera es una arquitectura completa que utiliza una tecnología que todavía es muy cara.
    %def Además es una red concebida para conectar servidores, matrices (arrays) de discos y librerías de soporte. Principalmente, está basada en tecnología fibre channel y más recientemente en iSCSI.

  %concept
    %names DAS
    %tags almacenamiento,conectar,directo
    %def [*] son las siglas de almacenamiento de conexión directa.
    %def [*] son las siglas de Direct Attached Storage.
    %def [*] es el método tradicional de almacenamiento y el más sencillo. Consiste en conectar el dispositivo de almacenamiento directamente al servidor o estación de trabajo, es decir, físicamente conectado al dispositivo que hace uso de él.
    %def Tanto en [*] como en Storage Area Network, las aplicaciones y programas de usuarios hacen sus peticiones de datos al sistema de archivos directamente. La diferencia entre ambas tecnologías reside en la manera en la que dicho sistema de archivos obtiene los datos requeridos del almacenamiento.
    %def En un [*], el almacenamiento es local al sistema de archivos, mientras que en un SAN, el almacenamiento es remoto.

  %concept
    %names iSCSI
    %tags almacenamiento,san,iscsi,scsi,red
    %def [*] es la abreviatura de Internet SCSI
    %def [*] es un estándar que permite el uso del protocolo SCSI sobre redes TCP/IP.
    %def La fabricación de almacenamientos basados en [*] es menos costosa y está resultando una alternativa a las soluciones SAN basadas en Canal de fibra.
    %table{ :fields => 'comando,descripción'}
      %row
        %col dd if=/dev/zero of=/home/disco01.img bs=1M count=500
        %col Creamos un fichero lleno de ceros en /home con un tamaño 500MB
      %row
        %col du -sh /home/disco01.img
        %col Consultar el tamaño del fichero /home/disco01.img
      %row
        %col zypper in yast2-iscsi-lio-server
        %col Instalar el software para crear un Target iSCSI y sus dependencias en OpenSUSE
      %row
        %col systemctl status target.service
        %col Consultar el estado del servicio iSCSI Target en OpenSUSE
      %row
        %col systemctl start target.service
        %col Iniciar el servicio iSCSI Target en OpenSUSE
      %row
        %col systemctl stop target.service
        %col Parar el servicio iSCSI Target en OpenSUSE
      %row
        %col systemctl enable target.service
        %col Configurar el servicio iSCSI Target en OpenSUSE para iniciarse en el arranque
      %row
        %col systemctl disable target.service
        %col Configurar el servicio iSCSI Target en OpenSUSE para que no se inicie en el arranque
      %row
        %col zypper se open-iscsi yast2-iscsi-client
        %col Comprobar que tenemos instalado el software iniciador iSCSI en OpenSUSE
      %row
        %col fdisk -l
        %col Consultar los discos y particiones de la máquina local
      %row
        %col iscsiadm -m discovery -t sendtargets -p IP-DEL-TARGET
        %col Descubrir los destinos disponibles que ofrece un target concreto
      %row
        %col iscsiadm -m node --targetname iqn.2017-05.curso1617.vargas42g:test -p IP-TARGET --login
        %col Desde un iniciador, nos conectamos a un destino de un target concreto
      %row
        %col lsscsi
        %col Encontrar la ruta del dispositivo local para el dispositivo Target iSCSI al que nos hemos conectado
      %row
        %col more /etc/iscsi/initiatorname.iscsi
        %col Consultamos el nombre de nuestro iniciador iSCSI

  %concept
    %names target
    %tags target,iscsi,servidor,ofrece,almacenamiento
    %def En iSCSI, [*] es el nombre de la máquina que ofrece el almacenamiento iSCSI
    %def En iSCSI, la máquina [*] tiene una interfaz de red en la LAN de almacenamiento
    %def El puerto, donde trabaja por defecto el servicio [*] iSCSI, es el 3260

  %concept
    %names initiator, iniciador
    %tags initiator,iniciador,iscsi,servidor,consume,almacenamiento
    %def En iSCSI, el [*] es el nombre de la máquina que consume el almacenamiento
    %def En iSCSI, la máquina [*] tiene una interfaz de red en la LAN de almacenamiento y la otra en la LAN de la empresa.

  %concept
    %names iqn
    %tags idintificador,iscsi,máquina,servidor,host
    %def [*] es el nombre de los identificadores de las máquinas iSCSI
    %def Ejemplos de [*] válidos: iqn.2005-02.au.com.empresa:san.200G.samba, iqn.2017-05.curso1617.target42:test.

  %concept
    %names lun
    %tags dispositivo,iscsi,almacenamiento
    %def [*] es el nombre de los dispositivos de almacenamiento en la jerga iSCSI
    %def Los [*], se definen en la máquina Target iSCSI y pueden ser discos reales, discos virtuales o ficheros, etc.
    %table{ :fields => 'configuración, descripción'}
      %row
        %col Lun 0 Path=/home/dispositivo1.img,Type=fileio
        %col Configura un fichero como dispositivo de almacenamiento iSCSI
      %row
        %col Lun 1 Path=/dev/sdb,Type=fileio
        %col Configura un disco como dispositivo de almacenamiento iSCSI
