%map{ :version => '1', :lang => 'es', :context=>'sistemas operativos, clientes ligeros, acceso remoto' }

  %concept
    %names ltsp
    %tags clientes,ligeros,linux,terminal,server,project
    %def [*] son un conjunto de aplicaciones servidores que proporcionan la capacidad de ejecutar Linux en computadores de pocas prestaciones de velocidad o de bajo costo, permitiendo reutilizar equipos que actualmente resultan obsoletos debido a los altos requisitos que piden los sistemas operativos.
    %table{ :fields => 'características' }
      %row
        Se requieren dos interfaces de red
      %row
        Los clientes arrancan por la tarjeta de red

  %concept
    %names vnc
    %tags programa,acceso,remoto,entorno,gráfico,abierto
    %def [*] es un programa de software libre basado en una estructura cliente-servidor el cual permite tomar el control del ordenador servidor remotamente a través de un ordenador cliente. También llamado software de escritorio remoto. [***] no impone restricciones en el sistema operativo del ordenador servidor con respecto al del cliente: es posible compartir la pantalla de una máquina con cualquier sistema operativo que soporte [***] conectándose desde otro ordenador o dispositivo que disponga de un cliente [***] portado.
    %table{ :fields => 'características' }
      %row
        Es un programa de software libre
      %row
        Permite tomar el control de un ordenador de forma remota
    %table{ :fields => 'atributo,valor' }
      %row
        %col Puerto por defecto donde da servicio
        %col 5900

  %concept
    %names RDP
    %tags programa,acceso,remoto,entorno,gráfico,privativo
    %def [*] es un protocolo propietario desarrollado por Microsoft que permite la comunicación en la ejecución de una aplicación entre un terminal (mostrando la información procesada que recibe del servidor) y un servidor (recibiendo la información dada por el usuario en el terminal mediante el ratón ó el teclado).
    %table{ :fields => 'atributo,valor' }
      %row
        %col Puerto donde da servicio, por defecto
        %col 3389

  %concept
    %names SSH, Secure Shell
    %tags protocolo, acceso, remoto, shell, segura
    %def Nombre de un protocolo y del programa que implementa intérprete de órdenes seguro.
    %def Protocolo/herramienta que sirve para acceder a máquinas remotas a través de una red de forma segura, mediante un intérprete de comandos.
    %table{ :fields => 'comando,descripción' }
      %row
        %col ssh-keygen
        %col Generar par de claves pública/privada para el usuario actual
      %row
        %col scp fichero.iso usuario@host2
        %col Copia el fichero en la máquina local, pero con otro nombre
      %row
        %col scp fichero.iso usuario@host2:/home/usuario
        %col Copia el fichero en la máquina remota host2
      %row
        %col ssh usuario@host2
        %col Se intenta abrir una conexión SSH con la máquina host2
      %row
        %col ssh usuario@localhost
        %col Se intenta abrir una conexión SSH con la máquina local
      %row
        %col ssh usuario@host2:/home/usuario
        %col Error ssh: "Could not resolve hostname"
    %table{ :fields => 'atributo,valor' }
      %row
        %col Puerto donde da servicio, por defecto
        %col 22
