%map{ :version => '1',  :lang => 'es',  :context => 'charla, trim, 1, empresa'}

  %concept
    %names unreal, unreal game engine
    %tags game, engine, motor, videojuegos, epic
    %def [*] es el motor de videojuegos que nos mostraron en la charla.

  %concept
    %names unity
    %tags game, engine, motor, videojuegos

  %concept
    %names godot
    %tags game, engine, motor, videojuegos, software, libre

  %concept
    %names panda
    %tags game, engine, motor, videojuegos, disney

  %concept
    %names Epic Games
    %tags empresa, desarrollar, unreal, game, engine
    %def Nombre de la empresa que desarrolló el motor de la charla.

  %concept
    %names Microsoft
    %tags empresa, crear, xbox

  %concept
    %names Disney
    %tags empresa, desarrollar, panda

  %concept
    %names Crytec
    %tags empresa, desarrollar, crytec, game, engine
