%map{ :version => '1',  :lang => 'es',  :context => 'charla, trim, 1, empresa'}

  %concept
    %names unreal
    %tags game, engine, motor, videojuegos, epic
    %def [*] es el motor de videojuegos que nos mostraron en la charla.
    %table{:fields => 'atributo,valor'}
      %row
        %col Número de personas que vinieron de la empresa
        %col 4
      %row
        %col Empresa que desarrolló el motor
        %col Epic Games
      %row
        %col En qué está inspirado la simulación que hicieron
        %col La batalla de la Victoria

  %concept
    %names unity
    %tags game, engine, motor, videojuegos

  %concept
    %names godot
    %tags game, engine, motor, videojuegos, software, libre

  %concept
    %names panda
    %tags game, engine, motor, videojuegos, disney
