%map{:version => '1', :lang => 'es', :context => 'sistemas operativos, comando'}

  %concept
    %names systemctl
    %tags control, systemd, sistema, gestor, servicio
    %def Comando para controlar los servicios gestionados por systemd
    %table{:fields => 'comando, descripci칩n'}
      %row
        %col systemctl status NAME
        %col Muestra informaci칩n del estado del servicio NAME
      %row
        %col systemctl stop NAME
        %col Para el servicio NAME
      %row
        %col systemctl start NAME
        %col Inicia el servicio NAME
      %row
        %col systemctl enable NAME
        %col Activa el inicio autom치tico del servicio NAME
      %row
        %col systemctl disable NAME
        %col Desactiva el inicio autom치tico del servicio NAME
