%map{ :version => '1', :lang => 'es', :context=>'git, herramienta, control, versiones, markdown' }

  %concept
    %names git
    %tags herramienta, control, versiones
    %def Es un software de control de versiones diseñado por Linus Torvalds.
    %table{ :fields => 'comando,descripción' }
      %row
        %col apt-get install -y git
        %col Instalar git en sistemas operativos basados en Debian/Ubuntu
      %row
        %col zypper in git
        %col Instalar git en sistemas basados en OpenSUSE
      %row
        %col git init
        %col Crea un repositorio nuevo en la carpeta actual
      %row
        %col git clone username@host:/path/to/repository
        %col Crea una copia de un repositorio ubicado en un servidor remoto
      %row
        %col git clone /path/to/repository
        %col Crea una copia de un repositorio local
      %row
        %col git status
        %col Para consultar y comprobar los cambios en los ficheros locales
      %row
        %col gitk
        %col Interfaz gráfica para consultar los cambios entre commits
      %row
        %col git add FILENAME
        %col Registra sólo los cambios de FILENAME
      %row
        %col git add .
        %col Registra todos los cambios de todos los archivos
      %row
        %col git commit -m "Commit message"
        %col Graba los cambios, (Ahora los cambios están incluídos en el HEAD de tu copia local), pero aún no están en el repositorio remoto
      %row
        %col git push
        %col Enviar los cambios de la copia local a tu repositorio remoto
      %row
        %col git config --global user.email "..."
        %col Configurar el email del usuario
      %row
        %col git config --global user.name "..."
        %col Configurar el nombre del usuario
      %row
        %col git pull
        %col Actualizar tu repositorio local al commit más nuevo del repositorio remoto
    %table{ :fields => 'Tareas/acciones con git', :sequence => 'Secuencia ordenada de tareas a realizar cada día de trabajo' }
      %row Ir al directorio de trabajo con la copia de nuestro repositorio local
      %row git pull
      %row Crear, modificar y borrar ficheros
      %row git status
      %row git add FICHEROS
      %row git commit -m "Message"
      %row git push

  %concept
    %names Markdown
    %tags lenguaje, marcas
    %def Es un lenguaje de marcado ligero creado por John Gruber que trata de conseguir la máxima legibilidad y facilidad de publicación tanto en su forma de entrada como de salida.
    %table{ :fields => 'características'}
      %row Es un lenguaje de marcado que usa texto plano.
      %row Se distribuye bajo licencia BSD.
      %row Se distribuye como plugin (o al menos está disponible) en diferentes sistemas de gestión de contenidos (CMS).
      %row Convierte el texto marcado en documentos XHTML utilizando html2text creado por Aaron Swartz.

  %concept
    %names HTML
    %tags lenguaje, marcas, pagina, web
    %def Lenguaje de marcado para la elaboración de páginas web.
    %def Lenguaje que nos permite definir el contenido de una página web, como texto, imágenes, videos, juegos, entre otros.
    %def Es el estándar que se ha impuesto en la visualización de páginas web y es el que todos los navegadores actuales han adoptado.

  %concept
    %names Atom
    %tags editor, textos
    %def Es un editor de código de fuente de código abierto para macOS, Linux, y Windows​ desarrollado por GitHub.
    %table{ :fields => 'características' }
      %row Soporte para plugins escritos en Node.js
      %row Control de versiones Git integrado
      %row Desarrollado por GitHub.
      %row La mayor parte de los paquetes tienen licencias de software libre y está desarrollados y mantenidos por la comunidad de usuarios
