%map{ :version => '1', :lang => 'es', :context=>'devops,herramienta,gestionar,infraestructura' }

  %concept
    %names puppet
    %tags herramienta,gestionar,infraestructura,ruby
    %table{:fields => 'características'}
      %row Está escrito en Ruby
      %row Licencia Apache 2.0
      %row Multiplataforma
      %row Lenguaje declarativo basado en Ruby
    %def Es una herramienta de gestión de la configuración / infraestructura de código abierto con lenguaje declarativo.
    %def Es una herramienta diseñada para administrar la configuración de sistemas operativos de forma declarativa.
    %def El usuario describe los recursos del sistema y sus estados utilizando el lenguaje declarativo que proporciona [*].
    %def La información que maneje es almacenada en archivos denominados manifiestos.
    %def Los manifiestos se compilan en un catálogo específico del sistema. Luego los catálogos son ejecutados en los sistemas de destino.

  %concept
    %names ansible
    %tags herramienta,gestionar,infraestructura,python

  %concept
    %names chef
    %tags herramienta,gestionar,infraestructura,ruby
