%map{ :version=>'1', :lang=>'es', :context=>'scripting, ruby, string, textos' }

  %concept
    %names{:type => 'image_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo01.rb
    %tags programa, ruby, puts, string
    %table{ :fields => 'características' }
      %row El programa se ejecuta con "ruby nombrefichero.rb"
      %row El programa da un error cuando se ejecuta con "./nombrefichero.rb"
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"

  %concept
    %names{:type => 'image_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo02.rb
    %tags programa, ruby, puts, string
    %table{ :fields => 'características' }
      %row El programa se ejecuta con "ruby nombrefichero.rb"
      %row El programa se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"

  %concept
    %names{:type => 'image_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo05.rb
    %tags programa, ruby, puts, string, variable
    %table{ :fields => 'características' }
      %row El programa se ejecuta con "ruby nombrefichero.rb"
      %row El programa se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"
      %row El programa usa una variable de tipo String

  %concept
    %names{:type => 'image_url'} https://github.com/dvarrui/libro-de-actividades/blob/master/explicaciones/ruby/demos/demo06.rb
    %tags programa, ruby, puts, string, variable, concatenar
    %table{ :fields => 'características' }
      %row El programa se ejecuta con "ruby nombrefichero.rb"
      %row El programa se ejecuta con "./nombrefichero.rb" si tiene permisos de ejecución
      %row Al ejecutarse muestra en pantalla el texto "Hello World!"
      %row El programa usa una variable de tipo String
      %row El programa concatena Strings para formar otro mayor
