%map{ :version => '1', :lang => 'es', :context=>'devops,herramienta,automatización,sysadmin' }

  %concept
    %names vagrant
    %tags herramienta,programa,automatizar,máquinas,virtuales
    %def [*] es una herramienta para la creación y configuración de entornos de desarrollo virtualizados.
    %def Originalmente se desarrolló [*] para VirtualBox y sistemas de configuración tales como Chef, Salt y Puppet. Sin embargo es capaz de trabajar con múltiples proveedores, como VMware, Amazon EC2, LXC, DigitalOcean, etc.
    %table{:fields => 'características'}
      %row Se ha desarrollado en Ruby se puede usar en multitud de proyectos escritos en otros lenguajes.
      %row Para configurar cada máquina virtual se usa un fichero llamado Vagrantfile.
      %row Existen repositorios (Por ejemplo https://atlas.hashicorp.com/boxes/search y http://www.vagrantbox.es/) donde podemos descargar cajas/boxes de [*].
    %table{:fields => 'comando,descripción'}
      %row
        %col apt-get install vagrant
        %col Instala Vagrant en Debian/Ubuntu
      %row
        %col zypper install vagrant
        %col Instala Vagrant en OpenSUSE
      %row
        %col vagrant version
        %col Muestra la versión de vagrant instalada
      %row
        %col vagrant init
        %col Crear el fichero Vagrantfile en la ruta actual
      %row
        %col vagrant box list
        %col Muestra las cajas/boxes disponibles en nuestro equipo local
      %row
        %col vagrant box add ubuntu http://files.vagrantup.com/precise32.box
        %col Descarga una caja en nuestro equipo y le asigna el nombre ubuntu
      %row
        %col vagrant up
        %col Para iniciar una nueva instancia de la MV
      %row
        %col vagrant ssh
        %col Conectar/entrar en nuestra máquina virtual usando SSH
      %row
        %col vagrant suspend
        %col Suspender la máquina virtual (ponerla en pausa)
      %row
        %col vagrant resume
        %col Volver a despertar/activar la máquina virtual que estaba en pausa
      %row
        %col vagrant halt
        %col Apagarla la máquina virtual
      %row
        %col vagrant status
        %col Muestra el estado actual de la máquina virtual
      %row
        %col vagrant destroy
        %col Para eliminar la máquina virtual (No los ficheros de configuración)
      %row
        %col vagrant reload
        %col Se aplican los cambios de configuración en la MV (excepto la provisión)
      %row
        %col vagrant provision
        %col Se vuelve a ejecutar la provisión en la MV
      %row
        %col nmap -p 4500-4600 localhost
        %col Escanear un rango de puertos de la propia máquina
      %row
        %col netstat -ntap
        %col Muestra las conexiones de red de la máquina así como los servicios que están en escucha
      %row
        %col vagrant package --base MVNAME
        %col Crea un caja/box vagrant de la MV con el nombre MVNAME
      %row
        %col vagrant box add BOXNAME package.box
        %col Añade la caja/box vagrant BOXNAME, a partir del fichero package.box
    %table{:fields => 'configuración Vagranfile,descripción'}
      %row
        %col config.vm.box = "base"
        %col Define el nombre de la caja/box local que vamos a usar para construir nuestra MV.
      %row
        %col config.vm.network :forwarded_port, host: 4567, guest: 80
        %col Redirige el tráfico del puerto 4567 de la máquina real al puerto 80 de la máquina virtual
      %row
        %col config.vm.provision :shell, :path => "install_apache.sh"
        %col Ejecuta un shell script en el momento de provisionar la máquina virtual
      %row
        %col config.vm.provision "shell", inline: "echo 'Hola'"
        %col Ejecuta un comando del sistema en el momento de provisionar la máquina virtual
      %row
        %col config.ssh.username = 'root'
        %col Define el usuario que usará Vagrant en la conexión SSH con la MV
      %row
        %col config.ssh.password = 'vagrant'
        %col Define la clave que usará Vagrant en la conexión SSH con la MV
      %row
        %col %HOME/.vagrant.d/boxes
        %col Directorio por defecto donde se almacenan las cajas/boxes vagrant de nuestro usuario actual.
