%map{ :version => '1', :lang => 'es', :context=>'configuracion,vagrant,ejemplos,vagrantfile' }

  %file
    %type vagrantfile
    %path input/files/vagrant/Vagrantfile1

  %file
    %type vagrantfile
    %path input/files/vagrant/Vagrantfile2

  %file
    %type vagrantfile
    %path input/files/vagrant/Vagrantfile3

  %file
    %type vagrantfile
    %path input/files/vagrant/Vagrantfile4
