%map{ :lang => 'es', :context => 'fol, relacion, laboral', :version => '1'}

  %concept
    %names Relación laboral
    %tags relacion, trabajo, laboral
    %def [*] existe una persona física denominada trabajador que se compromete personal y voluntariamente a prestar sus servicios profesionales y el empresario, persona física o jurídica, quien dirige el trabajo y se obliga a abonar una retribución o salario al trabajador.
    %def Existirá una relación laboral siempre que se den los siguientes cinco requisitos:
    %table{ :fields => "requisitos, descripción"}
      %row
        %col Personal
        %col Es el propio trabajador como persona física el que debe acudir personalmente a trabajar, no puede enviar a nadie a trabajar por él, de ahí que sólo puedan ser contratadas las personas físicas pero no las personas jurídicas (Sociedades civiles, mercantiles, Fundaciones o Asociaciones).
      %row
        %col Voluntario
        %col Nadie está obligado a trabajar, por lo que en virtud del principio de libertad de trabajo éste debe ser prestado voluntariamente. Por ello, se puede renunciar al contrato preavisando conforme a unos plazos determinados.
      %row
        %col Retribuido
        %col El empresario asume los riesgos del trabajo y se atribuye íntegramente el beneficio económico que reporten los bienes o servicios producidos, obligándose a compensar al trabajador con una parte de ese beneficio económico, mediante el pago de la retribución o salario. No se trabaja por amistad o ayuda a otras personas.
      %row
        %col Dependiente
        %col El trabajador se halla sometido al poder disciplinario y de dirección del empresario, y se obliga a obedecer las órdenes e instrucciones que el empresario dicte en el ejercicio regular de sus facultades directivas.
      %row
        %col Por cuenta ajena
        %col Se dice que el trabajador presta servicios por cuenta ajena porque no asume los riesgos del trabajo, que serán asumidos por el empresario. El trabajador cobra un salario con cantidades prefijadas con independencia de si la empresa ha obtenido beneficios o pérdidas.
    %table{ :fields => "consecuencias" }
      %row Que el empresario y trabajador estarán obligados a pactar las condiciones laborales en un documento denominado contrato de trabajo, el cual podrá realizarse de forma oral o escrita.
      %row El empresario tendrá la obligación de dar de alta al trabajador en la Seguridad Social.
      %row En todo lo referente a derechos y deberes se aplicará la normativa laboral o derecho del trabajo.

  %concept
    %names derecho del trabajo
    %tags derecho, trabajo, laboral

  %concept
    %names normas
    %tags normas, trabajo, laboral

  %concept
    %names contrato
    %tags contrato

  %concept
    %names convenio colectivo
    %tags convenio, colectivo

  %concept
    %names costumbre laboral
    %tags costumbre laboral
