%map{ :version => '1' }
  %concept
    %names controlador-de-dominio
    %context sistemas operativos, dominio, samba
    %tags servidor, AD, DA, directorio activo, instalado
    %text Servidor Windows con AD instalado que almacena, mantiene y gestiona la base de datos de usuarios y recursos de la red.
  %concept
    %names Nombre-de-Dominio
    %context sistemas operativos, dominio, samba
    %tags denominación, equipo, red, equivale, ip
    %text Son las denominaciones asignadas a los ordenadores de la red, 'hosts', y 'routers', que equivalen a su dirección IP. En nuestro caso llamaremos a nuestro dominio "MICENTRO.EDU", que será el dominio raíz.
  %concept
    %names Árbol-de-Dominio
    %context sistemas operativos, dominio, samba
    %tags conjunto, dominio, formado, nombre, raiz, constituyen, espacio, nombres, contiguo
    %text Es el conjunto de dominios formado por el nombre de dominio raíz ("MICENTRO.EDU") y el resto de dominios cuyos nombres constituyen un espacio contiguo con el nombre raíz (por ejemplo si tuviéramos un subdominio "DPTO_LENGUA", se nombraría como "DPTO_LENGUA.MICENTRO.EDU", y formaría un árbol de dominios con el dominio raíz).
  %concept
    %names Bosque-de-Árboles-de-Dominios
    %context sistemas operativos, dominio, samba
    %tags conjunto, arbol, dominio, constituyen, espacio, nombres, no contiguo
    %text Es el conjunto de árboles de dominio que no constituyen un espacio de nombres contiguo (si nuestro servidor administrara otro dominio raíz de nombre "OTROCENTRO.EDU", este nuevo dominio, junto con el anterior ("MICENTRO.EDU") formarían el bosque de árboles de dominios).
  %concept
    %names Directorio-Activo, DA, AD, Active Directory
    %context sistemas operativos, dominio, samba
    %tags conjunto, arbol, dominio, constituyen, espacio, nombres, no contiguo
    %text Es el término que usa Microsoft para referirse a su implementación de servicio de directorio en una red distribuida de computadores. Utiliza distintos protocolos (principalmente LDAP, DNS, DHCP, Kerberos...).
    %text De forma sencilla se puede decir que es un servicio establecido en uno o varios servidores en donde se crean objetos tales como usuarios, equipos o grupos, con el objetivo de administrar los inicios de sesión en los equipos conectados a la red, así como también la administración de políticas en toda la red.
    %text Su estructura jerárquica permite mantener una serie de objetos relacionados con componentes de una red, como usuarios, grupos de usuarios, permisos y asignación de recursos y políticas de acceso.1
    %text Permite a los administradores establecer políticas a nivel de empresa, desplegar programas en muchos ordenadores y aplicar actualizaciones críticas a una organización entera. Almacena información de una organización en una base de datos central, organizada y accesible. Pueden encontrarse desde directorios con cientos de objetos para una red pequeña hasta directorios con millones de objetos.    
    %table{ :fields => 'ruta-absoluta-directorio,utilidad' }
      %title Directorios de la instalación del DA
      %row
        %col C:\WINDOWS\NTDS
        %col Ruta por defecto,donde almacenaremos la base de datos y el registro de Active Directory en Windows Server.
      %row
        %col C:\WINDOWS\SYSVOL
        %col Ruta por defecto, donde almacena la copia para los archivos públicos del dominio. El contenido de la carpeta se replica en todos los controladores de dominio dentro del dominio.
  %concept
    %names samba
    %conext sistemas operativos, dominio, samba 
    %tags implementación, libre, protocolo, SMB, CIFS, AD, dominio, controlador-de-dominio
    %text Es una implementación libre del protocolo de archivos compartidos de Microsoft Windows (antiguamente llamado SMB, renombrado recientemente a CIFS) para sistemas de tipo UNIX. 
    %text Con [...], es posible que computadoras con GNU/Linux, Mac OS X o Unix en general se vean como servidores o actúen como clientes en redes de Windows. 
    %text Permite validar usuarios haciendo de Controlador Principal de Dominio (PDC), como miembro de dominio e incluso como un dominio Active Directory para redes basadas en Windows; aparte de ser capaz de servir colas de impresión, directorios compartidos y autentificar con su propio archivo de usuarios.
