%map{ :lang => 'es', :version => '1'}

  %concept
    %names obiwan
    %tags maestro, jedi, profesor, anakin, skywalker, alumno, quigon-jinn
    %def Jedi, maestro de Anakin Skywalker
    %def Jedi, alumno de Quigon-Jinn
    %def Vive en Tatooine, cerca de la casa de Luke Skywalker
    %def{:type => 'image_url'} https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQgYLLr0mmBtdMoqqzxWT6OGWKeBBeTqGAQPgEkmVGIIKNKb8Yv

  %concept
    %names yoda
    %tags maestro, jedi

  %concept
    %names sidious
    %tags humano, maestro, sith, alumno, plagueis

  %concept
    %names maul
    %tags lord, sith, alumno, emperador
